oxygen-tei/frameworks/tei/xml/tei/custom/schema/dtd/tei_lite.dtd


<!--
DTD Generated 2013-07-26T11:01:48Z. This material is dual-licensed.
[http://creativecommons.org/licenses/by-sa/3.0/] Distributed under a Creative Commons Attribution-ShareAlike 3.0 Unported License  [http://www.opensource.org/licenses/BSD-2-Clause] Copyright 2013 TEI Consortium. All rights reserved. Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution. This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage. TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further information or clarification, please contact the TEI Consortium.
Edition: 2.5.0. Last updated on
	26th July 2013.
Edition Location: http://www.tei-c.org/Vault/P5/2.5.0/

-->

<!-- start datatypes -->

<!ENTITY % data.certainty '(high|medium|low|unknown)' >

<!ENTITY % data.probability ' CDATA ' >

<!ENTITY % data.numeric ' CDATA' >

<!ENTITY % data.count ' CDATA ' >

<!ENTITY % data.temporal.w3c ' CDATA' >

<!ENTITY % data.duration.w3c ' CDATA ' >

<!ENTITY % data.truthValue ' CDATA ' >

<!ENTITY % data.xTruthValue ' CDATA' >

<!ENTITY % data.language ' CDATA' >

<!ENTITY % data.namespace ' CDATA ' >

<!ENTITY % data.outputMeasurement ' CDATA ' >

<!ENTITY % data.pattern ' CDATA ' >

<!ENTITY % data.pointer ' CDATA ' >

<!ENTITY % data.version ' CDATA ' >

<!ENTITY % data.versionNumber ' CDATA ' >

<!ENTITY % data.replacement ' CDATA' >

<!ENTITY % data.word ' CDATA ' >

<!ENTITY % data.text ' CDATA ' >

<!ENTITY % data.name ' CDATA ' >

<!ENTITY % data.xmlName ' CDATA ' >

<!ENTITY % data.enumerated '%data.name;' >

<!ENTITY % data.duration.iso ' CDATA ' >

<!-- end datatypes -->

<!--predeclared classes -->

<!ENTITY % model.entryPart ""> 
<!ENTITY % model.entryPart_sequence ""> 
<!ENTITY % model.entryPart_sequenceOptional ""> 
<!ENTITY % model.entryPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.entryPart_sequenceRepeatable ""> 
<!ENTITY % model.resourceLike ""> 
<!ENTITY % model.resourceLike_sequence ""> 
<!ENTITY % model.resourceLike_sequenceOptional ""> 
<!ENTITY % model.resourceLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.resourceLike_sequenceRepeatable ""> 
<!ENTITY % att.global.linking.attribute.corresp '
corresp CDATA  #IMPLIED'>

<!ENTITY % att.global.linking.attribute.next '
next %data.pointer;  #IMPLIED'>

<!ENTITY % att.global.linking.attribute.prev '
prev %data.pointer;  #IMPLIED'>
<!ENTITY % att.global.linking.attributes '
 %att.global.linking.attribute.corresp;
 %att.global.linking.attribute.next;
 %att.global.linking.attribute.prev;'> 
<!ENTITY % att.global.analytic.attribute.ana '
ana CDATA  #IMPLIED'>
<!ENTITY % att.global.analytic.attributes '
 %att.global.analytic.attribute.ana;'> 
<!ENTITY % att.global.facs.attribute.facs '
facs CDATA  #IMPLIED'>
<!ENTITY % att.global.facs.attributes '
 %att.global.facs.attribute.facs;'> 
<!--end of predeclared classes -->

<!ENTITY % att.ascribed.attribute.who '
who CDATA  #IMPLIED'>
<!ENTITY % att.ascribed.attributes '
 %att.ascribed.attribute.who;'> 
<!ENTITY % att.canonical.attribute.key '
key %data.text;  #IMPLIED'>

<!ENTITY % att.canonical.attribute.ref '
ref CDATA  #IMPLIED'>
<!ENTITY % att.canonical.attributes '
 %att.canonical.attribute.key;
 %att.canonical.attribute.ref;'> 
<!ENTITY % att.ranging.attribute.atLeast '
atLeast %data.numeric;  #IMPLIED'>

<!ENTITY % att.ranging.attribute.atMost '
atMost %data.numeric;  #IMPLIED'>

<!ENTITY % att.ranging.attribute.min '
min %data.numeric;  #IMPLIED'>

<!ENTITY % att.ranging.attribute.max '
max %data.numeric;  #IMPLIED'>

<!ENTITY % att.ranging.attribute.confidence '
confidence %data.probability;  #IMPLIED'>
<!ENTITY % att.ranging.attributes '
 %att.ranging.attribute.atLeast;
 %att.ranging.attribute.atMost;
 %att.ranging.attribute.min;
 %att.ranging.attribute.max;
 %att.ranging.attribute.confidence;'> 
<!ENTITY % att.dimensions.attribute.unit '
unit %data.enumerated;  #IMPLIED'>

<!ENTITY % att.dimensions.attribute.quantity '
quantity %data.numeric;  #IMPLIED'>

<!ENTITY % att.dimensions.attribute.extent '
extent %data.text;  #IMPLIED'>

<!ENTITY % att.dimensions.attribute.precision '
precision %data.certainty;  #IMPLIED'>

<!ENTITY % att.dimensions.attribute.scope '
scope %data.enumerated;  #IMPLIED'>
<!ENTITY % att.dimensions.attributes ' %att.ranging.attributes;
 %att.dimensions.attribute.unit;
 %att.dimensions.attribute.quantity;
 %att.dimensions.attribute.extent;
 %att.dimensions.attribute.precision;
 %att.dimensions.attribute.scope;'> 
<!ENTITY % att.breaking.attribute.break '
break %data.enumerated;  #IMPLIED'>
<!ENTITY % att.breaking.attributes '
 %att.breaking.attribute.break;'> 
<!ENTITY % att.cReferencing.attribute.cRef '
cRef CDATA  #IMPLIED'>
<!ENTITY % att.cReferencing.attributes '
 %att.cReferencing.attribute.cRef;'> 
<!ENTITY % att.datable.w3c.attribute.when '
when %data.temporal.w3c;  #IMPLIED'>
<!ENTITY % att.datable.w3c.attributes '
 %att.datable.w3c.attribute.when;'> 
<!ENTITY % att.datable.attribute.calendar '
calendar %data.pointer;  #IMPLIED'>

<!ENTITY % att.datable.attribute.period '
period %data.pointer;  #IMPLIED'>
<!ENTITY % att.datable.attributes ' %att.datable.w3c.attributes;
 %att.datable.attribute.calendar;
 %att.datable.attribute.period;'> 
<!ENTITY % att.datcat.attribute.datcat '
datcat CDATA  #IMPLIED'>

<!ENTITY % att.datcat.attribute.valueDatcat '
valueDatcat CDATA  #IMPLIED'>
<!ENTITY % att.datcat.attributes '
 %att.datcat.attribute.datcat;
 %att.datcat.attribute.valueDatcat;'> 
<!ENTITY % att.declarable.attribute.default '
default (true|false) "false" '>
<!ENTITY % att.declarable.attributes '
 %att.declarable.attribute.default;'> 
<!ENTITY % att.declaring.attribute.decls '
decls CDATA  #IMPLIED'>
<!ENTITY % att.declaring.attributes '
 %att.declaring.attribute.decls;'> 
<!ENTITY % att.fragmentable.attribute.part '
part (Y|N|I|M|F) "N" '>
<!ENTITY % att.fragmentable.attributes '
 %att.fragmentable.attribute.part;'> 
<!ENTITY % att.divLike.attribute.org '
org (composite|uniform) "uniform" '>

<!ENTITY % att.divLike.attribute.sample '
sample (initial|medial|final|unknown|complete) "complete" '>
<!ENTITY % att.divLike.attributes ' %att.fragmentable.attributes;
 %att.divLike.attribute.org;
 %att.divLike.attribute.sample;'> 
<!ENTITY % att.docStatus.attribute.status '
status %data.enumerated;  "draft" '>
<!ENTITY % att.docStatus.attributes '
 %att.docStatus.attribute.status;'> 
<!ENTITY % att.responsibility.attribute.cert '
cert %data.certainty;  #IMPLIED'>

<!ENTITY % att.responsibility.attribute.resp '
resp CDATA  #IMPLIED'>
<!ENTITY % att.responsibility.attributes '
 %att.responsibility.attribute.cert;
 %att.responsibility.attribute.resp;'> 
<!ENTITY % att.editLike.attribute.evidence '
evidence NMTOKENS  #IMPLIED'>

<!ENTITY % att.editLike.attribute.source '
source CDATA  #IMPLIED'>

<!ENTITY % att.editLike.attribute.instant '
instant %data.xTruthValue;  "false" '>
<!ENTITY % att.editLike.attributes ' %att.dimensions.attributes; %att.responsibility.attributes;
 %att.editLike.attribute.evidence;
 %att.editLike.attribute.source;
 %att.editLike.attribute.instant;'> 
<!ENTITY % att.global.attribute.xmlid '
xml:id ID #IMPLIED'>

<!ENTITY % att.global.attribute.n '
n CDATA  #IMPLIED'>

<!ENTITY % att.global.attribute.xmllang '
xml:lang %data.language;  #IMPLIED'>

<!ENTITY % att.global.attribute.rend '
rend CDATA  #IMPLIED'>

<!ENTITY % att.global.attribute.xmlspace '
xml:space (default|preserve) #IMPLIED'>
<!ENTITY % att.global.attributes ' %att.global.linking.attributes; %att.global.analytic.attributes; %att.global.facs.attributes;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.xmlspace;'> 
<!ENTITY % att.media.attribute.width '
width %data.outputMeasurement;  #IMPLIED'>

<!ENTITY % att.media.attribute.height '
height %data.outputMeasurement;  #IMPLIED'>

<!ENTITY % att.media.attribute.scale '
scale %data.numeric;  #IMPLIED'>
<!ENTITY % att.media.attributes '
 %att.media.attribute.width;
 %att.media.attribute.height;
 %att.media.attribute.scale;'> 
<!ENTITY % att.resourced.attribute.url '
url %data.pointer;  #REQUIRED'>
<!ENTITY % att.resourced.attributes '
 %att.resourced.attribute.url;'> 
<!ENTITY % att.interpLike.attribute.type '
type %data.enumerated;  #IMPLIED'>

<!ENTITY % att.interpLike.attribute.inst '
inst CDATA  #IMPLIED'>
<!ENTITY % att.interpLike.attributes ' %att.responsibility.attributes;
 %att.interpLike.attribute.type;
 %att.interpLike.attribute.inst;'> 
<!ENTITY % att.naming.attribute.role '
role %data.enumerated;  #IMPLIED'>

<!ENTITY % att.naming.attribute.nymRef '
nymRef CDATA  #IMPLIED'>
<!ENTITY % att.naming.attributes ' %att.canonical.attributes;
 %att.naming.attribute.role;
 %att.naming.attribute.nymRef;'> 
<!ENTITY % att.placement.attribute.place '
place NMTOKENS  #IMPLIED'>
<!ENTITY % att.placement.attributes '
 %att.placement.attribute.place;'> 
<!ENTITY % att.typed.attribute.type '
type %data.enumerated;  #IMPLIED'>

<!ENTITY % att.typed.attribute.subtype '
subtype %data.enumerated;  #IMPLIED'>
<!ENTITY % att.typed.attributes '
 %att.typed.attribute.type;
 %att.typed.attribute.subtype;'> 
<!ENTITY % att.pointing.attribute.targetLang '
targetLang %data.language;  #IMPLIED'>

<!ENTITY % att.pointing.attribute.target '
target CDATA  #IMPLIED'>

<!ENTITY % att.pointing.attribute.evaluate '
evaluate (all|one|none) #IMPLIED'>
<!ENTITY % att.pointing.attributes '
 %att.pointing.attribute.targetLang;
 %att.pointing.attribute.target;
 %att.pointing.attribute.evaluate;'> 
<!ENTITY % att.segLike.attribute.function '
function %data.enumerated;  #IMPLIED'>
<!ENTITY % att.segLike.attributes ' %att.datcat.attributes; %att.fragmentable.attributes;
 %att.segLike.attribute.function;'> 
<!ENTITY % att.sortable.attribute.sortKey '
sortKey %data.word;  #IMPLIED'>
<!ENTITY % att.sortable.attributes '
 %att.sortable.attribute.sortKey;'> 
<!ENTITY % att.edition.attribute.ed '
ed CDATA  #IMPLIED'>

<!ENTITY % att.edition.attribute.edRef '
edRef CDATA  #IMPLIED'>
<!ENTITY % att.edition.attributes '
 %att.edition.attribute.ed;
 %att.edition.attribute.edRef;'> 
<!ENTITY % att.spanning.attribute.spanTo '
spanTo %data.pointer;  #IMPLIED'>
<!ENTITY % att.spanning.attributes '
 %att.spanning.attribute.spanTo;'> 
<!ENTITY % att.tableDecoration.attribute.role '
role %data.enumerated;  "data" '>

<!ENTITY % att.tableDecoration.attribute.rows '
rows %data.count;  "1" '>

<!ENTITY % att.tableDecoration.attribute.cols '
cols %data.count;  "1" '>
<!ENTITY % att.tableDecoration.attributes '
 %att.tableDecoration.attribute.role;
 %att.tableDecoration.attribute.rows;
 %att.tableDecoration.attribute.cols;'> 
<!ENTITY % att.transcriptional.attribute.hand '
hand %data.pointer;  #IMPLIED'>

<!ENTITY % att.transcriptional.attribute.status '
status %data.enumerated;  "unremarkable" '>

<!ENTITY % att.transcriptional.attribute.cause '
cause (fix|unclear) #IMPLIED'>

<!ENTITY % att.transcriptional.attribute.seq '
seq CDATA  #IMPLIED'>
<!ENTITY % att.transcriptional.attributes ' %att.editLike.attributes;
 %att.transcriptional.attribute.hand;
 %att.transcriptional.attribute.status;
 %att.transcriptional.attribute.cause;
 %att.transcriptional.attribute.seq;'> 
<!ENTITY % att.translatable.attribute.versionDate '
versionDate %data.temporal.w3c;  #IMPLIED'>
<!ENTITY % att.translatable.attributes '
 %att.translatable.attribute.versionDate;'> 
<!ENTITY % model.nameLike.agent "name"> 
<!ENTITY % model.nameLike.agent_sequence "name"> 
<!ENTITY % model.nameLike.agent_sequenceOptional "name?"> 
<!ENTITY % model.nameLike.agent_sequenceOptionalRepeatable "name*"> 
<!ENTITY % model.nameLike.agent_sequenceRepeatable "name+"> 
<!ENTITY % model.segLike "seg |s |w |pc"> 
<!ENTITY % model.segLike_sequence "seg, s, w, pc"> 
<!ENTITY % model.segLike_sequenceOptional "seg?, s?, w?, pc?"> 
<!ENTITY % model.segLike_sequenceOptionalRepeatable "seg*, s*, w*, pc*"> 
<!ENTITY % model.segLike_sequenceRepeatable "seg+, s+, w+, pc+"> 
<!ENTITY % model.hiLike "hi"> 
<!ENTITY % model.hiLike_sequence "hi"> 
<!ENTITY % model.hiLike_sequenceOptional "hi?"> 
<!ENTITY % model.hiLike_sequenceOptionalRepeatable "hi*"> 
<!ENTITY % model.hiLike_sequenceRepeatable "hi+"> 
<!ENTITY % model.emphLike "foreign |emph |mentioned |soCalled |gloss |term |title |code |ident"> 
<!ENTITY % model.emphLike_sequence "foreign, emph, mentioned, soCalled, gloss, term, title, code, ident"> 
<!ENTITY % model.emphLike_sequenceOptional "foreign?, emph?, mentioned?, soCalled?, gloss?, term?, title?, code?, ident?"> 
<!ENTITY % model.emphLike_sequenceOptionalRepeatable "foreign*, emph*, mentioned*, soCalled*, gloss*, term*, title*, code*, ident*"> 
<!ENTITY % model.emphLike_sequenceRepeatable "foreign+, emph+, mentioned+, soCalled+, gloss+, term+, title+, code+, ident+"> 
<!ENTITY % model.highlighted "%model.hiLike; |%model.emphLike;"> 
<!ENTITY % model.highlighted_sequence "%model.hiLike;, %model.emphLike;"> 
<!ENTITY % model.highlighted_sequenceOptional "%model.hiLike;?, %model.emphLike;?"> 
<!ENTITY % model.highlighted_sequenceOptionalRepeatable "%model.hiLike;*, %model.emphLike;*"> 
<!ENTITY % model.highlighted_sequenceRepeatable "%model.hiLike;+, %model.emphLike;+"> 
<!ENTITY % model.dateLike "date |time"> 
<!ENTITY % model.dateLike_sequence "date, time"> 
<!ENTITY % model.dateLike_sequenceOptional "date?, time?"> 
<!ENTITY % model.dateLike_sequenceOptionalRepeatable "date*, time*"> 
<!ENTITY % model.dateLike_sequenceRepeatable "date+, time+"> 
<!ENTITY % model.measureLike "num"> 
<!ENTITY % model.measureLike_sequence "num"> 
<!ENTITY % model.measureLike_sequenceOptional "num?"> 
<!ENTITY % model.measureLike_sequenceOptionalRepeatable "num*"> 
<!ENTITY % model.measureLike_sequenceRepeatable "num+"> 
<!ENTITY % model.egLike "eg"> 
<!ENTITY % model.egLike_sequence "eg"> 
<!ENTITY % model.egLike_sequenceOptional "eg?"> 
<!ENTITY % model.egLike_sequenceOptionalRepeatable "eg*"> 
<!ENTITY % model.egLike_sequenceRepeatable "eg+"> 
<!ENTITY % model.graphicLike "graphic |formula"> 
<!ENTITY % model.graphicLike_sequence "graphic, formula"> 
<!ENTITY % model.graphicLike_sequenceOptional "graphic?, formula?"> 
<!ENTITY % model.graphicLike_sequenceOptionalRepeatable "graphic*, formula*"> 
<!ENTITY % model.graphicLike_sequenceRepeatable "graphic+, formula+"> 
<!ENTITY % model.pPart.editorial "choice |abbr |expan"> 
<!ENTITY % model.pPart.editorial_sequence "choice, abbr, expan"> 
<!ENTITY % model.pPart.editorial_sequenceOptional "choice?, abbr?, expan?"> 
<!ENTITY % model.pPart.editorial_sequenceOptionalRepeatable "choice*, abbr*, expan*"> 
<!ENTITY % model.pPart.editorial_sequenceRepeatable "choice+, abbr+, expan+"> 
<!ENTITY % model.pPart.transcriptional "sic |corr |reg |orig |add |del |unclear"> 
<!ENTITY % model.pPart.transcriptional_sequence "sic, corr, reg, orig, add, del, unclear"> 
<!ENTITY % model.pPart.transcriptional_sequenceOptional "sic?, corr?, reg?, orig?, add?, del?, unclear?"> 
<!ENTITY % model.pPart.transcriptional_sequenceOptionalRepeatable "sic*, corr*, reg*, orig*, add*, del*, unclear*"> 
<!ENTITY % model.pPart.transcriptional_sequenceRepeatable "sic+, corr+, reg+, orig+, add+, del+, unclear+"> 
<!ENTITY % model.pPart.edit "%model.pPart.editorial; |%model.pPart.transcriptional;"> 
<!ENTITY % model.pPart.edit_sequence "%model.pPart.editorial;, %model.pPart.transcriptional;"> 
<!ENTITY % model.pPart.edit_sequenceOptional "%model.pPart.editorial;?, %model.pPart.transcriptional;?"> 
<!ENTITY % model.pPart.edit_sequenceOptionalRepeatable "%model.pPart.editorial;*, %model.pPart.transcriptional;*"> 
<!ENTITY % model.pPart.edit_sequenceRepeatable "%model.pPart.editorial;+, %model.pPart.transcriptional;+"> 
<!ENTITY % model.linePart "%model.segLike; |%model.hiLike; |%model.pPart.transcriptional; |choice"> 
<!ENTITY % model.linePart_sequence "%model.segLike;, %model.hiLike;, %model.pPart.transcriptional;, choice"> 
<!ENTITY % model.linePart_sequenceOptional "%model.segLike;?, %model.hiLike;?, %model.pPart.transcriptional;?, choice?"> 
<!ENTITY % model.linePart_sequenceOptionalRepeatable "%model.segLike;*, %model.hiLike;*, %model.pPart.transcriptional;*, choice*"> 
<!ENTITY % model.linePart_sequenceRepeatable "%model.segLike;+, %model.hiLike;+, %model.pPart.transcriptional;+, choice+"> 
<!ENTITY % model.ptrLike "ptr |ref"> 
<!ENTITY % model.ptrLike_sequence "ptr, ref"> 
<!ENTITY % model.ptrLike_sequenceOptional "ptr?, ref?"> 
<!ENTITY % model.ptrLike_sequenceOptionalRepeatable "ptr*, ref*"> 
<!ENTITY % model.ptrLike_sequenceRepeatable "ptr+, ref+"> 
<!ENTITY % model.lPart ""> 
<!ENTITY % model.lPart_sequence ""> 
<!ENTITY % model.lPart_sequenceOptional ""> 
<!ENTITY % model.lPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.lPart_sequenceRepeatable ""> 
<!ENTITY % model.global.meta "index |interp |interpGrp"> 
<!ENTITY % model.global.meta_sequence "index, interp, interpGrp"> 
<!ENTITY % model.global.meta_sequenceOptional "index?, interp?, interpGrp?"> 
<!ENTITY % model.global.meta_sequenceOptionalRepeatable "index*, interp*, interpGrp*"> 
<!ENTITY % model.global.meta_sequenceRepeatable "index+, interp+, interpGrp+"> 
<!ENTITY % model.milestoneLike "milestone |pb |lb |anchor"> 
<!ENTITY % model.milestoneLike_sequence "milestone, pb, lb, anchor"> 
<!ENTITY % model.milestoneLike_sequenceOptional "milestone?, pb?, lb?, anchor?"> 
<!ENTITY % model.milestoneLike_sequenceOptionalRepeatable "milestone*, pb*, lb*, anchor*"> 
<!ENTITY % model.milestoneLike_sequenceRepeatable "milestone+, pb+, lb+, anchor+"> 
<!ENTITY % model.gLike ""> 
<!ENTITY % model.gLike_sequence ""> 
<!ENTITY % model.gLike_sequenceOptional ""> 
<!ENTITY % model.gLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.gLike_sequenceRepeatable ""> 
<!ENTITY % model.phrase.xml "att |gi |val"> 
<!ENTITY % model.phrase.xml_sequence "att, gi, val"> 
<!ENTITY % model.phrase.xml_sequenceOptional "att?, gi?, val?"> 
<!ENTITY % model.phrase.xml_sequenceOptionalRepeatable "att*, gi*, val*"> 
<!ENTITY % model.phrase.xml_sequenceRepeatable "att+, gi+, val+"> 
<!ENTITY % model.biblLike "bibl |listBibl"> 
<!ENTITY % model.biblLike_sequence "bibl, listBibl"> 
<!ENTITY % model.biblLike_sequenceOptional "bibl?, listBibl?"> 
<!ENTITY % model.biblLike_sequenceOptionalRepeatable "bibl*, listBibl*"> 
<!ENTITY % model.biblLike_sequenceRepeatable "bibl+, listBibl+"> 
<!ENTITY % model.headLike "head"> 
<!ENTITY % model.headLike_sequence "head"> 
<!ENTITY % model.headLike_sequenceOptional "head?"> 
<!ENTITY % model.headLike_sequenceOptionalRepeatable "head*"> 
<!ENTITY % model.headLike_sequenceRepeatable "head+"> 
<!ENTITY % model.labelLike "desc |label"> 
<!ENTITY % model.labelLike_sequence "desc, label"> 
<!ENTITY % model.labelLike_sequenceOptional "desc?, label?"> 
<!ENTITY % model.labelLike_sequenceOptionalRepeatable "desc*, label*"> 
<!ENTITY % model.labelLike_sequenceRepeatable "desc+, label+"> 
<!ENTITY % model.listLike "list |table"> 
<!ENTITY % model.listLike_sequence "list, table"> 
<!ENTITY % model.listLike_sequenceOptional "list?, table?"> 
<!ENTITY % model.listLike_sequenceOptionalRepeatable "list*, table*"> 
<!ENTITY % model.listLike_sequenceRepeatable "list+, table+"> 
<!ENTITY % model.noteLike "note"> 
<!ENTITY % model.noteLike_sequence "note"> 
<!ENTITY % model.noteLike_sequenceOptional "note?"> 
<!ENTITY % model.noteLike_sequenceOptionalRepeatable "note*"> 
<!ENTITY % model.noteLike_sequenceRepeatable "note+"> 
<!ENTITY % model.lLike "l"> 
<!ENTITY % model.lLike_sequence "l"> 
<!ENTITY % model.lLike_sequenceOptional "l?"> 
<!ENTITY % model.lLike_sequenceOptionalRepeatable "l*"> 
<!ENTITY % model.lLike_sequenceRepeatable "l+"> 
<!ENTITY % model.pLike "p"> 
<!ENTITY % model.pLike_sequence "p"> 
<!ENTITY % model.pLike_sequenceOptional "p?"> 
<!ENTITY % model.pLike_sequenceOptionalRepeatable "p*"> 
<!ENTITY % model.pLike_sequenceRepeatable "p+"> 
<!ENTITY % model.stageLike "stage"> 
<!ENTITY % model.stageLike_sequence "stage"> 
<!ENTITY % model.stageLike_sequenceOptional "stage?"> 
<!ENTITY % model.stageLike_sequenceOptionalRepeatable "stage*"> 
<!ENTITY % model.stageLike_sequenceRepeatable "stage+"> 
<!ENTITY % model.entryPart ""> 
<!ENTITY % model.entryPart_sequence ""> 
<!ENTITY % model.entryPart_sequenceOptional ""> 
<!ENTITY % model.entryPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.entryPart_sequenceRepeatable ""> 
<!ENTITY % model.entryPart.top "cit"> 
<!ENTITY % model.entryPart.top_sequence "cit"> 
<!ENTITY % model.entryPart.top_sequenceOptional "cit?"> 
<!ENTITY % model.entryPart.top_sequenceOptionalRepeatable "cit*"> 
<!ENTITY % model.entryPart.top_sequenceRepeatable "cit+"> 
<!ENTITY % model.global.edit "gap"> 
<!ENTITY % model.global.edit_sequence "gap"> 
<!ENTITY % model.global.edit_sequenceOptional "gap?"> 
<!ENTITY % model.global.edit_sequenceOptionalRepeatable "gap*"> 
<!ENTITY % model.global.edit_sequenceRepeatable "gap+"> 
<!ENTITY % model.divPart "%model.lLike; |%model.pLike; |lg |sp"> 
<!ENTITY % model.divPart_sequence "%model.lLike;, %model.pLike;, lg, sp"> 
<!ENTITY % model.divPart_sequenceOptional "%model.lLike;?, %model.pLike;?, lg?, sp?"> 
<!ENTITY % model.divPart_sequenceOptionalRepeatable "%model.lLike;*, %model.pLike;*, lg*, sp*"> 
<!ENTITY % model.divPart_sequenceRepeatable "%model.lLike;+, %model.pLike;+, lg+, sp+"> 
<!ENTITY % model.publicationStmtPart "address |date |publisher |pubPlace |distributor |authority |idno |availability"> 
<!ENTITY % model.publicationStmtPart_sequence "address, date, publisher, pubPlace, distributor, authority, idno, availability"> 
<!ENTITY % model.publicationStmtPart_sequenceOptional "address?, date?, publisher?, pubPlace?, distributor?, authority?, idno?, availability?"> 
<!ENTITY % model.publicationStmtPart_sequenceOptionalRepeatable "address*, date*, publisher*, pubPlace*, distributor*, authority*, idno*, availability*"> 
<!ENTITY % model.publicationStmtPart_sequenceRepeatable "address+, date+, publisher+, pubPlace+, distributor+, authority+, idno+, availability+"> 
<!ENTITY % model.availabilityPart "licence"> 
<!ENTITY % model.availabilityPart_sequence "licence"> 
<!ENTITY % model.availabilityPart_sequenceOptional "licence?"> 
<!ENTITY % model.availabilityPart_sequenceOptionalRepeatable "licence*"> 
<!ENTITY % model.availabilityPart_sequenceRepeatable "licence+"> 
<!ENTITY % model.certLike ""> 
<!ENTITY % model.certLike_sequence ""> 
<!ENTITY % model.certLike_sequenceOptional ""> 
<!ENTITY % model.certLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.certLike_sequenceRepeatable ""> 
<!ENTITY % model.descLike "desc"> 
<!ENTITY % model.descLike_sequence "desc"> 
<!ENTITY % model.descLike_sequenceOptional "desc?"> 
<!ENTITY % model.descLike_sequenceOptionalRepeatable "desc*"> 
<!ENTITY % model.descLike_sequenceRepeatable "desc+"> 
<!ENTITY % model.glossLike "gloss"> 
<!ENTITY % model.glossLike_sequence "gloss"> 
<!ENTITY % model.glossLike_sequenceOptional "gloss?"> 
<!ENTITY % model.glossLike_sequenceOptionalRepeatable "gloss*"> 
<!ENTITY % model.glossLike_sequenceRepeatable "gloss+"> 
<!ENTITY % model.quoteLike "cit"> 
<!ENTITY % model.quoteLike_sequence "cit"> 
<!ENTITY % model.quoteLike_sequenceOptional "cit?"> 
<!ENTITY % model.quoteLike_sequenceOptionalRepeatable "cit*"> 
<!ENTITY % model.quoteLike_sequenceRepeatable "cit+"> 
<!ENTITY % model.qLike "%model.quoteLike; |q"> 
<!ENTITY % model.qLike_sequence "%model.quoteLike;, q"> 
<!ENTITY % model.qLike_sequenceOptional "%model.quoteLike;?, q?"> 
<!ENTITY % model.qLike_sequenceOptionalRepeatable "%model.quoteLike;*, q*"> 
<!ENTITY % model.qLike_sequenceRepeatable "%model.quoteLike;+, q+"> 
<!ENTITY % model.respLike "author |editor |respStmt |sponsor |funder |principal"> 
<!ENTITY % model.respLike_sequence "author, editor, respStmt, sponsor, funder, principal"> 
<!ENTITY % model.respLike_sequenceOptional "author?, editor?, respStmt?, sponsor?, funder?, principal?"> 
<!ENTITY % model.respLike_sequenceOptionalRepeatable "author*, editor*, respStmt*, sponsor*, funder*, principal*"> 
<!ENTITY % model.respLike_sequenceRepeatable "author+, editor+, respStmt+, sponsor+, funder+, principal+"> 
<!ENTITY % model.divWrapper "byline |dateline |argument |epigraph |salute |docAuthor |docDate"> 
<!ENTITY % model.divWrapper_sequence "byline, dateline, argument, epigraph, salute, docAuthor, docDate"> 
<!ENTITY % model.divWrapper_sequenceOptional "byline?, dateline?, argument?, epigraph?, salute?, docAuthor?, docDate?"> 
<!ENTITY % model.divWrapper_sequenceOptionalRepeatable "byline*, dateline*, argument*, epigraph*, salute*, docAuthor*, docDate*"> 
<!ENTITY % model.divWrapper_sequenceRepeatable "byline+, dateline+, argument+, epigraph+, salute+, docAuthor+, docDate+"> 
<!ENTITY % model.divTopPart "%model.headLike; |opener"> 
<!ENTITY % model.divTopPart_sequence "%model.headLike;, opener"> 
<!ENTITY % model.divTopPart_sequenceOptional "%model.headLike;?, opener?"> 
<!ENTITY % model.divTopPart_sequenceOptionalRepeatable "%model.headLike;*, opener*"> 
<!ENTITY % model.divTopPart_sequenceRepeatable "%model.headLike;+, opener+"> 
<!ENTITY % model.divTop "%model.divWrapper; |%model.divTopPart;"> 
<!ENTITY % model.divTop_sequence "%model.divWrapper;, %model.divTopPart;"> 
<!ENTITY % model.divTop_sequenceOptional "%model.divWrapper;?, %model.divTopPart;?"> 
<!ENTITY % model.divTop_sequenceOptionalRepeatable "%model.divWrapper;*, %model.divTopPart;*"> 
<!ENTITY % model.divTop_sequenceRepeatable "%model.divWrapper;+, %model.divTopPart;+"> 
<!ENTITY % model.pLike.front "head |byline |argument |epigraph |docTitle |titlePart |docAuthor |docEdition |docImprint |docDate"> 
<!ENTITY % model.pLike.front_sequence "head, byline, argument, epigraph, docTitle, titlePart, docAuthor, docEdition, docImprint, docDate"> 
<!ENTITY % model.pLike.front_sequenceOptional "head?, byline?, argument?, epigraph?, docTitle?, titlePart?, docAuthor?, docEdition?, docImprint?, docDate?"> 
<!ENTITY % model.pLike.front_sequenceOptionalRepeatable "head*, byline*, argument*, epigraph*, docTitle*, titlePart*, docAuthor*, docEdition*, docImprint*, docDate*"> 
<!ENTITY % model.pLike.front_sequenceRepeatable "head+, byline+, argument+, epigraph+, docTitle+, titlePart+, docAuthor+, docEdition+, docImprint+, docDate+"> 
<!ENTITY % model.divBottomPart "trailer |closer |signed |postscript"> 
<!ENTITY % model.divBottomPart_sequence "trailer, closer, signed, postscript"> 
<!ENTITY % model.divBottomPart_sequenceOptional "trailer?, closer?, signed?, postscript?"> 
<!ENTITY % model.divBottomPart_sequenceOptionalRepeatable "trailer*, closer*, signed*, postscript*"> 
<!ENTITY % model.divBottomPart_sequenceRepeatable "trailer+, closer+, signed+, postscript+"> 
<!ENTITY % model.divBottom "%model.divWrapper; |%model.divBottomPart;"> 
<!ENTITY % model.divBottom_sequence "%model.divWrapper;, %model.divBottomPart;"> 
<!ENTITY % model.divBottom_sequenceOptional "%model.divWrapper;?, %model.divBottomPart;?"> 
<!ENTITY % model.divBottom_sequenceOptionalRepeatable "%model.divWrapper;*, %model.divBottomPart;*"> 
<!ENTITY % model.divBottom_sequenceRepeatable "%model.divWrapper;+, %model.divBottomPart;+"> 
<!ENTITY % model.titlepagePart "graphic |byline |argument |epigraph |docTitle |titlePart |docAuthor |imprimatur |docEdition |docImprint |docDate"> 
<!ENTITY % model.titlepagePart_sequence "graphic, byline, argument, epigraph, docTitle, titlePart, docAuthor, imprimatur, docEdition, docImprint, docDate"> 
<!ENTITY % model.titlepagePart_sequenceOptional "graphic?, byline?, argument?, epigraph?, docTitle?, titlePart?, docAuthor?, imprimatur?, docEdition?, docImprint?, docDate?"> 
<!ENTITY % model.titlepagePart_sequenceOptionalRepeatable "graphic*, byline*, argument*, epigraph*, docTitle*, titlePart*, docAuthor*, imprimatur*, docEdition*, docImprint*, docDate*"> 
<!ENTITY % model.titlepagePart_sequenceRepeatable "graphic+, byline+, argument+, epigraph+, docTitle+, titlePart+, docAuthor+, imprimatur+, docEdition+, docImprint+, docDate+"> 
<!ENTITY % model.choicePart "sic |corr |reg |orig |unclear |abbr |expan |seg"> 
<!ENTITY % model.choicePart_sequence "sic, corr, reg, orig, unclear, abbr, expan, seg"> 
<!ENTITY % model.choicePart_sequenceOptional "sic?, corr?, reg?, orig?, unclear?, abbr?, expan?, seg?"> 
<!ENTITY % model.choicePart_sequenceOptionalRepeatable "sic*, corr*, reg*, orig*, unclear*, abbr*, expan*, seg*"> 
<!ENTITY % model.choicePart_sequenceRepeatable "sic+, corr+, reg+, orig+, unclear+, abbr+, expan+, seg+"> 
<!ENTITY % model.imprintPart "publisher |biblScope |pubPlace |distributor"> 
<!ENTITY % model.imprintPart_sequence "publisher, biblScope, pubPlace, distributor"> 
<!ENTITY % model.imprintPart_sequenceOptional "publisher?, biblScope?, pubPlace?, distributor?"> 
<!ENTITY % model.imprintPart_sequenceOptionalRepeatable "publisher*, biblScope*, pubPlace*, distributor*"> 
<!ENTITY % model.imprintPart_sequenceRepeatable "publisher+, biblScope+, pubPlace+, distributor+"> 
<!ENTITY % model.catDescPart ""> 
<!ENTITY % model.catDescPart_sequence ""> 
<!ENTITY % model.catDescPart_sequenceOptional ""> 
<!ENTITY % model.catDescPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.catDescPart_sequenceRepeatable ""> 
<!ENTITY % model.addressLike "address"> 
<!ENTITY % model.addressLike_sequence "address"> 
<!ENTITY % model.addressLike_sequenceOptional "address?"> 
<!ENTITY % model.addressLike_sequenceOptionalRepeatable "address*"> 
<!ENTITY % model.addressLike_sequenceRepeatable "address+"> 
<!ENTITY % model.nameLike "%model.nameLike.agent; |rs |idno"> 
<!ENTITY % model.nameLike_sequence "%model.nameLike.agent;, rs, idno"> 
<!ENTITY % model.nameLike_sequenceOptional "%model.nameLike.agent;?, rs?, idno?"> 
<!ENTITY % model.nameLike_sequenceOptionalRepeatable "%model.nameLike.agent;*, rs*, idno*"> 
<!ENTITY % model.nameLike_sequenceRepeatable "%model.nameLike.agent;+, rs+, idno+"> 
<!ENTITY % model.global "%model.global.meta; |%model.milestoneLike; |%model.noteLike; |%model.global.edit; |figure"> 
<!ENTITY % model.global_sequence "%model.global.meta;, %model.milestoneLike;, %model.noteLike;, %model.global.edit;, figure"> 
<!ENTITY % model.global_sequenceOptional "%model.global.meta;?, %model.milestoneLike;?, %model.noteLike;?, %model.global.edit;?, figure?"> 
<!ENTITY % model.global_sequenceOptionalRepeatable "%model.global.meta;*, %model.milestoneLike;*, %model.noteLike;*, %model.global.edit;*, figure*"> 
<!ENTITY % model.global_sequenceRepeatable "%model.global.meta;+, %model.milestoneLike;+, %model.noteLike;+, %model.global.edit;+, figure+"> 
<!ENTITY % model.biblPart "%model.respLike; |%model.imprintPart; |bibl |relatedItem |edition |extent"> 
<!ENTITY % model.biblPart_sequence "%model.respLike;, %model.imprintPart;, bibl, relatedItem, edition, extent"> 
<!ENTITY % model.biblPart_sequenceOptional "%model.respLike;?, %model.imprintPart;?, bibl?, relatedItem?, edition?, extent?"> 
<!ENTITY % model.biblPart_sequenceOptionalRepeatable "%model.respLike;*, %model.imprintPart;*, bibl*, relatedItem*, edition*, extent*"> 
<!ENTITY % model.biblPart_sequenceRepeatable "%model.respLike;+, %model.imprintPart;+, bibl+, relatedItem+, edition+, extent+"> 
<!ENTITY % model.frontPart "divGen |titlePage"> 
<!ENTITY % model.frontPart_sequence "divGen, titlePage"> 
<!ENTITY % model.frontPart_sequenceOptional "divGen?, titlePage?"> 
<!ENTITY % model.frontPart_sequenceOptionalRepeatable "divGen*, titlePage*"> 
<!ENTITY % model.frontPart_sequenceRepeatable "divGen+, titlePage+"> 
<!ENTITY % model.addrPart "%model.nameLike; |addrLine"> 
<!ENTITY % model.addrPart_sequence "%model.nameLike;, addrLine"> 
<!ENTITY % model.addrPart_sequenceOptional "%model.nameLike;?, addrLine?"> 
<!ENTITY % model.addrPart_sequenceOptionalRepeatable "%model.nameLike;*, addrLine*"> 
<!ENTITY % model.addrPart_sequenceRepeatable "%model.nameLike;+, addrLine+"> 
<!ENTITY % model.pPart.data "%model.dateLike; |%model.measureLike; |%model.addressLike; |%model.nameLike;"> 
<!ENTITY % model.pPart.data_sequence "%model.dateLike;, %model.measureLike;, %model.addressLike;, %model.nameLike;"> 
<!ENTITY % model.pPart.data_sequenceOptional "%model.dateLike;?, %model.measureLike;?, %model.addressLike;?, %model.nameLike;?"> 
<!ENTITY % model.pPart.data_sequenceOptionalRepeatable "%model.dateLike;*, %model.measureLike;*, %model.addressLike;*, %model.nameLike;*"> 
<!ENTITY % model.pPart.data_sequenceRepeatable "%model.dateLike;+, %model.measureLike;+, %model.addressLike;+, %model.nameLike;+"> 
<!ENTITY % model.inter "%model.egLike; |%model.biblLike; |%model.labelLike; |%model.listLike; |%model.stageLike; |%model.qLike;"> 
<!ENTITY % model.inter_sequence "%model.egLike;, %model.biblLike;, %model.labelLike;, %model.listLike;, %model.stageLike;, %model.qLike;"> 
<!ENTITY % model.inter_sequenceOptional "%model.egLike;?, %model.biblLike;?, %model.labelLike;?, %model.listLike;?, %model.stageLike;?, %model.qLike;?"> 
<!ENTITY % model.inter_sequenceOptionalRepeatable "%model.egLike;*, %model.biblLike;*, %model.labelLike;*, %model.listLike;*, %model.stageLike;*, %model.qLike;*"> 
<!ENTITY % model.inter_sequenceRepeatable "%model.egLike;+, %model.biblLike;+, %model.labelLike;+, %model.listLike;+, %model.stageLike;+, %model.qLike;+"> 
<!ENTITY % model.common "%model.divPart; |%model.inter;"> 
<!ENTITY % model.common_sequence "%model.divPart;, %model.inter;"> 
<!ENTITY % model.common_sequenceOptional "%model.divPart;?, %model.inter;?"> 
<!ENTITY % model.common_sequenceOptionalRepeatable "%model.divPart;*, %model.inter;*"> 
<!ENTITY % model.common_sequenceRepeatable "%model.divPart;+, %model.inter;+"> 
<!ENTITY % model.phrase "%model.segLike; |%model.highlighted; |%model.graphicLike; |%model.pPart.edit; |%model.ptrLike; |%model.phrase.xml; |%model.pPart.data;"> 
<!ENTITY % model.phrase_sequence "%model.segLike;, %model.highlighted;, %model.graphicLike;, %model.pPart.edit;, %model.ptrLike;, %model.phrase.xml;, %model.pPart.data;"> 
<!ENTITY % model.phrase_sequenceOptional "%model.segLike;?, %model.highlighted;?, %model.graphicLike;?, %model.pPart.edit;?, %model.ptrLike;?, %model.phrase.xml;?, %model.pPart.data;?"> 
<!ENTITY % model.phrase_sequenceOptionalRepeatable "%model.segLike;*, %model.highlighted;*, %model.graphicLike;*, %model.pPart.edit;*, %model.ptrLike;*, %model.phrase.xml;*, %model.pPart.data;*"> 
<!ENTITY % model.phrase_sequenceRepeatable "%model.segLike;+, %model.highlighted;+, %model.graphicLike;+, %model.pPart.edit;+, %model.ptrLike;+, %model.phrase.xml;+, %model.pPart.data;+"> 
<!ENTITY % model.limitedPhrase "%model.hiLike; |%model.emphLike; |%model.pPart.editorial; |%model.ptrLike; |%model.phrase.xml; |%model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequence "%model.hiLike;, %model.emphLike;, %model.pPart.editorial;, %model.ptrLike;, %model.phrase.xml;, %model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequenceOptional "%model.hiLike;?, %model.emphLike;?, %model.pPart.editorial;?, %model.ptrLike;?, %model.phrase.xml;?, %model.pPart.data;?"> 
<!ENTITY % model.limitedPhrase_sequenceOptionalRepeatable "%model.hiLike;*, %model.emphLike;*, %model.pPart.editorial;*, %model.ptrLike;*, %model.phrase.xml;*, %model.pPart.data;*"> 
<!ENTITY % model.limitedPhrase_sequenceRepeatable "%model.hiLike;+, %model.emphLike;+, %model.pPart.editorial;+, %model.ptrLike;+, %model.phrase.xml;+, %model.pPart.data;+"> 
<!ENTITY % model.divLike "div"> 
<!ENTITY % model.divLike_sequence "div"> 
<!ENTITY % model.divLike_sequenceOptional "div?"> 
<!ENTITY % model.divLike_sequenceOptionalRepeatable "div*"> 
<!ENTITY % model.divLike_sequenceRepeatable "div+"> 
<!ENTITY % model.divGenLike "divGen"> 
<!ENTITY % model.divGenLike_sequence "divGen"> 
<!ENTITY % model.divGenLike_sequenceOptional "divGen?"> 
<!ENTITY % model.divGenLike_sequenceOptionalRepeatable "divGen*"> 
<!ENTITY % model.divGenLike_sequenceRepeatable "divGen+"> 
<!ENTITY % model.div1Like ""> 
<!ENTITY % model.div1Like_sequence ""> 
<!ENTITY % model.div1Like_sequenceOptional ""> 
<!ENTITY % model.div1Like_sequenceOptionalRepeatable ""> 
<!ENTITY % model.div1Like_sequenceRepeatable ""> 
<!ENTITY % model.teiHeaderPart "encodingDesc |profileDesc"> 
<!ENTITY % model.teiHeaderPart_sequence "encodingDesc, profileDesc"> 
<!ENTITY % model.teiHeaderPart_sequenceOptional "encodingDesc?, profileDesc?"> 
<!ENTITY % model.teiHeaderPart_sequenceOptionalRepeatable "encodingDesc*, profileDesc*"> 
<!ENTITY % model.teiHeaderPart_sequenceRepeatable "encodingDesc+, profileDesc+"> 
<!ENTITY % model.sourceDescPart ""> 
<!ENTITY % model.sourceDescPart_sequence ""> 
<!ENTITY % model.sourceDescPart_sequenceOptional ""> 
<!ENTITY % model.sourceDescPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.sourceDescPart_sequenceRepeatable ""> 
<!ENTITY % model.encodingDescPart "projectDesc |samplingDecl |editorialDecl |refsDecl |classDecl"> 
<!ENTITY % model.encodingDescPart_sequence "projectDesc, samplingDecl, editorialDecl, refsDecl, classDecl"> 
<!ENTITY % model.encodingDescPart_sequenceOptional "projectDesc?, samplingDecl?, editorialDecl?, refsDecl?, classDecl?"> 
<!ENTITY % model.encodingDescPart_sequenceOptionalRepeatable "projectDesc*, samplingDecl*, editorialDecl*, refsDecl*, classDecl*"> 
<!ENTITY % model.encodingDescPart_sequenceRepeatable "projectDesc+, samplingDecl+, editorialDecl+, refsDecl+, classDecl+"> 
<!ENTITY % model.editorialDeclPart ""> 
<!ENTITY % model.editorialDeclPart_sequence ""> 
<!ENTITY % model.editorialDeclPart_sequenceOptional ""> 
<!ENTITY % model.editorialDeclPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.editorialDeclPart_sequenceRepeatable ""> 
<!ENTITY % model.profileDescPart "creation |langUsage |textClass"> 
<!ENTITY % model.profileDescPart_sequence "creation, langUsage, textClass"> 
<!ENTITY % model.profileDescPart_sequenceOptional "creation?, langUsage?, textClass?"> 
<!ENTITY % model.profileDescPart_sequenceOptionalRepeatable "creation*, langUsage*, textClass*"> 
<!ENTITY % model.profileDescPart_sequenceRepeatable "creation+, langUsage+, textClass+"> 
<!ENTITY % att.source.attribute.source '
source CDATA  #IMPLIED'>
<!ENTITY % att.source.attributes '
 %att.source.attribute.source;'> 
<!ENTITY % model.resourceLike ""> 
<!ENTITY % model.resourceLike_sequence ""> 
<!ENTITY % model.resourceLike_sequenceOptional ""> 
<!ENTITY % model.resourceLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.resourceLike_sequenceRepeatable ""> 
<!ENTITY % att.personal.attribute.full '
full (yes|abb|init) "yes" '>

<!ENTITY % att.personal.attribute.sort '
sort %data.count;  #IMPLIED'>
<!ENTITY % att.personal.attributes ' %att.naming.attributes;
 %att.personal.attribute.full;
 %att.personal.attribute.sort;'> 
<!ENTITY % att.milestoneUnit.attribute.unit '
unit %data.enumerated;  #REQUIRED'>
<!ENTITY % att.milestoneUnit.attributes '
 %att.milestoneUnit.attribute.unit;'> 
<!ENTITY % att.global.linking.attribute.corresp '
corresp CDATA  #IMPLIED'>

<!ENTITY % att.global.linking.attribute.next '
next %data.pointer;  #IMPLIED'>

<!ENTITY % att.global.linking.attribute.prev '
prev %data.pointer;  #IMPLIED'>
<!ENTITY % att.global.linking.attributes '
 %att.global.linking.attribute.corresp;
 %att.global.linking.attribute.next;
 %att.global.linking.attribute.prev;'> 
<!ENTITY % att.global.analytic.attribute.ana '
ana CDATA  #IMPLIED'>
<!ENTITY % att.global.analytic.attributes '
 %att.global.analytic.attribute.ana;'> 
<!ENTITY % att.global.facs.attribute.facs '
facs CDATA  #IMPLIED'>
<!ENTITY % att.global.facs.attributes '
 %att.global.facs.attribute.facs;'> 
<!-- start predeclared patterns -->

<!-- end predeclared patterns -->

<!-- start rest of patterns -->

<!ENTITY % macro.paraContent '(#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.inter;|%model.global;|lg)*' >

<!ENTITY % macro.limitedContent '(#PCDATA|%model.limitedPhrase;|%model.inter;)*' >

<!ENTITY % macro.phraseSeq '(#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.global;)*' >

<!ENTITY % macro.phraseSeq.limited '(#PCDATA|%model.limitedPhrase;|%model.global;)*' >

<!ENTITY % macro.specialPara '(#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.inter;|%model.divPart;|%model.global;)*' >

<!-- end patterns -->

<!-- start elements -->

<!--doc:(TEI document) contains a single TEI-conformant document, comprising a TEI header and a text, either in isolation or as part of a teiCorpus element. [4.  15.1. ] -->
<!ELEMENT TEI (teiHeader,((_DUMMY_model.resourceLike+,text?)|text))>
<!ATTLIST TEI xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST TEI
 %att.global.attributes; >
<!ATTLIST TEI xsi:schemaLocation CDATA #IMPLIED
 xmlns:xsi CDATA #FIXED 'http://www.w3.org/2001/XMLSchema-instance'
 >
<!--doc:(abbreviation) contains an abbreviation of any sort. [3.5.5. ] -->
<!ELEMENT abbr %macro.phraseSeq;>
<!ATTLIST abbr xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST abbr
 %att.global.attributes;
 %att.responsibility.attributes;
 %att.typed.attribute.subtype;
type %data.enumerated;  #IMPLIED >
<!--doc:(addition) contains letters, words, or phrases inserted in the source text by an author, scribe, annotator, or corrector. [3.4.3. ] -->
<!ELEMENT add %macro.paraContent;>
<!ATTLIST add xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST add
 %att.global.attributes;
 %att.transcriptional.attributes;
 %att.placement.attributes;
 %att.typed.attributes; >
<!--doc:(address line) contains one line of a postal address. [3.5.2.  2.2.4.  3.11.2.4. ] -->
<!ELEMENT addrLine %macro.phraseSeq;>
<!ATTLIST addrLine xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST addrLine
 %att.global.attributes; >
<!--doc:contains a postal address, for example of a publisher, an organization, or an individual. [3.5.2.  2.2.4.  3.11.2.4. ] -->
<!ELEMENT address ((%model.global;)*,((%model.addrPart;),(%model.global;)*)+)>
<!ATTLIST address xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST address
 %att.global.attributes; >
<!--doc:(anchor point) attaches an identifier to a point within a text, whether or not it corresponds with a textual element. [8.4.2.  16.4. ] -->
<!ELEMENT anchor EMPTY>
<!ATTLIST anchor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST anchor
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:contains a formal list or prose description of the topics addressed by a subdivision of a text. [4.2.  4.6. ] -->
<!ELEMENT argument ((%model.global;|%model.headLike;)*,((%model.common;),(%model.global;)*)+)>
<!ATTLIST argument xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST argument
 %att.global.attributes; >
<!--doc:(attribute) contains the name of an attribute appearing within running text. [22. ] -->
<!ELEMENT att  (#PCDATA)>
<!ATTLIST att xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST att
 %att.global.attributes;
scheme %data.enumerated;  "TEI"  >
<!--doc:in a bibliographic reference, contains the name(s) of an author, personal or corporate, of a work; for example in the same form as that provided by a recognized bibliographic name authority.  [3.11.2.2.  2.2.1. ] -->
<!ELEMENT author %macro.phraseSeq;>
<!ATTLIST author xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST author
 %att.global.attributes;
 %att.naming.attributes; >
<!--doc:(release authority) supplies the name of a person or other agency responsible for making a work available, other than a publisher or distributor. [2.2.4. ] -->
<!ELEMENT authority %macro.phraseSeq.limited;>
<!ATTLIST authority xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST authority
 %att.global.attributes; >
<!--doc:supplies information about the availability of a text, for example any restrictions on its use or distribution, its copyright status, any licence applying to it, etc. [2.2.4. ] -->
<!ELEMENT availability (%model.availabilityPart;|%model.pLike;)+>
<!ATTLIST availability xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST availability
 %att.global.attributes;
 %att.declarable.attributes;
status (free|unknown|restricted) "unknown"  >
<!--doc:(back matter) contains any appendixes, etc. following the main part of a text. [4.7.  4. ] -->
<!ELEMENT back ((%model.frontPart;|%model.pLike.front;|%model.pLike;|%model.listLike;|%model.global;)*,((_DUMMY_model.div1Like,(%model.frontPart;|_DUMMY_model.div1Like|%model.global;)*)|((%model.divLike;),(%model.frontPart;|%model.divLike;|%model.global;)*))?,((%model.divBottomPart;),(%model.divBottomPart;|%model.global;)*)?)>
<!ATTLIST back xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST back
 %att.global.attributes;
 %att.declaring.attributes; >
<!--doc:(bibliographic citation) contains a loosely-structured bibliographic citation of which the sub-components may or may not be explicitly tagged.  [3.11.1.  2.2.7.  15.3.2. ] -->
<!ELEMENT bibl (#PCDATA|_DUMMY_model.gLike|%model.highlighted;|%model.pPart.data;|%model.pPart.edit;|%model.segLike;|%model.ptrLike;|%model.biblPart;|%model.global;)*>
<!ATTLIST bibl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST bibl
 %att.global.attributes;
 %att.declarable.attributes;
 %att.typed.attributes;
 %att.sortable.attributes;
 %att.docStatus.attributes; >
<!--doc:(scope of bibliographic reference) defines the scope of a bibliographic reference, for example as a list of page numbers, or a named subdivision of a larger work. [3.11.2.4. ] -->
<!ELEMENT biblScope %macro.phraseSeq;>
<!ATTLIST biblScope xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST biblScope
 %att.global.attributes;
unit %data.enumerated;  #IMPLIED
type %data.enumerated;  #IMPLIED
from %data.word;  #IMPLIED
to %data.word;  #IMPLIED >
<!--doc:(text body) contains the whole body of a single unitary text, excluding any front or back matter. [4. ] -->
<!ELEMENT body ((%model.global;)*,((%model.divTop;),(%model.global;|%model.divTop;)*)?,((%model.divGenLike;),(%model.global;|%model.divGenLike;)*)?,(((%model.divLike;),(%model.global;|%model.divGenLike;)*)+|(_DUMMY_model.div1Like,(%model.global;|%model.divGenLike;)*)+|(((%model.common;),(%model.global;)*)+,(((%model.divLike;),(%model.global;|%model.divGenLike;)*)+|(_DUMMY_model.div1Like,(%model.global;|%model.divGenLike;)*)+)?)),((%model.divBottom;),(%model.global;)*)*)>
<!ATTLIST body xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST body
 %att.global.attributes;
 %att.declaring.attributes; >
<!--doc:contains the primary statement of responsibility given for a work on its title page or at the head or end of the work. [4.2.2.  4.5. ] -->
<!ELEMENT byline (#PCDATA|_DUMMY_model.gLike|%model.phrase;|docAuthor|%model.global;)*>
<!ATTLIST byline xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST byline
 %att.global.attributes; >
<!--doc:(category description) describes some category within a taxonomy or text typology, either in the form of a brief prose description or in terms of the situational parameters used by the TEI formal textDesc. [2.3.7. ] -->
<!ELEMENT catDesc (#PCDATA|%model.limitedPhrase;|_DUMMY_model.catDescPart)*>
<!ATTLIST catDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST catDesc
 %att.global.attributes; >
<!--doc:(category reference) specifies one or more defined categories within some taxonomy or text typology. [2.4.3. ] -->
<!ELEMENT catRef EMPTY>
<!ATTLIST catRef xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST catRef
 %att.global.attributes;
 %att.pointing.attributes;
scheme %data.pointer;  #IMPLIED >
<!--doc:contains an individual descriptive category, possibly nested within a superordinate category, within a user-defined taxonomy. [2.3.7. ] -->
<!ELEMENT category ((catDesc+|(%model.descLike;|%model.glossLike;)*),category*)>
<!ATTLIST category xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST category
 %att.global.attributes; >
<!--doc:contains one cell of a table.  [14.1.1. ] -->
<!ELEMENT cell %macro.specialPara;>
<!ATTLIST cell xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST cell
 %att.global.attributes;
 %att.tableDecoration.attributes; >
<!--doc:documents a change or set of changes made during the production of a source document, or during the revision of an electronic file. [2.5.  2.4.1. ] -->
<!ELEMENT change %macro.specialPara;>
<!ATTLIST change xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST change
 %att.ascribed.attributes;
 %att.datable.attributes;
 %att.docStatus.attributes;
 %att.global.attributes;
 %att.typed.attributes;
target CDATA  #IMPLIED >
<!--doc:groups a number of alternative encodings for the same point in a text. [3.4. ] -->
<!ELEMENT choice (%model.choicePart;|choice)*>
<!ATTLIST choice xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST choice
 %att.global.attributes; >
<!--doc:(cited quotation) contains a quotation from some other document, together with a bibliographic reference to its source. In a dictionary it may contain an example text with at least one occurrence of the word form, used in the sense being described, or a translation of the headword, or an example.  [3.3.3.  4.3.1.  9.3.5.1. ] -->
<!ELEMENT cit (%model.qLike;|%model.egLike;|%model.biblLike;|%model.ptrLike;|%model.global;|_DUMMY_model.entryPart)+>
<!ATTLIST cit xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST cit
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:(classification code) contains the classification code used for this text in some standard classification system. [2.4.3. ] -->
<!ELEMENT classCode %macro.phraseSeq.limited;>
<!ATTLIST classCode xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST classCode
 %att.global.attributes;
scheme %data.pointer;  #REQUIRED >
<!--doc:(classification declarations) contains one or more taxonomies defining any classificatory codes used elsewhere in the text. [2.3.7.  2.3. ] -->
<!ELEMENT classDecl (taxonomy)+>
<!ATTLIST classDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST classDecl
 %att.global.attributes; >
<!--doc:groups together salutations, datelines, and similar phrases appearing as a final group at the end of a division, especially of a letter. [4.2.2.  4.2. ] -->
<!ELEMENT closer (#PCDATA|_DUMMY_model.gLike|signed|dateline|salute|%model.phrase;|%model.global;)*>
<!ATTLIST closer xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST closer
 %att.global.attributes; >
<!--doc:contains literal code from some formal language such as a programming language. [22.1.1. ] -->
<!ELEMENT code  (#PCDATA)>
<!ATTLIST code xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST code
 %att.global.attributes;
lang %data.word;  #IMPLIED >
<!--doc:(correction) contains the correct form of a passage apparently erroneous in the copy text. [3.4.1. ] -->
<!ELEMENT corr %macro.paraContent;>
<!ATTLIST corr xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST corr
 %att.global.attributes;
 %att.editLike.attributes;
 %att.typed.attributes; >
<!--doc:contains information about the creation of a text. [2.4.1.  2.4. ] -->
<!ELEMENT creation (#PCDATA|%model.limitedPhrase;)*>
<!ATTLIST creation xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST creation
 %att.global.attributes;
 %att.datable.attributes; >
<!--doc:contains a date in any format. [3.5.4.  2.2.4.  2.5.  3.11.2.4.  15.2.3.  13.3.6. ] -->
<!ELEMENT date (#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.global;)*>
<!ATTLIST date xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST date
 %att.global.attributes;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.typed.attributes; >
<!--doc:contains a brief description of the place, date, time, etc. of production of a letter, newspaper story, or other work, prefixed or suffixed to it as a kind of heading or trailer.  [4.2.2. ] -->
<!ELEMENT dateline %macro.phraseSeq;>
<!ATTLIST dateline xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST dateline
 %att.global.attributes; >
<!--doc:(deletion) contains a letter, word, or passage deleted, marked as deleted, or otherwise indicated as superfluous or spurious in the copy text by an author, scribe, annotator, or corrector. [3.4.3. ] -->
<!ELEMENT del %macro.paraContent;>
<!ATTLIST del xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST del
 %att.global.attributes;
 %att.transcriptional.attributes;
 %att.typed.attributes; >
<!--doc:(description) contains a brief description of the object documented by its parent element, including its intended usage, purpose, or application where this is appropriate. [22.4.1. ] -->
<!ELEMENT desc %macro.limitedContent;>
<!ATTLIST desc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST desc
 %att.global.attributes;
 %att.translatable.attributes; >
<!--doc:supplies the name of a person or other agency responsible for the distribution of a text. [2.2.4. ] -->
<!ELEMENT distributor %macro.phraseSeq;>
<!ATTLIST distributor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST distributor
 %att.global.attributes; >
<!--doc:(text division) contains a subdivision of the front, body, or back of a text. [4.1. ] -->
<!ELEMENT div ((%model.divTop;|%model.global;)*,((((%model.divLike;|%model.divGenLike;),(%model.global;)*)+|(((%model.common;),(%model.global;)*)+,((%model.divLike;|%model.divGenLike;),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?)>
<!ATTLIST div xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div
 %att.global.attributes;
 %att.divLike.attributes;
 %att.typed.attributes;
 %att.declaring.attributes; >
<!--doc:(automatically generated text division) indicates the location at which a textual division generated automatically by a text-processing application is to appear. [3.8.2. ] -->
<!ELEMENT divGen (%model.headLike;)*>
<!ATTLIST divGen xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST divGen
 %att.global.attributes;
type %data.enumerated;  #IMPLIED >
<!--doc:(document author) contains the name of the author of the document, as given on the title page (often but not always contained in a byline). [4.6. ] -->
<!ELEMENT docAuthor %macro.phraseSeq;>
<!ATTLIST docAuthor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST docAuthor
 %att.global.attributes;
 %att.canonical.attributes; >
<!--doc:(document date) contains the date of a document, as given (usually) on a title page. [4.6. ] -->
<!ELEMENT docDate %macro.phraseSeq;>
<!ATTLIST docDate xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST docDate
 %att.global.attributes;
when %data.temporal.w3c;  #IMPLIED >
<!--doc:(document edition) contains an edition statement as presented on a title page of a document. [4.6. ] -->
<!ELEMENT docEdition %macro.paraContent;>
<!ATTLIST docEdition xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST docEdition
 %att.global.attributes; >
<!--doc:(document imprint) contains the imprint statement (place and date of publication, publisher name), as given (usually) at the foot of a title page. [4.6. ] -->
<!ELEMENT docImprint (#PCDATA|_DUMMY_model.gLike|%model.phrase;|pubPlace|docDate|publisher|%model.global;)*>
<!ATTLIST docImprint xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST docImprint
 %att.global.attributes; >
<!--doc:(document title) contains the title of a document, including all its constituents, as given on a title page. [4.6. ] -->
<!ELEMENT docTitle ((%model.global;)*,(titlePart,(%model.global;)*)+)>
<!ATTLIST docTitle xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST docTitle
 %att.global.attributes;
 %att.canonical.attributes; >
<!--doc:(edition) describes the particularities of one edition of a text. [2.2.2. ] -->
<!ELEMENT edition %macro.phraseSeq;>
<!ATTLIST edition xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST edition
 %att.global.attributes; >
<!--doc:(edition statement) groups information relating to one edition of a text. [2.2.2.  2.2. ] -->
<!ELEMENT editionStmt ((%model.pLike;)+|(edition,(%model.respLike;)*))>
<!ATTLIST editionStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST editionStmt
 %att.global.attributes; >
<!--doc:contains a secondary statement of responsibility for a bibliographic item, for example the name of an individual, institution or organization, (or of several such) acting as editor, compiler, translator, etc.  [3.11.2.2. ] -->
<!ELEMENT editor %macro.phraseSeq;>
<!ATTLIST editor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST editor
 %att.global.attributes;
 %att.naming.attributes; >
<!--doc:(editorial practice declaration) provides details of editorial principles and practices applied during the encoding of a text. [2.3.3.  2.3.  15.3.2. ] -->
<!ELEMENT editorialDecl (%model.pLike;|_DUMMY_model.editorialDeclPart)+>
<!ATTLIST editorialDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST editorialDecl
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:(example) contains any kind of illustrative example.  [22.4.4.  22.4.5. ] -->
<!ELEMENT eg %macro.phraseSeq;>
<!ATTLIST eg xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST eg
 %att.global.attributes; >
<!--doc:(emphasized) marks words or phrases which are stressed or emphasized for linguistic or rhetorical effect. [3.3.2.2.  3.3.2. ] -->
<!ELEMENT emph %macro.paraContent;>
<!ATTLIST emph xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST emph
 %att.global.attributes; >
<!--doc:(encoding description) documents the relationship between an electronic text and the source or sources from which it was derived. [2.3.  2.1.1. ] -->
<!ELEMENT encodingDesc (%model.encodingDescPart;|%model.pLike;)+>
<!ATTLIST encodingDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST encodingDesc
 %att.global.attributes; >
<!--doc:contains a quotation, anonymous or attributed, appearing at the start or end of a section or on a title page.  [4.2.3.  4.2.  4.6. ] -->
<!ELEMENT epigraph (%model.common;|%model.global;)*>
<!ATTLIST epigraph xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST epigraph
 %att.global.attributes; >
<!--doc:(expansion) contains the expansion of an abbreviation. [3.5.5. ] -->
<!ELEMENT expan %macro.phraseSeq;>
<!ATTLIST expan xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST expan
 %att.global.attributes;
 %att.editLike.attributes; >
<!--doc:describes the approximate size of a text stored on some carrier medium or of some other object, digital or non-digital, specified in any convenient units. [2.2.3.  2.2.  3.11.2.4.  10.7.1. ] -->
<!ELEMENT extent %macro.phraseSeq;>
<!ATTLIST extent xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST extent
 %att.global.attributes; >
<!--doc:(description of figure) contains a brief prose description of the appearance or content of a graphic figure, for use when documenting an image without displaying it. [14.4. ] -->
<!ELEMENT figDesc %macro.limitedContent;>
<!ATTLIST figDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST figDesc
 %att.global.attributes; >
<!--doc:groups elements representing or containing graphic information such as an illustration, formula, or figure. [14.4. ] -->
<!ELEMENT figure (%model.headLike;|%model.common;|figDesc|%model.graphicLike;|%model.global;|%model.divBottom;)*>
<!ATTLIST figure xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST figure
 %att.global.attributes;
 %att.placement.attributes;
 %att.typed.attributes; >
<!--doc:(file description) contains a full bibliographic description of an electronic file. [2.2.  2.1.1. ] -->
<!ELEMENT fileDesc ((titleStmt,editionStmt?,extent?,publicationStmt,seriesStmt?,notesStmt?),sourceDesc+)>
<!ATTLIST fileDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST fileDesc
 %att.global.attributes; >
<!--doc:(foreign) identifies a word or phrase as belonging to some language other than that of the surrounding text.  [3.3.2.1. ] -->
<!ELEMENT foreign %macro.phraseSeq;>
<!ATTLIST foreign xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST foreign
 %att.global.attributes; >
<!--doc:contains a mathematical or other formula. [14.2. ] -->
<!ELEMENT formula (#PCDATA|%model.graphicLike;|%model.hiLike;)*>
<!ATTLIST formula xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST formula
 %att.global.attributes;
notation %data.enumerated;  #IMPLIED >
<!--doc:(front matter) contains any prefatory matter (headers, title page, prefaces, dedications, etc.) found at the start of a document, before the main body. [4.6.  4. ] -->
<!ELEMENT front ((%model.frontPart;|%model.pLike;|%model.pLike.front;|%model.global;)*,(((_DUMMY_model.div1Like,(_DUMMY_model.div1Like|%model.frontPart;|%model.global;)*)|(%model.divLike;,(%model.divLike;|%model.frontPart;|%model.global;)*)),((%model.divBottom;),(%model.divBottom;|%model.global;)*)?)?)>
<!ATTLIST front xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST front
 %att.global.attributes;
 %att.declaring.attributes; >
<!--doc:(funding body) specifies the name of an individual, institution, or organization responsible for the funding of a project or text. [2.2.1. ] -->
<!ELEMENT funder %macro.phraseSeq.limited;>
<!ATTLIST funder xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST funder
 %att.global.attributes; >
<!--doc:(gap) indicates a point where material has been omitted in a transcription, whether for editorial reasons described in the TEI header, as part of sampling practice, or because the material is illegible, invisible, or inaudible. [3.4.3. ] -->
<!ELEMENT gap (%model.descLike;|_DUMMY_model.certLike)*>
<!ATTLIST gap xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST gap
 %att.global.attributes;
 %att.editLike.attributes;
reason CDATA  #IMPLIED
hand %data.pointer;  #IMPLIED
agent %data.enumerated;  #IMPLIED >
<!--doc:(element name) contains the name (generic identifier) of an element. [22.  22.4.4. ] -->
<!ELEMENT gi  (#PCDATA)>
<!ATTLIST gi xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST gi
 %att.global.attributes;
scheme %data.enumerated;  "TEI"  >
<!--doc:identifies a phrase or word used to provide a gloss or definition for some other word or phrase. [3.3.4.  22.4.1. ] -->
<!ELEMENT gloss %macro.phraseSeq;>
<!ATTLIST gloss xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST gloss
 %att.global.attributes;
 %att.declaring.attributes;
 %att.translatable.attributes;
 %att.typed.attributes;
 %att.pointing.attributes;
 %att.cReferencing.attributes; >
<!--doc:indicates the location of an inline graphic, illustration, or figure. [3.9. ] -->
<!ELEMENT graphic (%model.descLike;)*>
<!ATTLIST graphic xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST graphic
 %att.global.attributes;
 %att.media.attributes;
 %att.resourced.attributes;
 %att.declaring.attributes; >
<!--doc:contains the body of a composite text, grouping together a sequence of distinct texts (or groups of such texts) which are regarded as a unit for some purpose, for example the collected works of an author, a sequence of prose essays, etc. [4.  4.3.1.  15.1. ] -->
<!ELEMENT group ((%model.divTop;|%model.global;)*,((text|group),(text|group|%model.global;)*),(%model.divBottom;)*)>
<!ATTLIST group xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST group
 %att.global.attributes;
 %att.declaring.attributes;
 %att.typed.attributes; >
<!--doc:(heading) contains any type of heading, for example the title of a section, or the heading of a list, glossary, manuscript description, etc. [4.2.1. ] -->
<!ELEMENT head (#PCDATA|lg|_DUMMY_model.gLike|%model.phrase;|%model.inter;|%model.lLike;|%model.global;)*>
<!ATTLIST head xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST head
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:(highlighted) marks a word or phrase as graphically distinct from the surrounding text, for reasons concerning which no claim is made.  [3.3.2.2.  3.3.2. ] -->
<!ELEMENT hi %macro.paraContent;>
<!ATTLIST hi xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST hi
 %att.global.attributes; >
<!--doc:(identifier) contains an identifier or name for an object of some kind in a formal language. ident is used for tokens such as variable names, class names, type names, function names etc. in formal programming languages. [22.1.1. ] -->
<!ELEMENT ident  (#PCDATA)>
<!ATTLIST ident xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST ident
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:(identifier) supplies any form of identifier used to identify some object, such as a bibliographic item, a person, a title, an organization, etc. in a standardized way. [2.2.4.  2.2.5.  3.11.2.4. ] -->
<!ELEMENT idno (#PCDATA|_DUMMY_model.gLike|idno)*>
<!ATTLIST idno xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST idno
 %att.global.attributes;
 %att.sortable.attributes;
type %data.enumerated;  #IMPLIED >
<!--doc:contains a formal statement authorizing the publication of a work, sometimes required to appear on a title page or its verso. [4.6. ] -->
<!ELEMENT imprimatur %macro.paraContent;>
<!ATTLIST imprimatur xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST imprimatur
 %att.global.attributes; >
<!--doc:(index entry) marks a location to be indexed for whatever purpose. [3.8.2. ] -->
<!ELEMENT index (term,index?)*>
<!ATTLIST index xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST index
 %att.global.attributes;
 %att.spanning.attributes;
indexName %data.name;  #IMPLIED >
<!--doc:(interpretation) summarizes a specific interpretative annotation which can be linked to a span of text. [17.3. ] -->
<!ELEMENT interp (#PCDATA|_DUMMY_model.gLike|%model.descLike;|_DUMMY_model.certLike)*>
<!ATTLIST interp xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST interp
 %att.global.attributes;
 %att.interpLike.attributes; >
<!--doc:(interpretation group) collects together a set of related interpretations which share responsibility or type. [17.3. ] -->
<!ELEMENT interpGrp ((%model.descLike;)*,interp+)>
<!ATTLIST interpGrp xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST interpGrp
 %att.global.attributes;
 %att.interpLike.attributes; >
<!--doc:contains one component of a list. [3.7.  2.5. ] -->
<!ELEMENT item %macro.specialPara;>
<!ATTLIST item xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST item
 %att.global.attributes;
 %att.sortable.attributes; >
<!--doc:contains a list of keywords or phrases identifying the topic or nature of a text. [2.4.3. ] -->
<!ELEMENT keywords (term+|list)>
<!ATTLIST keywords xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST keywords
 %att.global.attributes;
scheme %data.pointer;  #IMPLIED >
<!--doc:(verse line) contains a single, possibly incomplete, line of verse. [3.12.1.  3.12.  7.2.5. ] -->
<!ELEMENT l %macro.paraContent;>
<!ATTLIST l xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST l
 %att.global.attributes;
 %att.fragmentable.attributes; >
<!--doc:contains any label or heading used to identify part of a text, typically but not exclusively in a list or glossary. [3.7. ] -->
<!ELEMENT label %macro.phraseSeq;>
<!ATTLIST label xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST label
 %att.global.attributes;
 %att.typed.attributes;
 %att.placement.attributes; >
<!--doc:(language usage) describes the languages, sublanguages, registers, dialects, etc. represented within a text. [2.4.2.  2.4.  15.3.2. ] -->
<!ELEMENT langUsage (language)+>
<!ATTLIST langUsage xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST langUsage
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:characterizes a single language or sublanguage used within a text. [2.4.2. ] -->
<!ELEMENT language %macro.phraseSeq.limited;>
<!ATTLIST language xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST language
 %att.global.attributes;
ident %data.language;  #REQUIRED
usage CDATA #IMPLIED >
<!--doc:(line break) marks the start of a new (typographic) line in some edition or version of a text. [3.10.3.  7.2.5. ] -->
<!ELEMENT lb EMPTY>
<!ATTLIST lb xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST lb
 %att.global.attributes;
 %att.typed.attributes;
 %att.edition.attributes;
 %att.spanning.attributes;
 %att.breaking.attributes; >
<!--doc:(line group) contains one or more verse lines functioning as a formal unit, e.g. a stanza, refrain, verse paragraph, etc. [3.12.1.  3.12.  7.2.5. ] -->
<!ELEMENT lg ((%model.divTop;|%model.global;)*,(%model.lLike;|%model.stageLike;|%model.labelLike;|lg),(%model.lLike;|%model.stageLike;|%model.labelLike;|%model.global;|lg)*,((%model.divBottom;),(%model.global;)*)*)>
<!ATTLIST lg xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST lg
 %att.global.attributes;
 %att.divLike.attributes;
 %att.typed.attributes;
 %att.declaring.attributes; >
<!--doc:contains information about a licence or other legal agreement applicable to the text. [2.2.4. ] -->
<!ELEMENT licence %macro.specialPara;>
<!ATTLIST licence xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST licence
 %att.global.attributes;
 %att.pointing.attributes;
 %att.datable.attributes; >
<!--doc:(list) contains any sequence of items organized as a list. [3.7. ] -->
<!ELEMENT list (((%model.divTop;)|(%model.global;))*,((item,(%model.global;)*)+|(label,(%model.global;)*,item,(%model.global;)*)+),((%model.divBottom;),(%model.global;)*)*)>
<!ATTLIST list xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST list
 %att.global.attributes;
 %att.sortable.attributes;
type %data.enumerated;  "simple"  >
<!--doc:(citation list) contains a list of bibliographic citations of any kind.  [3.11.1.  2.2.7.  15.3.2. ] -->
<!ELEMENT listBibl ((%model.headLike;)*,(%model.biblLike;|%model.milestoneLike;)+)>
<!ATTLIST listBibl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST listBibl
 %att.global.attributes;
 %att.sortable.attributes;
 %att.declarable.attributes;
 %att.typed.attributes; >
<!--doc:marks words or phrases mentioned, not used. [3.3.3. ] -->
<!ELEMENT mentioned %macro.phraseSeq;>
<!ATTLIST mentioned xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST mentioned
 %att.global.attributes; >
<!--doc:marks a boundary point separating any kind of section of a text, typically but not necessarily indicating a point at which some part of a standard reference system changes, where the change is not represented by a structural element. [3.10.3. ] -->
<!ELEMENT milestone EMPTY>
<!ATTLIST milestone xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST milestone
 %att.global.attributes;
 %att.milestoneUnit.attributes;
 %att.typed.attributes;
 %att.edition.attributes;
 %att.spanning.attributes;
 %att.breaking.attributes; >
<!--doc:(name, proper noun) contains a proper noun or noun phrase. [3.5.1. ] -->
<!ELEMENT name %macro.phraseSeq;>
<!ATTLIST name xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST name
 %att.global.attributes;
 %att.personal.attributes;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.typed.attributes; >
<!--doc:contains a note or annotation. [3.8.1.  2.2.6.  3.11.2.8.  9.3.5.4. ] -->
<!ELEMENT note %macro.specialPara;>
<!ATTLIST note xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST note
 %att.global.attributes;
 %att.placement.attributes;
 %att.pointing.attributes;
 %att.responsibility.attributes;
 %att.typed.attributes;
anchored %data.truthValue;  "true" 
targetEnd CDATA  #IMPLIED >
<!--doc:(notes statement) collects together any notes providing information about a text additional to that recorded in other parts of the bibliographic description. [2.2.6.  2.2. ] -->
<!ELEMENT notesStmt (%model.noteLike;|relatedItem)+>
<!ATTLIST notesStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST notesStmt
 %att.global.attributes; >
<!--doc:(number) contains a number, written in any form. [3.5.3. ] -->
<!ELEMENT num %macro.phraseSeq;>
<!ATTLIST num xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST num
 %att.global.attributes;
 %att.ranging.attributes;
type %data.enumerated;  #IMPLIED
value %data.numeric;  #IMPLIED >
<!--doc:groups together dateline, byline, salutation, and similar phrases appearing as a preliminary group at the start of a division, especially of a letter. [4.2. ] -->
<!ELEMENT opener (#PCDATA|_DUMMY_model.gLike|%model.phrase;|argument|byline|dateline|epigraph|salute|signed|%model.global;)*>
<!ATTLIST opener xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST opener
 %att.global.attributes; >
<!--doc:(original form) contains a reading which is marked as following the original, rather than being normalized or corrected. [3.4.2.  12. ] -->
<!ELEMENT orig %macro.paraContent;>
<!ATTLIST orig xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST orig
 %att.global.attributes;
 %att.responsibility.attributes; >
<!--doc:(paragraph) marks paragraphs in prose. [3.1.  7.2.5. ] -->
<!ELEMENT p %macro.paraContent;>
<!ATTLIST p xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST p
 %att.global.attributes;
 %att.declaring.attributes;
 %att.fragmentable.attributes; >
<!--doc:(page break) marks the start of a new page in a paginated document. [3.10.3. ] -->
<!ELEMENT pb EMPTY>
<!ATTLIST pb xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST pb
 %att.global.attributes;
 %att.typed.attributes;
 %att.edition.attributes;
 %att.spanning.attributes;
 %att.breaking.attributes; >
<!--doc: (punctuation character) contains a character or string of characters regarded as constituting a single punctuation mark. [17.1. ] -->
<!ELEMENT pc (#PCDATA|_DUMMY_model.gLike|%model.pPart.edit;)*>
<!ATTLIST pc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST pc
 %att.global.attributes;
 %att.segLike.attributes;
 %att.typed.attributes;
force (strong|weak|inter) #IMPLIED
unit %data.enumerated;  #IMPLIED
pre %data.truthValue;  #IMPLIED >
<!--doc:contains a postscript, e.g. to a letter. [4.2. ] -->
<!ELEMENT postscript ((%model.global;|%model.divTopPart;)*,(%model.common;),(%model.global;|%model.common;)*,((%model.divBottomPart;),(%model.global;)*)*)>
<!ATTLIST postscript xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST postscript
 %att.global.attributes; >
<!--doc:(principal researcher) supplies the name of the principal researcher responsible for the creation of an electronic text. [2.2.1. ] -->
<!ELEMENT principal %macro.phraseSeq.limited;>
<!ATTLIST principal xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST principal
 %att.global.attributes; >
<!--doc:(text-profile description) provides a detailed description of non-bibliographic aspects of a text, specifically the languages and sublanguages used, the situation in which it was produced, the participants and their setting. [2.4.  2.1.1. ] -->
<!ELEMENT profileDesc (%model.profileDescPart;)*>
<!ATTLIST profileDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST profileDesc
 %att.global.attributes; >
<!--doc:(project description) describes in detail the aim or purpose for which an electronic file was encoded, together with any other relevant information concerning the process by which it was assembled or collected. [2.3.1.  2.3.  15.3.2. ] -->
<!ELEMENT projectDesc (%model.pLike;)+>
<!ATTLIST projectDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST projectDesc
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:(pointer) defines a pointer to another location. [3.6.  16.1. ] -->
<!ELEMENT ptr EMPTY>
<!ATTLIST ptr xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST ptr
 %att.global.attributes;
 %att.pointing.attributes;
 %att.typed.attributes;
 %att.declaring.attributes;
 %att.cReferencing.attributes; >
<!--doc:(publication place) contains the name of the place where a bibliographic item was published. [3.11.2.4. ] -->
<!ELEMENT pubPlace %macro.phraseSeq;>
<!ATTLIST pubPlace xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST pubPlace
 %att.global.attributes;
 %att.naming.attributes; >
<!--doc:(publication statement) groups information concerning the publication or distribution of an electronic or other text.  [2.2.4.  2.2. ] -->
<!ELEMENT publicationStmt ((%model.pLike;)+|(%model.publicationStmtPart;)+)>
<!ATTLIST publicationStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST publicationStmt
 %att.global.attributes; >
<!--doc:provides the name of the organization responsible for the publication or distribution of a bibliographic item. [3.11.2.4.  2.2.4. ] -->
<!ELEMENT publisher %macro.phraseSeq;>
<!ATTLIST publisher xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST publisher
 %att.global.attributes; >
<!--doc:(quoted) contains material which is distinguished from the surrounding text using quotation marks or a similar method, for any one of a variety of reasons including, but not limited to: direct speech or thought, technical terms or jargon, authorial distance, quotations from elsewhere, and passages that are mentioned but not used. [3.3.3. ] -->
<!ELEMENT q %macro.specialPara;>
<!ATTLIST q xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST q
 %att.global.attributes;
 %att.ascribed.attributes;
 %att.source.attributes;
type %data.enumerated;  #IMPLIED >
<!--doc:(reference) defines a reference to another location, possibly modified by additional text or comment. [3.6.  16.1. ] -->
<!ELEMENT ref %macro.paraContent;>
<!ATTLIST ref xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST ref
 %att.global.attributes;
 %att.pointing.attributes;
 %att.typed.attributes;
 %att.declaring.attributes;
 %att.cReferencing.attributes; >
<!--doc:(references declaration) specifies how canonical references are constructed for this text. [2.3.6.3.  2.3.  2.3.6. ] -->
<!ELEMENT refsDecl (%model.pLike;)+>
<!ATTLIST refsDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST refsDecl
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:(regularization) contains a reading which has been regularized or normalized in some sense. [3.4.2.  12. ] -->
<!ELEMENT reg %macro.paraContent;>
<!ATTLIST reg xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST reg
 %att.global.attributes;
 %att.editLike.attributes;
 %att.typed.attributes; >
<!--doc:contains or references some other bibliographic item which is related to the present one in some specified manner, for example as a constituent or alternative version of it. [3.11.2.7. ] -->
<!ELEMENT relatedItem (%model.biblLike;|%model.ptrLike;)?>
<!ATTLIST relatedItem xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST relatedItem
 %att.global.attributes;
 %att.typed.attributes;
target %data.pointer;  #IMPLIED >
<!--doc:(responsibility) contains a phrase describing the nature of a person's intellectual responsibility, or an organization's role in the production or distribution of a work. [3.11.2.2.  2.2.1.  2.2.2.  2.2.5. ] -->
<!ELEMENT resp %macro.phraseSeq.limited;>
<!ATTLIST resp xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST resp
 %att.global.attributes;
 %att.canonical.attributes; >
<!--doc:(statement of responsibility) supplies a statement of responsibility for the intellectual content of a text, edition, recording, or series, where the specialized elements for authors, editors, etc. do not suffice or do not apply. May also be used to encode information about individuals or organizations which have played a role in the production or distribution of a bibliographic work. [3.11.2.2.  2.2.1.  2.2.2.  2.2.5. ] -->
<!ELEMENT respStmt ((resp+,(%model.nameLike.agent;)+)|((%model.nameLike.agent;)+,resp+))>
<!ATTLIST respStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST respStmt
 %att.global.attributes; >
<!--doc:(revision description) summarizes the revision history for a file. [2.5.  2.1.1. ] -->
<!ELEMENT revisionDesc (list|change+)>
<!ATTLIST revisionDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST revisionDesc
 %att.global.attributes;
 %att.docStatus.attributes; >
<!--doc:contains one row of a table.  [14.1.1. ] -->
<!ELEMENT row (cell)+>
<!ATTLIST row xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST row
 %att.global.attributes;
 %att.tableDecoration.attributes; >
<!--doc:(referencing string) contains a general purpose name or referring string. [13.2.1.  3.5.1. ] -->
<!ELEMENT rs %macro.phraseSeq;>
<!ATTLIST rs xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST rs
 %att.global.attributes;
 %att.naming.attributes;
 %att.typed.attributes; >
<!--doc:(s-unit) contains a sentence-like division of a text. [17.1.  8.4.1. ] -->
<!ELEMENT s %macro.phraseSeq;>
<!ATTLIST s xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST s
 %att.global.attributes;
 %att.segLike.attributes;
 %att.typed.attributes; >
<!--doc:(salutation) contains a salutation or greeting prefixed to a foreword, dedicatory epistle, or other division of a text, or the salutation in the closing of a letter, preface, etc. [4.2.2. ] -->
<!ELEMENT salute %macro.phraseSeq;>
<!ATTLIST salute xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST salute
 %att.global.attributes; >
<!--doc:(sampling declaration) contains a prose description of the rationale and methods used in sampling texts in the creation of a corpus or collection. [2.3.2.  2.3.  15.3.2. ] -->
<!ELEMENT samplingDecl (%model.pLike;)+>
<!ATTLIST samplingDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST samplingDecl
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:(arbitrary segment) represents any segmentation of text below the chunk level. [16.3.  6.2.  7.2.5. ] -->
<!ELEMENT seg %macro.paraContent;>
<!ATTLIST seg xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST seg
 %att.global.attributes;
 %att.segLike.attributes;
 %att.typed.attributes;
 %att.responsibility.attributes; >
<!--doc:(series statement) groups information about the series, if any, to which a publication belongs. [2.2.5.  2.2. ] -->
<!ELEMENT seriesStmt ((%model.pLike;)+|(title+,(editor|respStmt)*,(idno|biblScope)*))>
<!ATTLIST seriesStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST seriesStmt
 %att.global.attributes; >
<!--doc:(Latin for thus or so) contains text reproduced although apparently incorrect or inaccurate. [3.4.1. ] -->
<!ELEMENT sic %macro.paraContent;>
<!ATTLIST sic xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST sic
 %att.global.attributes;
 %att.responsibility.attributes; >
<!--doc:(signature) contains the closing salutation, etc., appended to a foreword, dedicatory epistle, or other division of a text.  [4.2.2. ] -->
<!ELEMENT signed %macro.paraContent;>
<!ATTLIST signed xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST signed
 %att.global.attributes; >
<!--doc:contains a word or phrase for which the author or narrator indicates a disclaiming of responsibility, for example by the use of scare quotes or italics. [3.3.3. ] -->
<!ELEMENT soCalled %macro.phraseSeq;>
<!ATTLIST soCalled xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST soCalled
 %att.global.attributes; >
<!--doc:(source description) describes the source from which an electronic text was derived or generated, typically a bibliographic description in the case of a digitized text, or a phrase such as "born digital" for a text which has no previous existence. [2.2.7. ] -->
<!ELEMENT sourceDesc ((%model.pLike;)+|(%model.biblLike;|_DUMMY_model.sourceDescPart|%model.listLike;)+)>
<!ATTLIST sourceDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST sourceDesc
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:(speech) contains an individual speech in a performance text, or a passage presented as such in a prose or verse text. [3.12.2.  3.12.  7.2.2. ] -->
<!ELEMENT sp ((%model.global;)*,(speaker,(%model.global;)*)?,((lg|%model.lLike;|%model.pLike;|%model.listLike;|%model.stageLike;|%model.qLike;),(%model.global;)*)+)>
<!ATTLIST sp xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST sp
 %att.global.attributes;
 %att.ascribed.attributes; >
<!--doc:contains a specialized form of heading or label, giving the name of one or more speakers in a dramatic text or fragment. [3.12.2. ] -->
<!ELEMENT speaker %macro.phraseSeq;>
<!ATTLIST speaker xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST speaker
 %att.global.attributes; >
<!--doc:specifies the name of a sponsoring organization or institution. [2.2.1. ] -->
<!ELEMENT sponsor %macro.phraseSeq.limited;>
<!ATTLIST sponsor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST sponsor
 %att.global.attributes; >
<!--doc:(stage direction) contains any kind of stage direction within a dramatic text or fragment. [3.12.2.  3.12.  7.2.4. ] -->
<!ELEMENT stage %macro.specialPara;>
<!ATTLIST stage xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST stage
 %att.ascribed.attributes;
 %att.global.attributes;
type %data.enumerated;  #IMPLIED >
<!--doc:contains text displayed in tabular form, in rows and columns. [14.1.1. ] -->
<!ELEMENT table ((%model.headLike;|%model.global;)*,((row,(%model.global;)*)+|((%model.graphicLike;),(%model.global;)*)+),((%model.divBottom;),(%model.global;)*)*)>
<!ATTLIST table xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST table
 %att.global.attributes;
rows %data.count;  #IMPLIED
cols %data.count;  #IMPLIED >
<!--doc:defines a typology either implicitly, by means of a bibliographic citation, or explicitly by a structured taxonomy. [2.3.7. ] -->
<!ELEMENT taxonomy ((%model.glossLike;|%model.descLike;)*|category+|((%model.biblLike;),category*))>
<!ATTLIST taxonomy xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST taxonomy
 %att.global.attributes; >
<!--doc:contains the whole of a TEI encoded corpus, comprising a single corpus header and one or more TEI elements, each containing a single text header and a text. [4.  15.1. ] -->
<!ELEMENT teiCorpus (teiHeader,((_DUMMY_model.resourceLike+,(TEI|teiCorpus)*)|(TEI|teiCorpus)+))>
<!ATTLIST teiCorpus xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST teiCorpus
 %att.global.attributes;
version %data.version;  "5.0"  >
<!ATTLIST teiCorpus xsi:schemaLocation CDATA #IMPLIED
 xmlns:xsi CDATA #FIXED 'http://www.w3.org/2001/XMLSchema-instance'
 >
<!--doc:(TEI header) supplies the descriptive and declarative information making up an electronic title page prefixed to every TEI-conformant text. [2.1.1.  15.1. ] -->
<!ELEMENT teiHeader (fileDesc,(%model.teiHeaderPart;)*,revisionDesc?)>
<!ATTLIST teiHeader xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST teiHeader
 %att.global.attributes;
type %data.enumerated;  "text"  >
<!--doc:contains a single-word, multi-word, or symbolic designation which is regarded as a technical term. [3.3.4. ] -->
<!ELEMENT term %macro.phraseSeq;>
<!ATTLIST term xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST term
 %att.global.attributes;
 %att.declaring.attributes;
 %att.pointing.attributes;
 %att.typed.attributes;
 %att.canonical.attributes;
 %att.sortable.attributes;
 %att.cReferencing.attributes; >
<!--doc:contains a single text of any kind, whether unitary or composite, for example a poem or drama, a collection of essays, a novel, a dictionary, or a corpus sample. [4.  15.1. ] -->
<!ELEMENT text ((%model.global;)*,(front,(%model.global;)*)?,(body|group),(%model.global;)*,(back,(%model.global;)*)?)>
<!ATTLIST text xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST text
 %att.global.attributes;
 %att.declaring.attributes;
 %att.typed.attributes; >
<!--doc:(text classification) groups information which describes the nature or topic of a text in terms of a standard classification scheme, thesaurus, etc. [2.4.3. ] -->
<!ELEMENT textClass (classCode|catRef|keywords)*>
<!ATTLIST textClass xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST textClass
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:contains a phrase defining a time of day in any format. [3.5.4. ] -->
<!ELEMENT time (#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.global;)*>
<!ATTLIST time xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST time
 %att.global.attributes;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.typed.attributes; >
<!--doc:contains a title for any kind of work. [3.11.2.2.  2.2.1.  2.2.5. ] -->
<!ELEMENT title %macro.paraContent;>
<!ATTLIST title xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST title
 %att.global.attributes;
 %att.canonical.attributes;
 %att.typed.attribute.subtype;
type %data.enumerated;  #IMPLIED
level (a|m|j|s|u) #IMPLIED >
<!--doc:(title page) contains the title page of a text, appearing within the front or back matter.  [4.6. ] -->
<!ELEMENT titlePage ((%model.global;)*,(%model.titlepagePart;),(%model.titlepagePart;|%model.global;)*)>
<!ATTLIST titlePage xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST titlePage
 %att.global.attributes;
type %data.enumerated;  #IMPLIED >
<!--doc:contains a subsection or division of the title of a work, as indicated on a title page. [4.6. ] -->
<!ELEMENT titlePart %macro.paraContent;>
<!ATTLIST titlePart xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST titlePart
 %att.global.attributes;
type %data.enumerated;  "main"  >
<!--doc:(title statement) groups information about the title of a work and those responsible for its content. [2.2.1.  2.2. ] -->
<!ELEMENT titleStmt (title+,(%model.respLike;)*)>
<!ATTLIST titleStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST titleStmt
 %att.global.attributes; >
<!--doc:contains a closing title or footer appearing at the end of a division of a text.  [4.2.4.  4.2. ] -->
<!ELEMENT trailer %macro.phraseSeq;>
<!ATTLIST trailer xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST trailer
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:contains a word, phrase, or passage which cannot be transcribed with certainty because it is illegible or inaudible in the source. [11.3.3.1.  3.4.3. ] -->
<!ELEMENT unclear %macro.paraContent;>
<!ATTLIST unclear xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST unclear
 %att.global.attributes;
 %att.editLike.attributes;
reason CDATA  #IMPLIED
hand %data.pointer;  #IMPLIED
agent %data.enumerated;  #IMPLIED >
<!--doc:(value) contains a single attribute value. [22.  22.4.5. ] -->
<!ELEMENT val  (#PCDATA)>
<!ATTLIST val xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST val
 %att.global.attributes; >
<!--doc:(word) represents a grammatical (not necessarily orthographic) word. [17.1. ] -->
<!ELEMENT w (#PCDATA|_DUMMY_model.gLike|seg|w|pc|%model.global;|_DUMMY_model.lPart|%model.hiLike;|%model.pPart.edit;)*>
<!ATTLIST w xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST w
 %att.global.attributes;
 %att.segLike.attributes;
 %att.typed.attributes;
lemma %data.text;  #IMPLIED
lemmaRef CDATA  #IMPLIED >
<!-- end elements -->
