oxygen-tei/frameworks/tei/xml/tei/custom/schema/dtd/tei_tite.dtd


<!--
DTD Generated 2011-03-05T12:34:03Z. 
	  
Copyright 2010 TEI Consortium.
	  
This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of the
License, or (at your option) any later version. This library is
distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
details. You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA.
	
Edition: 1.9.1. Last updated on March 5th 2011.
Edition Location: http://www.tei-c.org/Vault/P5/1.9.1/

-->

<!-- start datatypes -->

<!ENTITY % data.certainty '(high|
medium|
low|
unknown)' >

<!ENTITY % data.numeric ' CDATA' >

<!ENTITY % data.count ' CDATA' >

<!ENTITY % data.temporal.w3c ' CDATA' >

<!ENTITY % data.duration.w3c ' CDATA' >

<!ENTITY % data.truthValue ' CDATA' >

<!ENTITY % data.language ' CDATA' >

<!ENTITY % data.outputMeasurement ' CDATA' >

<!ENTITY % data.pointer ' CDATA' >

<!ENTITY % data.key ' CDATA' >

<!ENTITY % data.word ' CDATA' >

<!ENTITY % data.code ' CDATA' >

<!ENTITY % data.name ' CDATA' >

<!ENTITY % data.enumerated '%data.name;' >

<!-- end datatypes -->

<!--predeclared classes -->

<!ENTITY % model.entryPart ""> 
<!ENTITY % model.entryPart_sequence ""> 
<!ENTITY % model.entryPart_sequenceOptional ""> 
<!ENTITY % model.entryPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.entryPart_sequenceRepeatable ""> 
<!--end of predeclared classes -->
<!ENTITY % att.ascribed.attributes '
who CDATA  #IMPLIED'> 
<!ENTITY % att.ascribed.attribute.who '
who CDATA  #IMPLIED'>
<!ENTITY % att.canonical.attributes '
key %data.key;  #IMPLIED
ref CDATA  #IMPLIED'> 
<!ENTITY % att.canonical.attribute.key '
key %data.key;  #IMPLIED'>

<!ENTITY % att.canonical.attribute.ref '
ref CDATA  #IMPLIED'>
<!ENTITY % att.ranging.attributes '
atLeast %data.numeric;  #IMPLIED
atMost %data.numeric;  #IMPLIED
min %data.numeric;  #IMPLIED
max %data.numeric;  #IMPLIED'> 
<!ENTITY % att.ranging.attribute.atLeast '
atLeast %data.numeric;  #IMPLIED'>

<!ENTITY % att.ranging.attribute.atMost '
atMost %data.numeric;  #IMPLIED'>

<!ENTITY % att.ranging.attribute.min '
min %data.numeric;  #IMPLIED'>

<!ENTITY % att.ranging.attribute.max '
max %data.numeric;  #IMPLIED'>
<!ENTITY % att.dimensions.attributes ' %att.ranging.attributes;
unit %data.enumerated;  #IMPLIED
quantity %data.numeric;  #IMPLIED
extent CDATA  #IMPLIED
precision %data.certainty;  #IMPLIED
scope %data.enumerated;  #IMPLIED'> 
<!ENTITY % att.dimensions.attribute.unit '
unit %data.enumerated;  #IMPLIED'>

<!ENTITY % att.dimensions.attribute.quantity '
quantity %data.numeric;  #IMPLIED'>

<!ENTITY % att.dimensions.attribute.extent '
extent CDATA  #IMPLIED'>

<!ENTITY % att.dimensions.attribute.precision '
precision %data.certainty;  #IMPLIED'>

<!ENTITY % att.dimensions.attribute.scope '
scope %data.enumerated;  #IMPLIED'>
<!ENTITY % att.breaking.attributes '
break %data.enumerated;  #IMPLIED'> 
<!ENTITY % att.breaking.attribute.break '
break %data.enumerated;  #IMPLIED'>
<!ENTITY % att.datable.w3c.attributes '
period %data.pointer;  #IMPLIED
when %data.temporal.w3c;  #IMPLIED
notBefore %data.temporal.w3c;  #IMPLIED
notAfter %data.temporal.w3c;  #IMPLIED
from %data.temporal.w3c;  #IMPLIED
to %data.temporal.w3c;  #IMPLIED'> 
<!ENTITY % att.datable.w3c.attribute.period '
period %data.pointer;  #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.when '
when %data.temporal.w3c;  #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.notBefore '
notBefore %data.temporal.w3c;  #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.notAfter '
notAfter %data.temporal.w3c;  #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.from '
from %data.temporal.w3c;  #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.to '
to %data.temporal.w3c;  #IMPLIED'>
<!ENTITY % att.datable.attributes ' %att.datable.w3c.attributes;'> <!ENTITY % att.declarable.attributes ''> <!ENTITY % att.declaring.attributes '
decls CDATA  #IMPLIED'> 
<!ENTITY % att.declaring.attribute.decls '
decls CDATA  #IMPLIED'>
<!ENTITY % att.responsibility.attributes '
cert %data.certainty;  #IMPLIED
resp CDATA  #IMPLIED'> 
<!ENTITY % att.responsibility.attribute.cert '
cert %data.certainty;  #IMPLIED'>

<!ENTITY % att.responsibility.attribute.resp '
resp CDATA  #IMPLIED'>
<!ENTITY % att.editLike.attributes ' %att.dimensions.attributes; %att.responsibility.attributes;
source CDATA  #IMPLIED'> 
<!ENTITY % att.editLike.attribute.source '
source CDATA  #IMPLIED'>
<!ENTITY % att.global.attributes '
xml:id ID #IMPLIED
n CDATA  #IMPLIED
xml:lang %data.language;  #IMPLIED
rend CDATA  #IMPLIED
xml:base %data.pointer;  #IMPLIED
xml:space (default|preserve) #IMPLIED'> 
<!ENTITY % att.global.attribute.xmlid '
xml:id ID #IMPLIED'>

<!ENTITY % att.global.attribute.n '
n CDATA  #IMPLIED'>

<!ENTITY % att.global.attribute.xmllang '
xml:lang %data.language;  #IMPLIED'>

<!ENTITY % att.global.attribute.rend '
rend CDATA  #IMPLIED'>

<!ENTITY % att.global.attribute.xmlbase '
xml:base %data.pointer;  #IMPLIED'>

<!ENTITY % att.global.attribute.xmlspace '
xml:space (default|preserve) #IMPLIED'>
<!ENTITY % att.internetMedia.attributes '
mimeType %data.word;  #IMPLIED'> 
<!ENTITY % att.internetMedia.attribute.mimeType '
mimeType %data.word;  #IMPLIED'>
<!ENTITY % att.measurement.attributes '
unit %data.enumerated;  #IMPLIED
quantity %data.numeric;  #IMPLIED
commodity CDATA  #IMPLIED'> 
<!ENTITY % att.measurement.attribute.unit '
unit %data.enumerated;  #IMPLIED'>

<!ENTITY % att.measurement.attribute.quantity '
quantity %data.numeric;  #IMPLIED'>

<!ENTITY % att.measurement.attribute.commodity '
commodity CDATA  #IMPLIED'>
<!ENTITY % att.naming.attributes ' %att.canonical.attributes;
role %data.enumerated;  #IMPLIED
nymRef CDATA  #IMPLIED'> 
<!ENTITY % att.naming.attribute.role '
role %data.enumerated;  #IMPLIED'>

<!ENTITY % att.naming.attribute.nymRef '
nymRef CDATA  #IMPLIED'>
<!ENTITY % att.placement.attributes '
place NMTOKENS  #IMPLIED'> 
<!ENTITY % att.placement.attribute.place '
place NMTOKENS  #IMPLIED'>
<!ENTITY % att.typed.attributes '
type %data.enumerated;  #IMPLIED'> 
<!ENTITY % att.typed.attribute.type '
type %data.enumerated;  #IMPLIED'>
<!ENTITY % att.pointing.attributes '
target CDATA  #IMPLIED
evaluate (all|one|none) #IMPLIED'> 
<!ENTITY % att.pointing.attribute.target '
target CDATA  #IMPLIED'>

<!ENTITY % att.pointing.attribute.evaluate '
evaluate (all|one|none) #IMPLIED'>
<!ENTITY % att.sourced.attributes '
ed CDATA  #IMPLIED'> 
<!ENTITY % att.sourced.attribute.ed '
ed CDATA  #IMPLIED'>
<!ENTITY % att.spanning.attributes '
spanTo %data.pointer;  #IMPLIED'> 
<!ENTITY % att.spanning.attribute.spanTo '
spanTo %data.pointer;  #IMPLIED'>
<!ENTITY % att.tableDecoration.attributes '
role %data.enumerated;  "data" 
rows %data.count;  "1" 
cols %data.count;  "1" '> 
<!ENTITY % att.tableDecoration.attribute.role '
role %data.enumerated;  "data" '>

<!ENTITY % att.tableDecoration.attribute.rows '
rows %data.count;  "1" '>

<!ENTITY % att.tableDecoration.attribute.cols '
cols %data.count;  "1" '>
<!ENTITY % att.translatable.attributes '
version %data.word;  #IMPLIED'> 
<!ENTITY % att.translatable.attribute.version '
version %data.word;  #IMPLIED'>

<!ENTITY % model.nameLike.agent "name"> 
<!ENTITY % model.nameLike.agent_sequence "name"> 
<!ENTITY % model.nameLike.agent_sequenceOptional "name?"> 
<!ENTITY % model.nameLike.agent_sequenceOptionalRepeatable "name*"> 
<!ENTITY % model.nameLike.agent_sequenceRepeatable "name+"> 
<!ENTITY % model.segLike "seg"> 
<!ENTITY % model.segLike_sequence "seg"> 
<!ENTITY % model.segLike_sequenceOptional "seg?"> 
<!ENTITY % model.segLike_sequenceOptionalRepeatable "seg*"> 
<!ENTITY % model.segLike_sequenceRepeatable "seg+"> 
<!ENTITY % model.hiLike "hi |
 b |
 i |
 ul |
 sub |
 sup |
 smcap"> 
<!ENTITY % model.hiLike_sequence "hi, b, i, ul, sub, sup, smcap"> 
<!ENTITY % model.hiLike_sequenceOptional "hi?, b?, i?, ul?, sub?, sup?, smcap?"> 
<!ENTITY % model.hiLike_sequenceOptionalRepeatable "hi*, b*, i*, ul*, sub*, sup*, smcap*"> 
<!ENTITY % model.hiLike_sequenceRepeatable "hi+, b+, i+, ul+, sub+, sup+, smcap+"> 
<!ENTITY % model.emphLike "foreign |
 title"> 
<!ENTITY % model.emphLike_sequence "foreign, title"> 
<!ENTITY % model.emphLike_sequenceOptional "foreign?, title?"> 
<!ENTITY % model.emphLike_sequenceOptionalRepeatable "foreign*, title*"> 
<!ENTITY % model.emphLike_sequenceRepeatable "foreign+, title+"> 
<!ENTITY % model.highlighted "%model.hiLike; |
 %model.emphLike;"> 
<!ENTITY % model.highlighted_sequence "%model.hiLike;, %model.emphLike;"> 
<!ENTITY % model.highlighted_sequenceOptional "%model.hiLike;?, %model.emphLike;?"> 
<!ENTITY % model.highlighted_sequenceOptionalRepeatable "%model.hiLike;*, %model.emphLike;*"> 
<!ENTITY % model.highlighted_sequenceRepeatable "%model.hiLike;+, %model.emphLike;+"> 
<!ENTITY % model.dateLike "date |
 time"> 
<!ENTITY % model.dateLike_sequence "date, time"> 
<!ENTITY % model.dateLike_sequenceOptional "date?, time?"> 
<!ENTITY % model.dateLike_sequenceOptionalRepeatable "date*, time*"> 
<!ENTITY % model.dateLike_sequenceRepeatable "date+, time+"> 
<!ENTITY % model.measureLike "num |
 measureGrp"> 
<!ENTITY % model.measureLike_sequence "num, measureGrp"> 
<!ENTITY % model.measureLike_sequenceOptional "num?, measureGrp?"> 
<!ENTITY % model.measureLike_sequenceOptionalRepeatable "num*, measureGrp*"> 
<!ENTITY % model.measureLike_sequenceRepeatable "num+, measureGrp+"> 
<!ENTITY % model.egLike ""> 
<!ENTITY % model.egLike_sequence ""> 
<!ENTITY % model.egLike_sequenceOptional ""> 
<!ENTITY % model.egLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.egLike_sequenceRepeatable ""> 
<!ENTITY % model.graphicLike "graphic |
 formula"> 
<!ENTITY % model.graphicLike_sequence "graphic, formula"> 
<!ENTITY % model.graphicLike_sequenceOptional "graphic?, formula?"> 
<!ENTITY % model.graphicLike_sequenceOptionalRepeatable "graphic*, formula*"> 
<!ENTITY % model.graphicLike_sequenceRepeatable "graphic+, formula+"> 
<!ENTITY % model.pPart.editorial "abbr"> 
<!ENTITY % model.pPart.editorial_sequence "abbr"> 
<!ENTITY % model.pPart.editorial_sequenceOptional "abbr?"> 
<!ENTITY % model.pPart.editorial_sequenceOptionalRepeatable "abbr*"> 
<!ENTITY % model.pPart.editorial_sequenceRepeatable "abbr+"> 
<!ENTITY % model.pPart.transcriptional "unclear"> 
<!ENTITY % model.pPart.transcriptional_sequence "unclear"> 
<!ENTITY % model.pPart.transcriptional_sequenceOptional "unclear?"> 
<!ENTITY % model.pPart.transcriptional_sequenceOptionalRepeatable "unclear*"> 
<!ENTITY % model.pPart.transcriptional_sequenceRepeatable "unclear+"> 
<!ENTITY % model.pPart.edit "%model.pPart.editorial; |
 %model.pPart.transcriptional;"> 
<!ENTITY % model.pPart.edit_sequence "%model.pPart.editorial;, %model.pPart.transcriptional;"> 
<!ENTITY % model.pPart.edit_sequenceOptional "%model.pPart.editorial;?, %model.pPart.transcriptional;?"> 
<!ENTITY % model.pPart.edit_sequenceOptionalRepeatable "%model.pPart.editorial;*, %model.pPart.transcriptional;*"> 
<!ENTITY % model.pPart.edit_sequenceRepeatable "%model.pPart.editorial;+, %model.pPart.transcriptional;+"> 
<!ENTITY % model.ptrLike "ptr |
 ref"> 
<!ENTITY % model.ptrLike_sequence "ptr, ref"> 
<!ENTITY % model.ptrLike_sequenceOptional "ptr?, ref?"> 
<!ENTITY % model.ptrLike_sequenceOptionalRepeatable "ptr*, ref*"> 
<!ENTITY % model.ptrLike_sequenceRepeatable "ptr+, ref+"> 
<!ENTITY % model.milestoneLike "milestone |
 pb |
 lb |
 cb |
 cols"> 
<!ENTITY % model.milestoneLike_sequence "milestone, pb, lb, cb, cols"> 
<!ENTITY % model.milestoneLike_sequenceOptional "milestone?, pb?, lb?, cb?, cols?"> 
<!ENTITY % model.milestoneLike_sequenceOptionalRepeatable "milestone*, pb*, lb*, cb*, cols*"> 
<!ENTITY % model.milestoneLike_sequenceRepeatable "milestone+, pb+, lb+, cb+, cols+"> 
<!ENTITY % model.gLike "g"> 
<!ENTITY % model.gLike_sequence "g"> 
<!ENTITY % model.gLike_sequenceOptional "g?"> 
<!ENTITY % model.gLike_sequenceOptionalRepeatable "g*"> 
<!ENTITY % model.gLike_sequenceRepeatable "g+"> 
<!ENTITY % model.biblLike "bibl"> 
<!ENTITY % model.biblLike_sequence "bibl"> 
<!ENTITY % model.biblLike_sequenceOptional "bibl?"> 
<!ENTITY % model.biblLike_sequenceOptionalRepeatable "bibl*"> 
<!ENTITY % model.biblLike_sequenceRepeatable "bibl+"> 
<!ENTITY % model.headLike "head"> 
<!ENTITY % model.headLike_sequence "head"> 
<!ENTITY % model.headLike_sequenceOptional "head?"> 
<!ENTITY % model.headLike_sequenceOptionalRepeatable "head*"> 
<!ENTITY % model.headLike_sequenceRepeatable "head+"> 
<!ENTITY % model.labelLike "desc |
 label"> 
<!ENTITY % model.labelLike_sequence "desc, label"> 
<!ENTITY % model.labelLike_sequenceOptional "desc?, label?"> 
<!ENTITY % model.labelLike_sequenceOptionalRepeatable "desc*, label*"> 
<!ENTITY % model.labelLike_sequenceRepeatable "desc+, label+"> 
<!ENTITY % model.listLike "list |
 listBibl"> 
<!ENTITY % model.listLike_sequence "list, listBibl"> 
<!ENTITY % model.listLike_sequenceOptional "list?, listBibl?"> 
<!ENTITY % model.listLike_sequenceOptionalRepeatable "list*, listBibl*"> 
<!ENTITY % model.listLike_sequenceRepeatable "list+, listBibl+"> 
<!ENTITY % model.noteLike "note"> 
<!ENTITY % model.noteLike_sequence "note"> 
<!ENTITY % model.noteLike_sequenceOptional "note?"> 
<!ENTITY % model.noteLike_sequenceOptionalRepeatable "note*"> 
<!ENTITY % model.noteLike_sequenceRepeatable "note+"> 
<!ENTITY % model.lLike "l"> 
<!ENTITY % model.lLike_sequence "l"> 
<!ENTITY % model.lLike_sequenceOptional "l?"> 
<!ENTITY % model.lLike_sequenceOptionalRepeatable "l*"> 
<!ENTITY % model.lLike_sequenceRepeatable "l+"> 
<!ENTITY % model.pLike "p |
 ab"> 
<!ENTITY % model.pLike_sequence "p, ab"> 
<!ENTITY % model.pLike_sequenceOptional "p?, ab?"> 
<!ENTITY % model.pLike_sequenceOptionalRepeatable "p*, ab*"> 
<!ENTITY % model.pLike_sequenceRepeatable "p+, ab+"> 
<!ENTITY % model.stageLike "stage"> 
<!ENTITY % model.stageLike_sequence "stage"> 
<!ENTITY % model.stageLike_sequenceOptional "stage?"> 
<!ENTITY % model.stageLike_sequenceOptionalRepeatable "stage*"> 
<!ENTITY % model.stageLike_sequenceRepeatable "stage+"> 
<!ENTITY % model.entryPart ""> 
<!ENTITY % model.entryPart_sequence ""> 
<!ENTITY % model.entryPart_sequenceOptional ""> 
<!ENTITY % model.entryPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.entryPart_sequenceRepeatable ""> 
<!ENTITY % model.entryPart.top "cit"> 
<!ENTITY % model.entryPart.top_sequence "cit"> 
<!ENTITY % model.entryPart.top_sequenceOptional "cit?"> 
<!ENTITY % model.entryPart.top_sequenceOptionalRepeatable "cit*"> 
<!ENTITY % model.entryPart.top_sequenceRepeatable "cit+"> 
<!ENTITY % model.global.edit "gap"> 
<!ENTITY % model.global.edit_sequence "gap"> 
<!ENTITY % model.global.edit_sequenceOptional "gap?"> 
<!ENTITY % model.global.edit_sequenceOptionalRepeatable "gap*"> 
<!ENTITY % model.global.edit_sequenceRepeatable "gap+"> 
<!ENTITY % model.divPart "%model.lLike; |
 %model.pLike; |
 lg |
 sp |
 floatingText"> 
<!ENTITY % model.divPart_sequence "%model.lLike;, %model.pLike;, lg, sp, floatingText"> 
<!ENTITY % model.divPart_sequenceOptional "%model.lLike;?, %model.pLike;?, lg?, sp?, floatingText?"> 
<!ENTITY % model.divPart_sequenceOptionalRepeatable "%model.lLike;*, %model.pLike;*, lg*, sp*, floatingText*"> 
<!ENTITY % model.divPart_sequenceRepeatable "%model.lLike;+, %model.pLike;+, lg+, sp+, floatingText+"> 
<!ENTITY % model.personPart "bibl"> 
<!ENTITY % model.personPart_sequence "bibl"> 
<!ENTITY % model.personPart_sequenceOptional "bibl?"> 
<!ENTITY % model.personPart_sequenceOptionalRepeatable "bibl*"> 
<!ENTITY % model.personPart_sequenceRepeatable "bibl+"> 
<!ENTITY % model.publicationStmtPart "address |
 date |
 publisher |
 pubPlace"> 
<!ENTITY % model.publicationStmtPart_sequence "address, date, publisher, pubPlace"> 
<!ENTITY % model.publicationStmtPart_sequenceOptional "address?, date?, publisher?, pubPlace?"> 
<!ENTITY % model.publicationStmtPart_sequenceOptionalRepeatable "address*, date*, publisher*, pubPlace*"> 
<!ENTITY % model.publicationStmtPart_sequenceRepeatable "address+, date+, publisher+, pubPlace+"> 
<!ENTITY % model.glossLike "desc"> 
<!ENTITY % model.glossLike_sequence "desc"> 
<!ENTITY % model.glossLike_sequenceOptional "desc?"> 
<!ENTITY % model.glossLike_sequenceOptionalRepeatable "desc*"> 
<!ENTITY % model.glossLike_sequenceRepeatable "desc+"> 
<!ENTITY % model.quoteLike "cit"> 
<!ENTITY % model.quoteLike_sequence "cit"> 
<!ENTITY % model.quoteLike_sequenceOptional "cit?"> 
<!ENTITY % model.quoteLike_sequenceOptionalRepeatable "cit*"> 
<!ENTITY % model.quoteLike_sequenceRepeatable "cit+"> 
<!ENTITY % model.qLike "%model.quoteLike; |
 q"> 
<!ENTITY % model.qLike_sequence "%model.quoteLike;, q"> 
<!ENTITY % model.qLike_sequenceOptional "%model.quoteLike;?, q?"> 
<!ENTITY % model.qLike_sequenceOptionalRepeatable "%model.quoteLike;*, q*"> 
<!ENTITY % model.qLike_sequenceRepeatable "%model.quoteLike;+, q+"> 
<!ENTITY % model.respLike "author |
 editor |
 respStmt"> 
<!ENTITY % model.respLike_sequence "author, editor, respStmt"> 
<!ENTITY % model.respLike_sequenceOptional "author?, editor?, respStmt?"> 
<!ENTITY % model.respLike_sequenceOptionalRepeatable "author*, editor*, respStmt*"> 
<!ENTITY % model.respLike_sequenceRepeatable "author+, editor+, respStmt+"> 
<!ENTITY % model.divWrapper "byline |
 dateline |
 argument |
 epigraph |
 salute |
 docAuthor |
 docDate"> 
<!ENTITY % model.divWrapper_sequence "byline, dateline, argument, epigraph, salute, docAuthor, docDate"> 
<!ENTITY % model.divWrapper_sequenceOptional "byline?, dateline?, argument?, epigraph?, salute?, docAuthor?, docDate?"> 
<!ENTITY % model.divWrapper_sequenceOptionalRepeatable "byline*, dateline*, argument*, epigraph*, salute*, docAuthor*, docDate*"> 
<!ENTITY % model.divWrapper_sequenceRepeatable "byline+, dateline+, argument+, epigraph+, salute+, docAuthor+, docDate+"> 
<!ENTITY % model.divTopPart "%model.headLike; |
 opener"> 
<!ENTITY % model.divTopPart_sequence "%model.headLike;, opener"> 
<!ENTITY % model.divTopPart_sequenceOptional "%model.headLike;?, opener?"> 
<!ENTITY % model.divTopPart_sequenceOptionalRepeatable "%model.headLike;*, opener*"> 
<!ENTITY % model.divTopPart_sequenceRepeatable "%model.headLike;+, opener+"> 
<!ENTITY % model.divTop "%model.divWrapper; |
 %model.divTopPart;"> 
<!ENTITY % model.divTop_sequence "%model.divWrapper;, %model.divTopPart;"> 
<!ENTITY % model.divTop_sequenceOptional "%model.divWrapper;?, %model.divTopPart;?"> 
<!ENTITY % model.divTop_sequenceOptionalRepeatable "%model.divWrapper;*, %model.divTopPart;*"> 
<!ENTITY % model.divTop_sequenceRepeatable "%model.divWrapper;+, %model.divTopPart;+"> 
<!ENTITY % model.pLike.front "head |
 byline |
 argument |
 epigraph |
 docTitle |
 titlePart |
 docAuthor |
 docEdition |
 docImprint |
 docDate"> 
<!ENTITY % model.pLike.front_sequence "head, byline, argument, epigraph, docTitle, titlePart, docAuthor, docEdition, docImprint, docDate"> 
<!ENTITY % model.pLike.front_sequenceOptional "head?, byline?, argument?, epigraph?, docTitle?, titlePart?, docAuthor?, docEdition?, docImprint?, docDate?"> 
<!ENTITY % model.pLike.front_sequenceOptionalRepeatable "head*, byline*, argument*, epigraph*, docTitle*, titlePart*, docAuthor*, docEdition*, docImprint*, docDate*"> 
<!ENTITY % model.pLike.front_sequenceRepeatable "head+, byline+, argument+, epigraph+, docTitle+, titlePart+, docAuthor+, docEdition+, docImprint+, docDate+"> 
<!ENTITY % model.divBottomPart "trailer |
 closer |
 signed |
 postscript"> 
<!ENTITY % model.divBottomPart_sequence "trailer, closer, signed, postscript"> 
<!ENTITY % model.divBottomPart_sequenceOptional "trailer?, closer?, signed?, postscript?"> 
<!ENTITY % model.divBottomPart_sequenceOptionalRepeatable "trailer*, closer*, signed*, postscript*"> 
<!ENTITY % model.divBottomPart_sequenceRepeatable "trailer+, closer+, signed+, postscript+"> 
<!ENTITY % model.divBottom "%model.divWrapper; |
 %model.divBottomPart;"> 
<!ENTITY % model.divBottom_sequence "%model.divWrapper;, %model.divBottomPart;"> 
<!ENTITY % model.divBottom_sequenceOptional "%model.divWrapper;?, %model.divBottomPart;?"> 
<!ENTITY % model.divBottom_sequenceOptionalRepeatable "%model.divWrapper;*, %model.divBottomPart;*"> 
<!ENTITY % model.divBottom_sequenceRepeatable "%model.divWrapper;+, %model.divBottomPart;+"> 
<!ENTITY % model.titlepagePart "graphic |
 byline |
 argument |
 epigraph |
 docTitle |
 titlePart |
 docAuthor |
 docEdition |
 docImprint |
 docDate |
 ornament"> 
<!ENTITY % model.titlepagePart_sequence "graphic, byline, argument, epigraph, docTitle, titlePart, docAuthor, docEdition, docImprint, docDate, ornament"> 
<!ENTITY % model.titlepagePart_sequenceOptional "graphic?, byline?, argument?, epigraph?, docTitle?, titlePart?, docAuthor?, docEdition?, docImprint?, docDate?, ornament?"> 
<!ENTITY % model.titlepagePart_sequenceOptionalRepeatable "graphic*, byline*, argument*, epigraph*, docTitle*, titlePart*, docAuthor*, docEdition*, docImprint*, docDate*, ornament*"> 
<!ENTITY % model.titlepagePart_sequenceRepeatable "graphic+, byline+, argument+, epigraph+, docTitle+, titlePart+, docAuthor+, docEdition+, docImprint+, docDate+, ornament+"> 
<!ENTITY % model.msQuoteLike "title"> 
<!ENTITY % model.msQuoteLike_sequence "title"> 
<!ENTITY % model.msQuoteLike_sequenceOptional "title?"> 
<!ENTITY % model.msQuoteLike_sequenceOptionalRepeatable "title*"> 
<!ENTITY % model.msQuoteLike_sequenceRepeatable "title+"> 
<!ENTITY % model.msItemPart "%model.quoteLike; |
 %model.respLike; |
 %model.msQuoteLike; |
 bibl |
 listBibl"> 
<!ENTITY % model.msItemPart_sequence "%model.quoteLike;, %model.respLike;, %model.msQuoteLike;, bibl, listBibl"> 
<!ENTITY % model.msItemPart_sequenceOptional "%model.quoteLike;?, %model.respLike;?, %model.msQuoteLike;?, bibl?, listBibl?"> 
<!ENTITY % model.msItemPart_sequenceOptionalRepeatable "%model.quoteLike;*, %model.respLike;*, %model.msQuoteLike;*, bibl*, listBibl*"> 
<!ENTITY % model.msItemPart_sequenceRepeatable "%model.quoteLike;+, %model.respLike;+, %model.msQuoteLike;+, bibl+, listBibl+"> 
<!ENTITY % model.choicePart "unclear |
 abbr |
 seg"> 
<!ENTITY % model.choicePart_sequence "unclear, abbr, seg"> 
<!ENTITY % model.choicePart_sequenceOptional "unclear?, abbr?, seg?"> 
<!ENTITY % model.choicePart_sequenceOptionalRepeatable "unclear*, abbr*, seg*"> 
<!ENTITY % model.choicePart_sequenceRepeatable "unclear+, abbr+, seg+"> 
<!ENTITY % model.imprintPart "publisher |
 biblScope |
 pubPlace"> 
<!ENTITY % model.imprintPart_sequence "publisher, biblScope, pubPlace"> 
<!ENTITY % model.imprintPart_sequenceOptional "publisher?, biblScope?, pubPlace?"> 
<!ENTITY % model.imprintPart_sequenceOptionalRepeatable "publisher*, biblScope*, pubPlace*"> 
<!ENTITY % model.imprintPart_sequenceRepeatable "publisher+, biblScope+, pubPlace+"> 
<!ENTITY % model.addressLike "email |
 address"> 
<!ENTITY % model.addressLike_sequence "email, address"> 
<!ENTITY % model.addressLike_sequenceOptional "email?, address?"> 
<!ENTITY % model.addressLike_sequenceOptionalRepeatable "email*, address*"> 
<!ENTITY % model.addressLike_sequenceRepeatable "email+, address+"> 
<!ENTITY % model.nameLike "%model.nameLike.agent;"> 
<!ENTITY % model.nameLike_sequence "%model.nameLike.agent;"> 
<!ENTITY % model.nameLike_sequenceOptional "%model.nameLike.agent;?"> 
<!ENTITY % model.nameLike_sequenceOptionalRepeatable "%model.nameLike.agent;*"> 
<!ENTITY % model.nameLike_sequenceRepeatable "%model.nameLike.agent;+"> 
<!ENTITY % model.global "%model.milestoneLike; |
 %model.noteLike; |
 %model.global.edit; |
 figure"> 
<!ENTITY % model.global_sequence "%model.milestoneLike;, %model.noteLike;, %model.global.edit;, figure"> 
<!ENTITY % model.global_sequenceOptional "%model.milestoneLike;?, %model.noteLike;?, %model.global.edit;?, figure?"> 
<!ENTITY % model.global_sequenceOptionalRepeatable "%model.milestoneLike;*, %model.noteLike;*, %model.global.edit;*, figure*"> 
<!ENTITY % model.global_sequenceRepeatable "%model.milestoneLike;+, %model.noteLike;+, %model.global.edit;+, figure+"> 
<!ENTITY % model.biblPart "%model.respLike; |
 %model.imprintPart; |
 relatedItem"> 
<!ENTITY % model.biblPart_sequence "%model.respLike;, %model.imprintPart;, relatedItem"> 
<!ENTITY % model.biblPart_sequenceOptional "%model.respLike;?, %model.imprintPart;?, relatedItem?"> 
<!ENTITY % model.biblPart_sequenceOptionalRepeatable "%model.respLike;*, %model.imprintPart;*, relatedItem*"> 
<!ENTITY % model.biblPart_sequenceRepeatable "%model.respLike;+, %model.imprintPart;+, relatedItem+"> 
<!ENTITY % model.frontPart "titlePage"> 
<!ENTITY % model.frontPart_sequence "titlePage"> 
<!ENTITY % model.frontPart_sequenceOptional "titlePage?"> 
<!ENTITY % model.frontPart_sequenceOptionalRepeatable "titlePage*"> 
<!ENTITY % model.frontPart_sequenceRepeatable "titlePage+"> 
<!ENTITY % model.addrPart "%model.nameLike; |
 addrLine"> 
<!ENTITY % model.addrPart_sequence "%model.nameLike;, addrLine"> 
<!ENTITY % model.addrPart_sequenceOptional "%model.nameLike;?, addrLine?"> 
<!ENTITY % model.addrPart_sequenceOptionalRepeatable "%model.nameLike;*, addrLine*"> 
<!ENTITY % model.addrPart_sequenceRepeatable "%model.nameLike;+, addrLine+"> 
<!ENTITY % model.pPart.data "%model.dateLike; |
 %model.measureLike; |
 %model.addressLike; |
 %model.nameLike;"> 
<!ENTITY % model.pPart.data_sequence "%model.dateLike;, %model.measureLike;, %model.addressLike;, %model.nameLike;"> 
<!ENTITY % model.pPart.data_sequenceOptional "%model.dateLike;?, %model.measureLike;?, %model.addressLike;?, %model.nameLike;?"> 
<!ENTITY % model.pPart.data_sequenceOptionalRepeatable "%model.dateLike;*, %model.measureLike;*, %model.addressLike;*, %model.nameLike;*"> 
<!ENTITY % model.pPart.data_sequenceRepeatable "%model.dateLike;+, %model.measureLike;+, %model.addressLike;+, %model.nameLike;+"> 
<!ENTITY % model.inter "%model.biblLike; |
 %model.labelLike; |
 %model.listLike; |
 %model.stageLike; |
 %model.qLike; |
 table |
 ornament"> 
<!ENTITY % model.inter_sequence "%model.biblLike;, %model.labelLike;, %model.listLike;, %model.stageLike;, %model.qLike;, table, ornament"> 
<!ENTITY % model.inter_sequenceOptional "%model.biblLike;?, %model.labelLike;?, %model.listLike;?, %model.stageLike;?, %model.qLike;?, table?, ornament?"> 
<!ENTITY % model.inter_sequenceOptionalRepeatable "%model.biblLike;*, %model.labelLike;*, %model.listLike;*, %model.stageLike;*, %model.qLike;*, table*, ornament*"> 
<!ENTITY % model.inter_sequenceRepeatable "%model.biblLike;+, %model.labelLike;+, %model.listLike;+, %model.stageLike;+, %model.qLike;+, table+, ornament+"> 
<!ENTITY % model.common "%model.divPart; |
 %model.inter;"> 
<!ENTITY % model.common_sequence "%model.divPart;, %model.inter;"> 
<!ENTITY % model.common_sequenceOptional "%model.divPart;?, %model.inter;?"> 
<!ENTITY % model.common_sequenceOptionalRepeatable "%model.divPart;*, %model.inter;*"> 
<!ENTITY % model.common_sequenceRepeatable "%model.divPart;+, %model.inter;+"> 
<!ENTITY % model.phrase "%model.segLike; |
 %model.highlighted; |
 %model.graphicLike; |
 %model.pPart.edit; |
 %model.ptrLike; |
 %model.pPart.data;"> 
<!ENTITY % model.phrase_sequence "%model.segLike;, %model.highlighted;, %model.graphicLike;, %model.pPart.edit;, %model.ptrLike;, %model.pPart.data;"> 
<!ENTITY % model.phrase_sequenceOptional "%model.segLike;?, %model.highlighted;?, %model.graphicLike;?, %model.pPart.edit;?, %model.ptrLike;?, %model.pPart.data;?"> 
<!ENTITY % model.phrase_sequenceOptionalRepeatable "%model.segLike;*, %model.highlighted;*, %model.graphicLike;*, %model.pPart.edit;*, %model.ptrLike;*, %model.pPart.data;*"> 
<!ENTITY % model.phrase_sequenceRepeatable "%model.segLike;+, %model.highlighted;+, %model.graphicLike;+, %model.pPart.edit;+, %model.ptrLike;+, %model.pPart.data;+"> 
<!ENTITY % model.limitedPhrase "%model.emphLike; |
 %model.pPart.editorial; |
 %model.ptrLike; |
 %model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequence "%model.emphLike;, %model.pPart.editorial;, %model.ptrLike;, %model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequenceOptional "%model.emphLike;?, %model.pPart.editorial;?, %model.ptrLike;?, %model.pPart.data;?"> 
<!ENTITY % model.limitedPhrase_sequenceOptionalRepeatable "%model.emphLike;*, %model.pPart.editorial;*, %model.ptrLike;*, %model.pPart.data;*"> 
<!ENTITY % model.limitedPhrase_sequenceRepeatable "%model.emphLike;+, %model.pPart.editorial;+, %model.ptrLike;+, %model.pPart.data;+"> 
<!ENTITY % model.divLike ""> 
<!ENTITY % model.divLike_sequence ""> 
<!ENTITY % model.divLike_sequenceOptional ""> 
<!ENTITY % model.divLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divLike_sequenceRepeatable ""> 
<!ENTITY % model.divGenLike ""> 
<!ENTITY % model.divGenLike_sequence ""> 
<!ENTITY % model.divGenLike_sequenceOptional ""> 
<!ENTITY % model.divGenLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divGenLike_sequenceRepeatable ""> 
<!ENTITY % model.div1Like "div1"> 
<!ENTITY % model.div1Like_sequence "div1"> 
<!ENTITY % model.div1Like_sequenceOptional "div1?"> 
<!ENTITY % model.div1Like_sequenceOptionalRepeatable "div1*"> 
<!ENTITY % model.div1Like_sequenceRepeatable "div1+"> 
<!ENTITY % model.div2Like "div2"> 
<!ENTITY % model.div2Like_sequence "div2"> 
<!ENTITY % model.div2Like_sequenceOptional "div2?"> 
<!ENTITY % model.div2Like_sequenceOptionalRepeatable "div2*"> 
<!ENTITY % model.div2Like_sequenceRepeatable "div2+"> 
<!ENTITY % model.div3Like "div3"> 
<!ENTITY % model.div3Like_sequence "div3"> 
<!ENTITY % model.div3Like_sequenceOptional "div3?"> 
<!ENTITY % model.div3Like_sequenceOptionalRepeatable "div3*"> 
<!ENTITY % model.div3Like_sequenceRepeatable "div3+"> 
<!ENTITY % model.div4Like "div4"> 
<!ENTITY % model.div4Like_sequence "div4"> 
<!ENTITY % model.div4Like_sequenceOptional "div4?"> 
<!ENTITY % model.div4Like_sequenceOptionalRepeatable "div4*"> 
<!ENTITY % model.div4Like_sequenceRepeatable "div4+"> 
<!ENTITY % model.div5Like "div5"> 
<!ENTITY % model.div5Like_sequence "div5"> 
<!ENTITY % model.div5Like_sequenceOptional "div5?"> 
<!ENTITY % model.div5Like_sequenceOptionalRepeatable "div5*"> 
<!ENTITY % model.div5Like_sequenceRepeatable "div5+"> 
<!ENTITY % model.div6Like "div6"> 
<!ENTITY % model.div6Like_sequence "div6"> 
<!ENTITY % model.div6Like_sequenceOptional "div6?"> 
<!ENTITY % model.div6Like_sequenceOptionalRepeatable "div6*"> 
<!ENTITY % model.div6Like_sequenceRepeatable "div6+"> 
<!ENTITY % model.div7Like "div7"> 
<!ENTITY % model.div7Like_sequence "div7"> 
<!ENTITY % model.div7Like_sequenceOptional "div7?"> 
<!ENTITY % model.div7Like_sequenceOptionalRepeatable "div7*"> 
<!ENTITY % model.div7Like_sequenceRepeatable "div7+"> 
<!-- start predeclared patterns -->

<!-- end predeclared patterns -->

<!-- start rest of patterns -->

<!ENTITY % macro.paraContent '( #PCDATA |
 %model.gLike; |
 %model.phrase; |
 %model.inter; |
 %model.global;)*' >

<!ENTITY % macro.limitedContent '( #PCDATA |
 %model.limitedPhrase; |
 %model.inter;)*' >

<!ENTITY % macro.phraseSeq '( #PCDATA |
 %model.gLike; |
 %model.phrase; |
 %model.global;)*' >

<!ENTITY % macro.phraseSeq.limited '( #PCDATA |
 %model.limitedPhrase; |
 %model.global;)*' >

<!ENTITY % macro.specialPara '( #PCDATA |
 %model.gLike; |
 %model.phrase; |
 %model.inter; |
 %model.divPart; |
 %model.global;)*' >

<!ENTITY % macro.anyXML ' ANY' >

<!-- end patterns -->

<!-- start elements -->

<!--doc:(anonymous block) contains any arbitrary component-level unit of text, acting as an anonymous container for phrase or inter level elements analogous to, but without the semantic baggage of, a paragraph. -->
<!ELEMENT ab %macro.paraContent;>
<!ATTLIST ab xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST ab
 %att.global.attributes;
 %att.typed.attributes;
 %att.declaring.attributes;
part (Y|N|I|M|F) "N"  >
<!--doc:(abbreviation) contains an abbreviation of any sort. -->
<!ELEMENT abbr %macro.phraseSeq;>
<!ATTLIST abbr xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST abbr
 %att.global.attributes;
 %att.responsibility.attributes;
type %data.enumerated;  #IMPLIED >
<!--doc:(address line) contains one line of a postal address. -->
<!ELEMENT addrLine %macro.phraseSeq;>
<!ATTLIST addrLine xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST addrLine
 %att.global.attributes; >
<!--doc:contains a postal  address, for example of a
        publisher, an organization, or an individual. -->
<!ELEMENT address ((%model.global;)*,((%model.addrPart;),(%model.global;)*)+)>
<!ATTLIST address xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST address
 %att.global.attributes; >
<!--doc:A formal list or prose description of the topics addressed by
	a subdivision of a text. -->
<!ELEMENT argument ((%model.global; |
 %model.headLike;)*,((%model.common;),(%model.global;)*)+)>
<!ATTLIST argument xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST argument
 %att.global.attributes; >
<!--doc:in a bibliographic reference, contains the name(s) of the
  author(s), personal or corporate, of a work; for example in the same
  form as that provided by a recognized bibliographic name authority.  -->
<!ELEMENT author %macro.phraseSeq;>
<!ATTLIST author xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST author
 %att.global.attributes;
 %att.naming.attributes; >
<!--doc:(bold) for capturing typographical feature: bold glyphs. -->
<!ELEMENT b %macro.paraContent;>
<!ATTLIST b xmlns CDATA "http://www.tei-c.org/ns/tite/1.0">
<!ATTLIST b
 %att.global.attributes; >
<!--doc:(back matter) contains any appendixes, etc. following the main part of a text. -->
<!ELEMENT back ((%model.frontPart; |
 %model.pLike.front; |
 %model.global;)*,(((%model.div1Like;),(%model.frontPart; |
 %model.div1Like; |
 %model.global;)*) |
 (_DUMMY_model.divLike,(%model.frontPart; |
 _DUMMY_model.divLike |
 %model.global;)*))?,((%model.divBottomPart;),(%model.divBottomPart; |
 %model.global;)*)?)>
<!ATTLIST back xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST back
 %att.global.attributes;
 %att.declaring.attributes; >
<!--doc:(bibliographic citation) contains a loosely-structured bibliographic citation of which the sub-components may or may
    not be explicitly tagged.  -->
<!ELEMENT bibl ( #PCDATA |
 %model.gLike; |
 %model.highlighted; |
 %model.pPart.data; |
 %model.pPart.edit; |
 %model.segLike; |
 %model.ptrLike; |
 %model.biblPart; |
 %model.global;)*>
<!ATTLIST bibl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST bibl
 %att.global.attributes;
 %att.declarable.attributes;
 %att.typed.attributes; >
<!--doc:(scope of citation) defines the scope of a bibliographic reference, for example as a
        list of page numbers, or a named subdivision of a larger work. -->
<!ELEMENT biblScope %macro.phraseSeq;>
<!ATTLIST biblScope xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST biblScope
 %att.global.attributes;
type %data.enumerated;  #IMPLIED
from %data.word;  #IMPLIED
to %data.word;  #IMPLIED >
<!--doc:(text body) contains the whole body of a single unitary text, excluding any front or back matter. -->
<!ELEMENT body ((%model.global;)*,((%model.divTop;),(%model.global; |
 %model.divTop;)*)?,(_DUMMY_model.divGenLike,(%model.global; |
 _DUMMY_model.divGenLike)*)?,((_DUMMY_model.divLike,(%model.global; |
 _DUMMY_model.divGenLike)*)+ |
 ((%model.div1Like;),(%model.global; |
 _DUMMY_model.divGenLike)*)+ |
 (((%model.common;),(%model.global;)*)+,((_DUMMY_model.divLike,(%model.global; |
 _DUMMY_model.divGenLike)*)+ |
 ((%model.div1Like;),(%model.global; |
 _DUMMY_model.divGenLike)*)+)?)),((%model.divBottom;),(%model.global;)*)*)>
<!ATTLIST body xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST body
 %att.global.attributes;
 %att.declaring.attributes; >
<!--doc:contains the primary statement of responsibility given for a work
on its title page or at the head or end of the work. -->
<!ELEMENT byline ( #PCDATA |
 %model.gLike; |
 %model.phrase; |
 docAuthor |
 %model.global;)*>
<!ATTLIST byline xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST byline
 %att.global.attributes; >
<!--doc:(column break) marks the boundary between one column of a text and the next
        in a standard reference system. -->
<!ELEMENT cb EMPTY>
<!ATTLIST cb xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST cb
 %att.global.attributes;
 %att.typed.attributes;
 %att.sourced.attributes;
 %att.spanning.attributes;
 %att.breaking.attributes; >
<!--doc:contains one cell of a table.  -->
<!ELEMENT cell %macro.paraContent;>
<!ATTLIST cell xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST cell
 %att.global.attributes;
 %att.tableDecoration.attributes; >
<!--doc:(cited quotation) contains a quotation from some other document, together with a bibliographic reference to
    its source. In a dictionary it may contain an example text with at least one occurrence of the
    word form, used in the sense being described, or a translation of the headword, or an example.  -->
<!ELEMENT cit (%model.qLike; |
 _DUMMY_model.egLike |
 %model.biblLike; |
 %model.ptrLike; |
 %model.global; |
 _DUMMY_model.entryPart)+>
<!ATTLIST cit xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST cit
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:groups together salutations, datelines, and similar phrases appearing as a final group at
    the end of a division, especially of a letter. -->
<!ELEMENT closer ( #PCDATA |
 %model.gLike; |
 signed |
 dateline |
 salute |
 %model.phrase; |
 %model.global;)*>
<!ATTLIST closer xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST closer
 %att.global.attributes; >
<!--doc:(columns) with the n attribute (denoting new number of columns) is
               used to mark where a document changes columnar layout. -->
<!ELEMENT cols EMPTY>
<!ATTLIST cols xmlns CDATA "http://www.tei-c.org/ns/tite/1.0">
<!ATTLIST cols
 %att.global.attributes;
ed %data.code;  #IMPLIED >
<!--doc:contains a date in any format. -->
<!ELEMENT date ( #PCDATA |
 %model.gLike; |
 %model.phrase; |
 %model.global;)*>
<!ATTLIST date xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST date
 %att.global.attributes;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.typed.attributes;
calendar %data.enumerated;  #IMPLIED >
<!--doc:contains a brief description of the place, date, time, etc. of production of a letter,
    newspaper story, or other work, prefixed or suffixed to it as a kind of heading or trailer.  -->
<!ELEMENT dateline %macro.phraseSeq;>
<!ATTLIST dateline xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST dateline
 %att.global.attributes; >
<!--doc:(description) contains a brief description of the object documented by its parent element, including its
    intended usage, purpose, or application where this is appropriate. -->
<!ELEMENT desc %macro.limitedContent;>
<!ATTLIST desc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST desc
 %att.global.attributes;
 %att.translatable.attributes; >
<!--doc:(level-1 text division) contains a first-level subdivision of the front, body, or back of a text. -->
<!ELEMENT div1 ((%model.divTop; |
 %model.global;)*,((((%model.div2Like; |
 _DUMMY_model.divGenLike),(%model.global;)*)+ |
 (((%model.common;),(%model.global;)*)+,((%model.div2Like; |
 _DUMMY_model.divGenLike),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?)>
<!ATTLIST div1 xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div1
 %att.global.attributes;
 %att.typed.attributes;
 %att.declaring.attributes; >
<!--doc:(level-2 text division) contains a second-level subdivision of the front, body, or back of a
 text. -->
<!ELEMENT div2 ((%model.divTop; |
 %model.global;)*,((((%model.div3Like; |
 _DUMMY_model.divGenLike),(%model.global;)*)+ |
 (((%model.common;),(%model.global;)*)+,((%model.div3Like; |
 _DUMMY_model.divGenLike),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?)>
<!ATTLIST div2 xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div2
 %att.global.attributes;
 %att.typed.attributes;
 %att.declaring.attributes; >
<!--doc:(level-3 text division) contains a third-level subdivision of the front, body, or back of a text. -->
<!ELEMENT div3 ((%model.divTop; |
 %model.global;)*,((((%model.div4Like; |
 _DUMMY_model.divGenLike),(%model.global;)*)+ |
 (((%model.common;),(%model.global;)*)+,((%model.div4Like; |
 _DUMMY_model.divGenLike),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?)>
<!ATTLIST div3 xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div3
 %att.global.attributes;
 %att.typed.attributes;
 %att.declaring.attributes; >
<!--doc:(level-4 text division) contains a fourth-level subdivision of the front, body, or back of a text. -->
<!ELEMENT div4 ((%model.divTop; |
 %model.global;)*,((((%model.div5Like; |
 _DUMMY_model.divGenLike),(%model.global;)*)+ |
 (((%model.common;),(%model.global;)*)+,((%model.div5Like; |
 _DUMMY_model.divGenLike),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?)>
<!ATTLIST div4 xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div4
 %att.global.attributes;
 %att.typed.attributes;
 %att.declaring.attributes; >
<!--doc:(level-5 text division) contains a fifth-level subdivision of the front, body, or back of a text. -->
<!ELEMENT div5 ((%model.divTop; |
 %model.global;)*,((((%model.div6Like; |
 _DUMMY_model.divGenLike),(%model.global;)*)+ |
 (((%model.common;),(%model.global;)*)+,((%model.div6Like; |
 _DUMMY_model.divGenLike),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?)>
<!ATTLIST div5 xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div5
 %att.global.attributes;
 %att.typed.attributes;
 %att.declaring.attributes; >
<!--doc:(level-6 text division) contains a sixth-level subdivision of the front, body, or back of a text. -->
<!ELEMENT div6 ((%model.divTop; |
 %model.global;)*,((((%model.div7Like; |
 _DUMMY_model.divGenLike),(%model.global;)*)+ |
 (((%model.common;),(%model.global;)*)+,((%model.div7Like; |
 _DUMMY_model.divGenLike),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?)>
<!ATTLIST div6 xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div6
 %att.global.attributes;
 %att.typed.attributes;
 %att.declaring.attributes; >
<!--doc:(level-7 text division) contains the smallest possible subdivision of the front, body or back of a text, larger than
    a paragraph. -->
<!ELEMENT div7 ((%model.divTop; |
 %model.global;)*,(((%model.common;),(%model.global;)*)+,((%model.divBottom;),(%model.global;)*)*)?)>
<!ATTLIST div7 xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div7
 %att.global.attributes;
 %att.typed.attributes;
 %att.declaring.attributes; >
<!--doc:(document author) contains the name of the author of the document, as given on the
title page (often but not always contained in a byline). -->
<!ELEMENT docAuthor %macro.phraseSeq;>
<!ATTLIST docAuthor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST docAuthor
 %att.global.attributes;
 %att.canonical.attributes; >
<!--doc:(document date) contains the date of a document, as given
(usually) on a title page. -->
<!ELEMENT docDate %macro.phraseSeq;>
<!ATTLIST docDate xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST docDate
 %att.global.attributes;
when %data.temporal.w3c;  #IMPLIED >
<!--doc:(document edition) contains an edition statement as presented on a title page of a
document. -->
<!ELEMENT docEdition %macro.paraContent;>
<!ATTLIST docEdition xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST docEdition
 %att.global.attributes; >
<!--doc:(document imprint) contains the imprint statement (place and date of publication,
publisher name), as given
(usually) at the foot of a title page. -->
<!ELEMENT docImprint ( #PCDATA |
 %model.gLike; |
 %model.phrase; |
 pubPlace |
 docDate |
 publisher |
 %model.global;)*>
<!ATTLIST docImprint xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST docImprint
 %att.global.attributes; >
<!--doc:(document title) contains the title of a document, including all its
constituents, as given on a title page. -->
<!ELEMENT docTitle ((%model.global;)*,(titlePart,(%model.global;)*)+)>
<!ATTLIST docTitle xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST docTitle
 %att.global.attributes;
 %att.canonical.attributes; >
<!--doc:secondary statement of responsibility for a bibliographic item, for example the name of an
    individual, institution or organization, (or of several such) acting as editor, compiler,
    translator, etc.  -->
<!ELEMENT editor %macro.phraseSeq;>
<!ATTLIST editor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST editor
 %att.global.attributes;
 %att.naming.attributes; >
<!--doc:(electronic mail address) contains an e-mail address identifying a location to which
        e-mail messages can be delivered.
     -->
<!ELEMENT email %macro.phraseSeq;>
<!ATTLIST email xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST email
 %att.global.attributes; >
<!--doc:contains a quotation, anonymous or attributed, appearing at the start of a section or
    chapter, or on a title page.  -->
<!ELEMENT epigraph (%model.common; |
 %model.global;)*>
<!ATTLIST epigraph xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST epigraph
 %att.global.attributes; >
<!--doc:groups elements representing or containing graphic information such as an illustration or
    figure. -->
<!ELEMENT figure (%model.headLike; |
 %model.pLike; |
 %model.graphicLike; |
 _DUMMY_model.egLike |
 floatingText |
 %model.global;)*>
<!ATTLIST figure xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST figure
 %att.global.attributes;
 %att.placement.attributes;
 %att.typed.attributes; >
<!--doc:contains a single text of any kind, whether unitary or composite, which interrupts the text
    containing it at any point and after which the surrounding text resumes. -->
<!ELEMENT floatingText ((%model.global;)*,(front,(%model.global;)*)?,(body |
 group),(%model.global;)*,(back,(%model.global;)*)?)>
<!ATTLIST floatingText xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST floatingText
 %att.global.attributes;
 %att.declaring.attributes;
 %att.typed.attributes; >
<!--doc:(foreign) identifies a word or phrase as belonging to some language other than that of the
                surrounding text.  -->
<!ELEMENT foreign %macro.phraseSeq;>
<!ATTLIST foreign xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST foreign
 %att.global.attributes; >
<!--doc:contains a mathematical or other formula. -->
<!ELEMENT formula ( #PCDATA |
 %model.graphicLike;)*>
<!ATTLIST formula xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST formula
 %att.global.attributes;
notation %data.code;  #IMPLIED >
<!--doc:(front matter) contains any prefatory matter (headers,
title page, prefaces, dedications, etc.)
found  at the start of a document, before the main body. -->
<!ELEMENT front ((%model.frontPart; |
 %model.pLike.front; |
 %model.global;)*,(((%model.div1Like;),(%model.frontPart; |
 %model.div1Like; |
 %model.global;)*) |
 (_DUMMY_model.divLike,(%model.frontPart; |
 _DUMMY_model.divLike |
 %model.global;)*))?,((%model.divBottomPart;),(%model.divBottomPart; |
 %model.global;)*)?)>
<!ATTLIST front xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST front
 %att.global.attributes;
 %att.declaring.attributes; >
<!--doc:(character or glyph) represents a non-standard character or glyph. -->
<!ELEMENT g  (#PCDATA)>
<!ATTLIST g xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST g
 %att.global.attributes;
 %att.typed.attributes;
ref %data.pointer;  #IMPLIED >
<!--doc:(gap) indicates a point where material has been omitted in a transcription, whether for editorial
    reasons described in the TEI header, as part of sampling practice, or because the material is
    illegible, invisible, or inaudible. -->
<!ELEMENT gap (%model.glossLike;)*>
<!ATTLIST gap xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST gap
reason CDATA  #IMPLIED
 %att.global.attributes;
 %att.editLike.attribute.source;
 %att.dimensions.attributes; >
<!--doc:indicates the location of an inline graphic, illustration, or figure. -->
<!ELEMENT graphic (%model.glossLike;)*>
<!ATTLIST graphic xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST graphic
 %att.global.attributes;
 %att.internetMedia.attributes;
 %att.declaring.attributes;
width %data.outputMeasurement;  #IMPLIED
height %data.outputMeasurement;  #IMPLIED
scale %data.numeric;  #IMPLIED
url %data.pointer;  #REQUIRED >
<!--doc:contains the body of a composite text, grouping together a sequence of distinct texts (or
    groups of such texts) which are regarded as a unit for some purpose, for example the collected
    works of an author, a sequence of prose essays, etc. -->
<!ELEMENT group ((%model.divTop; |
 %model.global;)*,((text |
 group),(text |
 group |
 %model.global;)*),(%model.divBottom;)*)>
<!ATTLIST group xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST group
 %att.global.attributes;
 %att.declaring.attributes; >
<!--doc:(heading) contains any type of heading, for example the title of a section, or the heading of a list,
    glossary, manuscript description, etc. -->
<!ELEMENT head %macro.paraContent;>
<!ATTLIST head xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST head
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:(highlighted) marks a word or phrase as graphically distinct from the
        surrounding text, for reasons concerning which no claim is
        made.  -->
<!ELEMENT hi %macro.paraContent;>
<!ATTLIST hi xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST hi
 %att.global.attributes; >
<!--doc:(italics) for capturing typographical feature: italicized 
               glyphs. -->
<!ELEMENT i %macro.paraContent;>
<!ATTLIST i xmlns CDATA "http://www.tei-c.org/ns/tite/1.0">
<!ATTLIST i
 %att.global.attributes; >
<!--doc:contains one component of a list. -->
<!ELEMENT item %macro.specialPara;>
<!ATTLIST item xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST item
 %att.global.attributes; >
<!--doc:(verse line) contains a single, possibly incomplete, line of verse. -->
<!ELEMENT l %macro.paraContent;>
<!ATTLIST l xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST l
 %att.global.attributes;
part (Y|N|I|M|F) "N"  >
<!--doc:contains the label associated with an item in a list; in glossaries, marks the term being
    defined. -->
<!ELEMENT label %macro.phraseSeq;>
<!ATTLIST label xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST label
 %att.global.attributes; >
<!--doc:(line break) marks the start of a new (typographic) line in some edition or version of a text. -->
<!ELEMENT lb EMPTY>
<!ATTLIST lb xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST lb
 %att.global.attributes;
 %att.typed.attributes;
 %att.sourced.attributes;
 %att.spanning.attributes;
 %att.breaking.attributes; >
<!--doc:(line group) contains a group of verse lines functioning as a formal unit, e.g. a stanza, refrain,
        verse paragraph, etc. -->
<!ELEMENT lg ((%model.divTop; |
 %model.global;)*,(%model.lLike; |
 lg),(%model.lLike; |
 lg |
 %model.global;)*,((%model.divBottom;),(%model.global;)*)*)>
<!ATTLIST lg xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST lg
 %att.global.attributes;
 %att.typed.attributes;
 %att.declaring.attributes; >
<!--doc:(list) contains any sequence of items organized as a list. -->
<!ELEMENT list (((%model.divTop;) |
 (%model.global;))*,((item,(%model.global;)*)+ |
 (label,(%model.global;)*,item,(%model.global;)*)+),((%model.divBottom;),(%model.global;)*)*)>
<!ATTLIST list xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST list
 %att.global.attributes;
type %data.enumerated;  "simple"  >
<!--doc:(citation list) contains a list of bibliographic citations of any kind.  -->
<!ELEMENT listBibl ((%model.headLike;)*,(%model.biblLike; |
 %model.milestoneLike; |
 listBibl)+)>
<!ATTLIST listBibl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST listBibl
 %att.global.attributes;
 %att.declarable.attributes;
 %att.typed.attributes; >
<!--doc:(measure group) contains a group of dimensional specifications which relate to the same object, for example
    the height and width of a manuscript page. -->
<!ELEMENT measureGrp ( #PCDATA |
 %model.gLike; |
 %model.measureLike;)*>
<!ATTLIST measureGrp xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST measureGrp
 %att.global.attributes;
 %att.measurement.attributes;
 %att.typed.attributes; >
<!--doc:marks a boundary point separating any kind of section of a text, typically but not
    necessarily indicating a point at which some part of a standard reference system changes, where
    the change is not represented by a structural element. -->
<!ELEMENT milestone EMPTY>
<!ATTLIST milestone xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST milestone
 %att.global.attributes;
 %att.typed.attributes;
 %att.sourced.attributes;
 %att.spanning.attributes;
 %att.breaking.attributes;
unit %data.enumerated;  #REQUIRED >
<!--doc:(name, proper noun) contains a proper noun or noun phrase. -->
<!ELEMENT name %macro.phraseSeq;>
<!ATTLIST name xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST name
 %att.global.attributes;
 %att.naming.attributes;
 %att.typed.attributes; >
<!--doc:contains a note or annotation. -->
<!ELEMENT note %macro.specialPara;>
<!ATTLIST note xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST note
 %att.global.attributes;
 %att.placement.attributes;
 %att.pointing.attributes;
 %att.responsibility.attributes;
 %att.typed.attributes;
anchored %data.truthValue;  "true" 
targetEnd CDATA  #IMPLIED >
<!--doc:(number) contains a number, written in any form. -->
<!ELEMENT num %macro.phraseSeq;>
<!ATTLIST num xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST num
 %att.global.attributes;
 %att.ranging.attributes;
type %data.enumerated;  #IMPLIED
value %data.numeric;  #IMPLIED >
<!--doc:groups together dateline, byline, salutation, and similar phrases appearing as a preliminary
    group at the start of a division, especially of a letter. -->
<!ELEMENT opener ( #PCDATA |
 %model.gLike; |
 %model.phrase; |
 argument |
 byline |
 dateline |
 epigraph |
 salute |
 signed |
 %model.global;)*>
<!ATTLIST opener xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST opener
 %att.global.attributes; >
<!--doc:for capturing typographical feature: printer's ornament,
      horizontal line, strings of asterisks or periods, etc,
      indicating an informal division that does not call for a new
      div element. If a horizontal rule or printer's
      ornament, use appropriate rend attribute and leave
      the element empy; if the ornament can be represented with
      characters, include these in the element. -->
<!ELEMENT ornament  (#PCDATA)>
<!ATTLIST ornament xmlns CDATA "http://www.tei-c.org/ns/tite/1.0">
<!ATTLIST ornament
 %att.global.attributes; >
<!--doc:(paragraph) marks paragraphs in prose. -->
<!ELEMENT p %macro.paraContent;>
<!ATTLIST p xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST p
 %att.global.attributes;
 %att.declaring.attributes; >
<!--doc:(page break) marks the boundary between one page of a text and the next in a standard reference system. -->
<!ELEMENT pb EMPTY>
<!ATTLIST pb xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST pb
 %att.global.attributes;
 %att.typed.attributes;
 %att.sourced.attributes;
 %att.spanning.attributes;
 %att.breaking.attributes; >
<!--doc:contains a postscript, e.g. to a letter. -->
<!ELEMENT postscript ((%model.common;) |
 (%model.global;))*>
<!ATTLIST postscript xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST postscript
 %att.global.attributes; >
<!--doc:(pointer) defines a pointer to another location. -->
<!ELEMENT ptr EMPTY>
<!ATTLIST ptr xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST ptr
 %att.global.attributes;
 %att.pointing.attributes;
 %att.typed.attributes;
 %att.declaring.attributes;
cRef CDATA  #IMPLIED >
<!--doc:(publication place) contains the name of the place where a bibliographic item was published. -->
<!ELEMENT pubPlace %macro.phraseSeq;>
<!ATTLIST pubPlace xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST pubPlace
 %att.global.attributes;
 %att.naming.attributes; >
<!--doc:provides the name of the organization responsible for the publication or distribution of a
        bibliographic item. -->
<!ELEMENT publisher %macro.phraseSeq;>
<!ATTLIST publisher xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST publisher
 %att.global.attributes; >
<!--doc:(separated from the surrounding text with quotation marks) contains material which is marked as (ostensibly) being somehow different than the
    surrounding text, for any one of a variety of reasons including, but not limited to: direct
    speech or thought, technical terms or jargon, authorial distance, quotations from elsewhere, and
    passages that are mentioned but not used. -->
<!ELEMENT q %macro.specialPara;>
<!ATTLIST q xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST q
 %att.global.attributes;
 %att.ascribed.attributes;
type %data.enumerated;  #IMPLIED >
<!--doc:(reference) defines a reference to another location, possibly modified by additional text or comment. -->
<!ELEMENT ref %macro.paraContent;>
<!ATTLIST ref xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST ref
 %att.global.attributes;
 %att.pointing.attributes;
 %att.typed.attributes;
 %att.declaring.attributes;
cRef CDATA  #IMPLIED >
<!--doc:contains or references some other bibliographic item which is related to the present one in
    some specified manner, for example as a constituent or alternative version of it. -->
<!ELEMENT relatedItem (%model.biblLike; |
 %model.ptrLike;)?>
<!ATTLIST relatedItem xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST relatedItem
 %att.global.attributes;
 %att.typed.attributes;
target %data.pointer;  #IMPLIED >
<!--doc:(responsibility) contains a phrase describing the nature of a person's intellectual responsibility. -->
<!ELEMENT resp %macro.phraseSeq.limited;>
<!ATTLIST resp xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST resp
 %att.global.attributes;
 %att.canonical.attributes; >
<!--doc:(statement of responsibility) supplies a statement of responsibility for the intellectual content of a text, edition,
    recording, or series, where the specialized elements for authors, editors, etc. do not suffice
    or do not apply. -->
<!ELEMENT respStmt ((resp+,(%model.nameLike.agent;)+) |
 ((%model.nameLike.agent;)+,resp+))>
<!ATTLIST respStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST respStmt
 %att.global.attributes; >
<!--doc:contains one row of a table.  -->
<!ELEMENT row (cell)+>
<!ATTLIST row xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST row
 %att.global.attributes;
 %att.tableDecoration.attributes; >
<!--doc:(salutation) contains a salutation or greeting prefixed to a foreword, dedicatory epistle, or other
    division of a text, or the salutation in the closing of a letter, preface, etc. -->
<!ELEMENT salute %macro.phraseSeq;>
<!ATTLIST salute xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST salute
 %att.global.attributes; >
<!--doc:(arbitrary segment) represents any segmentation of text below the chunk level. -->
<!ELEMENT seg %macro.paraContent;>
<!ATTLIST seg xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST seg
 %att.global.attributes;
 %att.typed.attributes;
 %att.responsibility.attributes; >
<!--doc:(signature) contains the closing salutation, etc., appended to a foreword,
dedicatory epistle, or other division of a text.  -->
<!ELEMENT signed %macro.phraseSeq;>
<!ATTLIST signed xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST signed
 %att.global.attributes; >
<!--doc:(smallcaps) for capturing typographical feature: glyphs in small
               capitals. -->
<!ELEMENT smcap %macro.paraContent;>
<!ATTLIST smcap xmlns CDATA "http://www.tei-c.org/ns/tite/1.0">
<!ATTLIST smcap
 %att.global.attributes; >
<!--doc:(speech) An individual speech in a performance text, or a passage presented as such in a prose or
    verse text. -->
<!ELEMENT sp ((%model.global;)*,(speaker,(%model.global;)*)?,((%model.lLike; |
 lg |
 %model.pLike; |
 %model.stageLike; |
 %model.qLike;),(%model.global;)*)+)>
<!ATTLIST sp xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST sp
 %att.global.attributes;
 %att.ascribed.attributes; >
<!--doc:A specialized form of heading or label, giving the name of one or more speakers in a
        dramatic text or fragment. -->
<!ELEMENT speaker %macro.phraseSeq;>
<!ATTLIST speaker xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST speaker
 %att.global.attributes; >
<!--doc:(stage direction) contains any kind of stage direction within a dramatic text or fragment. -->
<!ELEMENT stage %macro.specialPara;>
<!ATTLIST stage xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST stage
 %att.global.attributes;
type %data.enumerated;  #IMPLIED >
<!--doc:(subscript) for capturing typographical feature: subscript 
               glyphs. -->
<!ELEMENT sub %macro.paraContent;>
<!ATTLIST sub xmlns CDATA "http://www.tei-c.org/ns/tite/1.0">
<!ATTLIST sub
 %att.global.attributes; >
<!--doc:(superscript) for capturing typographical feature: superscript
               glyphs. -->
<!ELEMENT sup %macro.paraContent;>
<!ATTLIST sup xmlns CDATA "http://www.tei-c.org/ns/tite/1.0">
<!ATTLIST sup
 %att.global.attributes; >
<!--doc:contains text displayed in tabular form, in rows and columns. -->
<!ELEMENT table ((%model.headLike; |
 %model.global;)*,(row,(%model.global;)*)+)>
<!ATTLIST table xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST table
 %att.global.attributes;
rows %data.count;  #IMPLIED
cols %data.count;  #IMPLIED >
<!--doc:contains a single text of any kind, whether unitary or composite, for example a poem or
    drama, a collection of essays, a novel, a dictionary, or a corpus sample. -->
<!ELEMENT text ((%model.global;)*,(front,(%model.global;)*)?,(body |
 group),(%model.global;)*,(back,(%model.global;)*)?)>
<!ATTLIST text xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST text
 %att.global.attributes;
 %att.declaring.attributes;
 %att.typed.attributes; >
<!--doc:contains a phrase defining a time of day in any format. -->
<!ELEMENT time ( #PCDATA |
 %model.gLike; |
 %model.phrase; |
 %model.global;)*>
<!ATTLIST time xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST time
 %att.global.attributes;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.typed.attributes; >
<!--doc:contains a title for any kind of work. -->
<!ELEMENT title %macro.paraContent;>
<!ATTLIST title xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST title
 %att.global.attributes;
 %att.canonical.attributes;
level (a|m|j|s|u) #IMPLIED
type %data.enumerated;  #IMPLIED >
<!--doc:(title page) contains the title page of a text, appearing within the front or back matter.  -->
<!ELEMENT titlePage ((%model.global;)*,(%model.titlepagePart;),(%model.titlepagePart; |
 %model.global;)*)>
<!ATTLIST titlePage xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST titlePage
 %att.global.attributes;
type %data.enumerated;  #IMPLIED >
<!--doc:contains a subsection or division of the title of a work, as
indicated on a title page. -->
<!ELEMENT titlePart %macro.paraContent;>
<!ATTLIST titlePart xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST titlePart
 %att.global.attributes;
type %data.enumerated;  "main"  >
<!--doc:contains a closing title or footer appearing at the end of a division of a text.  -->
<!ELEMENT trailer %macro.phraseSeq;>
<!ATTLIST trailer xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST trailer
 %att.global.attributes; >
<!--doc:(underline) for capturing typographical feature: underlined 
               glyphs. -->
<!ELEMENT ul %macro.paraContent;>
<!ATTLIST ul xmlns CDATA "http://www.tei-c.org/ns/tite/1.0">
<!ATTLIST ul
 %att.global.attributes; >
<!--doc:contains a word, phrase, or passage which cannot be transcribed with certainty because it
        is illegible or inaudible in the source. -->
<!ELEMENT unclear %macro.paraContent;>
<!ATTLIST unclear xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST unclear
reason CDATA  #IMPLIED
 %att.global.attributes;
 %att.editLike.attribute.source;
 %att.dimensions.attributes; >
<!-- end elements -->
