trunk/oxygen-tei/frameworks/tei/xml/tei/schema/relaxng/analysis.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"><!--Schema generated 2012-02-02T21:14:51Z
Edition: 2.0.2 Last updated on 2nd February 2012.
This material is dual-licensed.

	  [http://creativecommons.org/licenses/by/3.0/] 
	    Distributed under a Creative Commons Attribution 3.0 Unported License
	  
	  [http://www.opensource.org/licenses/BSD-2-Clause] 
	    Copyright 2011 TEI Consortium.
	    All rights reserved.
	    
	    Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
	    
	      Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
	      Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.



This software is provided by the copyright holders and contributors
"as is" and any express or implied warranties, including, but not
limited to, the implied warranties of merchantability and fitness for
a particular purpose are disclaimed. In no event shall the copyright
holder or contributors be liable for any direct, indirect, incidental,
special, exemplary, or consequential damages (including, but not
limited to, procurement of substitute goods or services; loss of use,
data, or profits; or business interruption) however caused and on any
theory of liability, whether in contract, strict liability, or tort
(including negligence or otherwise) arising in any way out of the use
of this software, even if advised of the possibility of such
damage.

	  TEI  material can be licensed differently depending on the use you intend to 
make of it. Hence it is made available under both the CC+BY and BSD-2 
licences.  The CC+BY licence is generally appropriate for usages which 
treat TEI content as data or documentation. The BSD-2 licence is 
generally appropriate for usage of TEI content in a software 
environment. For further information or clarification, please contact 
the TEI Consortium.
	  
	 Simple analytic mechanisms--><!--Definitions from module analysis--><!--Set global predeclared macros--><!--Set predeclared macros--><!--0. predeclared macros--><!--1. classes--><define name="att.global.analytic.attributes">
      <ref name="att.global.analytic.attribute.ana"/>
   </define>
   <define name="att.global.analytic.attribute.ana">
      <optional>
         <attribute name="ana">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(analysis) indicates one or more elements containing interpretations of the
element on which the ana attribute appears.</a:documentation>
            <list>
               <ref name="data.pointer"/>
               <zeroOrMore>
                  <ref name="data.pointer"/>
               </zeroOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <!--2. elements--><define name="c">
      <element name="c">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(character) represents a character. []</a:documentation>
         <ref name="c.content"/>
         <ref name="c.localattributes"/>
      </element>
   </define>
   <define name="c.content">
      <ref name="macro.xtext"/>
   </define>
   <define name="c.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.segLike.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
   </define>
   <define name="cl">
      <element name="cl">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(clause) represents a grammatical clause. []</a:documentation>
         <ref name="cl.content"/>
         <ref name="cl.localattributes"/>
      </element>
   </define>
   <define name="cl.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="cl.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.segLike.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
   </define>
   <define name="interp">
      <element name="interp">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(interpretation) summarizes a specific interpretative annotation which can be linked to a span of text. []</a:documentation>
         <ref name="interp.content"/>
         <ref name="interp.localattributes"/>
      </element>
   </define>
   <define name="interp.content">
      <zeroOrMore>
         <choice>
            <text/>
            <ref name="model.gLike"/>
            <ref name="model.glossLike"/>
         </choice>
      </zeroOrMore>
   </define>
   <define name="interp.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.interpLike.attributes"/>
      <empty/>
   </define>
   <define name="interpGrp">
      <element name="interpGrp">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(interpretation group) collects together a set of related interpretations which share responsibility or type. []</a:documentation>
         <ref name="interpGrp.content"/>
         <ref name="interpGrp.localattributes"/>
      </element>
   </define>
   <define name="interpGrp.content">
      <group>
         <zeroOrMore>
            <ref name="model.glossLike"/>
         </zeroOrMore>
         <oneOrMore>
            <ref name="interp"/>
         </oneOrMore>
      </group>
   </define>
   <define name="interpGrp.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.interpLike.attributes"/>
      <empty/>
   </define>
   <define name="m">
      <element name="m">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(morpheme) represents a grammatical morpheme. []</a:documentation>
         <ref name="m.content"/>
         <ref name="m.localattributes"/>
      </element>
   </define>
   <define name="m.content">
      <zeroOrMore>
         <choice>
            <text/>
            <ref name="model.gLike"/>
            <ref name="seg"/>
            <ref name="m"/>
            <ref name="c"/>
            <ref name="model.global"/>
         </choice>
      </zeroOrMore>
   </define>
   <define name="m.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.segLike.attributes"/>
      <ref name="att.typed.attributes"/>
      <optional>
         <attribute name="baseForm">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the morpheme's base form.</a:documentation>
            <ref name="data.word"/>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="pc">
      <element name="pc">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"> (punctuation character) a character or string of characters regarded as constituting a
  single punctuation mark. []</a:documentation>
         <ref name="pc.content"/>
         <ref name="pc.localattributes"/>
      </element>
   </define>
   <define name="pc.content">
      <zeroOrMore>
         <choice>
            <text/>
            <ref name="model.gLike"/>
            <ref name="c"/>
         </choice>
      </zeroOrMore>
   </define>
   <define name="pc.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.segLike.attributes"/>
      <ref name="att.typed.attributes"/>
      <optional>
         <attribute name="force">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the extent to which this punctuation mark
      conventionally separates words or phrases</a:documentation>
            <choice>
               <value>strong</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the punctuation mark is a word separator</a:documentation>
               <value>weak</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the punctuation mark is not a word separator</a:documentation>
               <value>inter</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the punctuation mark may or may not be a
word separator</a:documentation>
            </choice>
         </attribute>
      </optional>
      <optional>
         <attribute name="unit">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides a name for the kind of unit delimited by  this punctuation mark.</a:documentation>
            <ref name="data.enumerated"/>
         </attribute>
      </optional>
      <optional>
         <attribute name="pre">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates whether this punctuation mark precedes or
      follows the unit it delimits.</a:documentation>
            <ref name="data.truthValue"/>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="phr">
      <element name="phr">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(phrase) represents a grammatical phrase. []</a:documentation>
         <ref name="phr.content"/>
         <ref name="phr.localattributes"/>
      </element>
   </define>
   <define name="phr.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="phr.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.segLike.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
   </define>
   <define name="s">
      <element name="s">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(s-unit) contains a sentence-like division of a text. [ ]</a:documentation>
         <ref name="s.content"/>
         <ref name="s.localattributes"/>
      </element>
   </define>
   <define name="s.content">
      <ref name="macro.phraseSeq"/>
    
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="s-constraint-noNestedS">
         <rule context="tei:s">
            <report xmlns:rng="http://relaxng.org/ns/structure/1.0" test="tei:s">You may not nest one s element within
      another: use seg instead</report>
         </rule>
      </pattern>
    
  </define>
   <define name="s.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.segLike.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
   </define>
   <define name="span">
      <element name="span">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">associates an interpretative annotation directly with a span of text. []</a:documentation>
         <ref name="span.content"/>
         <ref name="span.localattributes"/>
      </element>
   </define>
   <define name="span.content">
      <ref name="macro.phraseSeq.limited"/>
   </define>
   <define name="span.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.interpLike.attributes"/>
      <attribute name="from">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the beginning of the passage being annotated; if not accompanied by a
        to attribute, then specifies the entire passage.</a:documentation>
         <ref name="data.pointer"/>
      </attribute>
      <optional>
         <attribute name="to">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the end of the passage being annotated.</a:documentation>
            <ref name="data.pointer"/>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="spanGrp">
      <element name="spanGrp">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(span group) collects together span tags. []</a:documentation>
         <ref name="spanGrp.content"/>
         <ref name="spanGrp.localattributes"/>
      </element>
   </define>
   <define name="spanGrp.content">
      <zeroOrMore>
         <ref name="span"/>
      </zeroOrMore>
   </define>
   <define name="spanGrp.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.interpLike.attributes"/>
      <empty/>
   </define>
   <define name="w">
      <element name="w">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(word) represents a grammatical (not necessarily orthographic) word. []</a:documentation>
         <ref name="w.content"/>
         <ref name="w.localattributes"/>
      </element>
   </define>
   <define name="w.content">
      <zeroOrMore>
         <choice>
            <text/>
            <ref name="model.gLike"/>
            <ref name="seg"/>
            <ref name="w"/>
            <ref name="m"/>
            <ref name="c"/>
            <ref name="model.global"/>
            <ref name="model.lPart"/>
            <ref name="model.hiLike"/>
            <ref name="model.pPart.edit"/>
         </choice>
      </zeroOrMore>
   </define>
   <define name="w.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.segLike.attributes"/>
      <ref name="att.typed.attributes"/>
      <optional>
         <attribute name="lemma">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides a lemma for the word, such as an uninflected
      dictionary entry form.</a:documentation>
            <ref name="data.key"/>
         </attribute>
      </optional>
      <optional>
         <attribute name="lemmaRef">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides a pointer to a definition of the lemma for the
      word, for example in an online lexicon. </a:documentation>
            <ref name="data.pointer"/>
         </attribute>
      </optional>
      <empty/>
   </define>
   <!--3. macros--></grammar>