trunk/oxygen-tei/frameworks/tei/xml/tei/schema/relaxng/certainty.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"><!--Schema generated 2011-03-05T14:52:51Z
Edition: 1.9.1. Last updated on March 5th 2011.

	  
Copyright 2011 TEI Consortium.
	  
This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of the
License, or (at your option) any later version. This library is
distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
details. You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA.


		
For information about the TEI, including contact
		details, consult the TEI web
	      site at http://www.tei-c.org/. 
		

	 Certainty and uncertainty--><!--Definitions from module certainty--><!--Set global predeclared macros--><!--Set predeclared macros--><!--0. predeclared macros--><!--1. classes--><!--2. elements--><define name="certainty">
      <element name="certainty">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the degree of certainty associated
  with some aspect of the text markup. </a:documentation>
         <ref name="certainty.content"/>
         <ref name="certainty.localattributes"/>
      </element>
   </define>
   <define name="certainty.content">
      <zeroOrMore>
         <ref name="model.glossLike"/>
      </zeroOrMore>
   </define>
   <define name="certainty.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.scoping.attributes"/>
      <attribute name="locus">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates more exactly the aspect concerning which
      certainty is being expressed: specifically, whether the markup
      is correctly located, whether the correct element or attribute
      name has been used, or whether the content of the element or
      attribute is correct,
	etc.</a:documentation>
         <choice>
            <value>name</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">uncertainty concerns whether the name of the element
	  or attribute  used is correctly applied.</a:documentation>
            <value>start</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">uncertainty concerns whether the start of the element
	  is correctly identified.</a:documentation>
            <value>end</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">uncertainty concerns whether the end of the element
	  is correctly identified.</a:documentation>
            <value>location</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">uncertainty concerns both the start and the end of the
	  element.</a:documentation>
            <value>value</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">uncertainty concerns the content (for an element) or
	  the value (for an attribute)</a:documentation>
         </choice>
      </attribute>
      <optional>
         <attribute name="assertedValue">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides an alternative value for the aspect of the markup in
question—an alternative generic identifier, transcription,
or attribute value, or the identifier of an anchor element (to
indicate an alternative starting or ending location).  If an
assertedValue is given, the confidence level specified by
degree applies to the alternative markup specified by
assertedValue; if none is given, it applies to the markup
in the text.</a:documentation>
            <choice>
               <ref name="data.pointer"/>
               <ref name="data.name"/>
               <ref name="data.word"/>
            </choice>
         </attribute>
      </optional>
      <optional>
         <attribute name="given">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates conditions assumed in the assignment of a degree
      of confidence.</a:documentation>
            <list>
               <ref name="data.pointer"/>
               <zeroOrMore>
                  <ref name="data.pointer"/>
               </zeroOrMore>
            </list>
         </attribute>
      </optional>
      <optional>
         <attribute name="degree">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the degree of confidence assigned to the aspect
of the markup named by the locus attribute.</a:documentation>
            <ref name="data.probability"/>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="precision">
      <element name="precision">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the numerical accuracy or precision  associated
  with some aspect of the text markup. </a:documentation>
         <ref name="precision.content"/>
         <ref name="precision.localattributes"/>
      </element>
   </define>
   <define name="precision.content">
      <zeroOrMore>
         <ref name="model.glossLike"/>
      </zeroOrMore>
   </define>
   <define name="precision.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.scoping.attributes"/>
      <optional>
         <attribute name="degree">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the degree of precision to be assigned as a
      value between 0 (none) and 1 (optimally precise)</a:documentation>
            <ref name="data.probability"/>
         </attribute>
      </optional>
      <optional>
         <attribute name="stdDeviation">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a standard deviation associated with the value in
      question</a:documentation>
            <ref name="data.numeric"/>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="respons">
      <element name="respons">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(responsibility) identifies the individual(s) responsible for some aspect of the
markup of particular element(s).</a:documentation>
         <ref name="respons.content"/>
         <ref name="respons.localattributes"/>
      </element>
   </define>
   <define name="respons.content">
      <zeroOrMore>
         <ref name="model.glossLike"/>
      </zeroOrMore>
   </define>
   <define name="respons.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.scoping.attributes"/>
      <attribute name="locus">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the specific aspect of the markup for which
responsibility is being assigned.</a:documentation>
         <list>
            <choice>
               <value>name</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">responsibility is being assigned concerning the name of the element
	  or attribute used.</a:documentation>
               <value>start</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">responsibility is being assigned concerning the start of the element
	  concerned.</a:documentation>
               <value>end</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">responsibility is being assigned concerning the end of the element
	  concerned.</a:documentation>
               <value>location</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">responsibility is being assigned concerning the location of the element
	  concerned.</a:documentation>
               <value>value</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">responsibility is being assigned concerning the content (for an element) or
	  the value (for an attribute)</a:documentation>
            </choice>
            <zeroOrMore>
               <choice>
                  <value>name</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">responsibility is being assigned concerning the name of the element
	  or attribute used.</a:documentation>
                  <value>start</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">responsibility is being assigned concerning the start of the element
	  concerned.</a:documentation>
                  <value>end</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">responsibility is being assigned concerning the end of the element
	  concerned.</a:documentation>
                  <value>location</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">responsibility is being assigned concerning the location of the element
	  concerned.</a:documentation>
                  <value>value</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">responsibility is being assigned concerning the content (for an element) or
	  the value (for an attribute)</a:documentation>
               </choice>
            </zeroOrMore>
         </list>
      </attribute>
      <attribute name="resp">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(responsible party) identifies the individual or agency responsible for the indicated
aspect of the electronic text.</a:documentation>
         <ref name="data.pointer"/>
      </attribute>
      <empty/>
   </define>
   <!--3. macros--></grammar>