trunk/oxygen-tei/frameworks/tei/xml/tei/schema/relaxng/verse.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"><!--Schema generated 2011-03-05T14:52:51Z
Edition: 1.9.1. Last updated on March 5th 2011.

	  
Copyright 2011 TEI Consortium.
	  
This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of the
License, or (at your option) any later version. This library is
distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
details. You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA.


		
For information about the TEI, including contact
		details, consult the TEI web
	      site at http://www.tei-c.org/. 
		

	 Verse structures--><!--Definitions from module verse--><!--Set global predeclared macros--><!--Set predeclared macros--><!--0. predeclared macros--><!--1. classes--><define name="att.metrical.attributes">
      <ref name="att.metrical.attribute.met"/>
      <ref name="att.metrical.attribute.real"/>
      <ref name="att.metrical.attribute.rhyme"/>
   </define>
   <define name="att.metrical.attribute.met">
      <optional>
         <attribute name="met">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(metrical structure, conventional) contains a user-specified encoding for the conventional
metrical structure of the element.</a:documentation>
            <data type="token"/>
         </attribute>
      </optional>
   </define>
   <define name="att.metrical.attribute.real">
      <optional>
         <attribute name="real">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(metrical structure, realized) contains a user-specified encoding for the actual realization
of the conventional metrical structure applicable to the element.</a:documentation>
            <data type="token"/>
         </attribute>
      </optional>
   </define>
   <define name="att.metrical.attribute.rhyme">
      <optional>
         <attribute name="rhyme">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(rhyme scheme) specifies the rhyme scheme applicable to a group of verse lines.</a:documentation>
            <data type="token"/>
         </attribute>
      </optional>
   </define>
   <define name="att.enjamb.attributes">
      <ref name="att.enjamb.attribute.enjamb"/>
   </define>
   <define name="att.enjamb.attribute.enjamb">
      <optional>
         <attribute name="enjamb">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(enjambement) indicates that the end of a verse line is marked by enjambement.
Sample values include: 1] no; 2] yes; 3] weak; 4] strong</a:documentation>
            <ref name="data.enumerated"/>
         </attribute>
      </optional>
   </define>
   <!--2. elements--><define name="caesura">
      <element name="caesura">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">marks the point at which a metrical line may be divided.</a:documentation>
         <ref name="caesura.content"/>
         <ref name="caesura.localattributes"/>
      </element>
   </define>
   <define name="caesura.content">
      <empty/>
   </define>
   <define name="caesura.localattributes">
      <ref name="att.global.attributes"/>
      <empty/>
   </define>
   <define name="metDecl">
      <element name="metDecl">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(metrical notation declaration) documents the notation employed to represent a metrical pattern when this is specified as
    the value of a met, real, or rhyme attribute on any structural
    element of a metrical text (e.g. lg, l, or seg).</a:documentation>
         <ref name="metDecl.content"/>
         <ref name="metDecl.localattributes"/>
      </element>
   </define>
   <define name="metDecl.content">
      <choice>
         <oneOrMore>
            <choice>
               <ref name="model.pLike"/>
               <ref name="model.noteLike"/>
            </choice>
         </oneOrMore>
         <oneOrMore>
            <ref name="metSym"/>
         </oneOrMore>
      </choice>
   </define>
   <define name="metDecl.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.declarable.attributes"/>
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" name="type"
                    a:defaultValue="met real">
            <a:documentation>indicates whether the notation conveys the abstract metrical form, its actual prosodic
        realization, or the rhyme scheme, or some combination thereof.</a:documentation>
            <list>
               <choice>
                  <value>met</value>
                  <a:documentation>(met attribute) declaration applies to the abstract metrical form recorded on the met
            attribute</a:documentation>
                  <value>real</value>
                  <a:documentation>(real attribute) declaration applies to the actual realization of the conventional metrical structure
            recorded on the real attribute</a:documentation>
                  <value>rhyme</value>
                  <a:documentation>(rhyme attribute) declaration applies to the rhyme scheme recorded on the rhyme attribute</a:documentation>
               </choice>
               <optional>
                  <choice>
                     <value>met</value>
                     <a:documentation>(met attribute) declaration applies to the abstract metrical form recorded on the met
            attribute</a:documentation>
                     <value>real</value>
                     <a:documentation>(real attribute) declaration applies to the actual realization of the conventional metrical structure
            recorded on the real attribute</a:documentation>
                     <value>rhyme</value>
                     <a:documentation>(rhyme attribute) declaration applies to the rhyme scheme recorded on the rhyme attribute</a:documentation>
                  </choice>
               </optional>
               <optional>
                  <choice>
                     <value>met</value>
                     <a:documentation>(met attribute) declaration applies to the abstract metrical form recorded on the met
            attribute</a:documentation>
                     <value>real</value>
                     <a:documentation>(real attribute) declaration applies to the actual realization of the conventional metrical structure
            recorded on the real attribute</a:documentation>
                     <value>rhyme</value>
                     <a:documentation>(rhyme attribute) declaration applies to the rhyme scheme recorded on the rhyme attribute</a:documentation>
                  </choice>
               </optional>
            </list>
         </attribute>
      </optional>
      <optional>
         <attribute name="pattern">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(regular expression pattern) specifies a regular expression defining any value that is legal for this notation.</a:documentation>
            <ref name="data.pattern"/>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="metSym">
      <element name="metSym">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(metrical notation symbol) documents the intended significance of a particular character or character sequence within a
    metrical notation, either explicitly or in terms of other symbol elements in the same metDecl.</a:documentation>
         <ref name="metSym.content"/>
         <ref name="metSym.localattributes"/>
      </element>
   </define>
   <define name="metSym.content">
      <ref name="macro.phraseSeq.limited"/>
   </define>
   <define name="metSym.localattributes">
      <ref name="att.global.attributes"/>
      <attribute name="value">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the character or character sequence being documented.</a:documentation>
         <list>
            <ref name="data.word"/>
            <zeroOrMore>
               <ref name="data.word"/>
            </zeroOrMore>
         </list>
      </attribute>
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" name="terminal"
                    a:defaultValue="true">
            <a:documentation>specifies whether the symbol is defined in terms of other symbols (terminal
        is set to false) or in prose (terminal is set to true).</a:documentation>
            <ref name="data.truthValue"/>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="rhyme">
      <element name="rhyme">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">marks the rhyming part of a metrical line.</a:documentation>
         <ref name="rhyme.content"/>
         <ref name="rhyme.localattributes"/>
      </element>
   </define>
   <define name="rhyme.content">
      <ref name="macro.paraContent"/>
   </define>
   <define name="rhyme.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.typed.attributes"/>
      <optional>
         <attribute name="label">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides a label to identify which part of a rhyme scheme this rhyming string
        instantiates.</a:documentation>
            <ref name="data.word"/>
         </attribute>
      </optional>
      <empty/>
   </define>
   <!--3. macros--></grammar>