oxygen-tei/frameworks/tei/xml/tei/schema/dtd/certainty.dtd


<!--
DTD module certainty. Generated 2013-07-26T10:33:19Z. This material is dual-licensed.
[http://creativecommons.org/licenses/by/3.0/] Distributed under a Creative Commons Attribution 3.0 Unported License.  [http://www.opensource.org/licenses/BSD-2-Clause] Copyright 2013 TEI Consortium. All rights reserved. Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution. This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage. TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further information or clarification, please contact the TEI Consortium.
Edition: 2.5.0. Last updated on
	26th July 2013.
Certainty and uncertainty
-->

<!ENTITY % certainty 'INCLUDE' >
<![ %certainty; [

<!--doc:indicates the degree of certainty associated with some aspect of the text markup.  [] -->
<!ELEMENT %n.certainty; %om.RR; (%model.descLike;|%model.certLike;)*>
<!ATTLIST %n.certainty; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.certainty;
 %att.global.attributes;
 %att.scoping.attributes;
cert %data.certainty;  #IMPLIED
locus (name|start|end|location|value) #REQUIRED
assertedValue CDATA #IMPLIED
given CDATA  #IMPLIED
degree %data.probability;  #IMPLIED >
]]>

<!ENTITY % precision 'INCLUDE' >
<![ %precision; [

<!--doc:indicates the numerical accuracy or precision associated with some aspect of the text markup.  [] -->
<!ELEMENT %n.precision; %om.RR; (%model.descLike;|%model.certLike;)*>
<!ATTLIST %n.precision; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.precision;
 %att.global.attributes;
 %att.scoping.attributes;
 %att.ranging.attributes;
degree %data.probability;  #IMPLIED
precision %data.certainty;  #IMPLIED
stdDeviation %data.numeric;  #IMPLIED >
]]>

<!ENTITY % respons 'INCLUDE' >
<![ %respons; [

<!--doc:(responsibility) identifies the individual(s) responsible for some aspect of the content or markup of particular element(s). [] -->
<!ELEMENT %n.respons; %om.RR; (%model.descLike;|%model.certLike;)*>
<!ATTLIST %n.respons; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.respons;
 %att.global.attributes;
 %att.scoping.attributes;
locus NMTOKENS  #REQUIRED
resp %data.pointer;  #REQUIRED >
]]>
