oxygen-tei/frameworks/tei/xml/tei/schema/relaxng/linking.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"><!--Schema generated 2011-03-05T14:52:51Z
Edition: 1.9.1. Last updated on March 5th 2011.

	  
Copyright 2011 TEI Consortium.
	  
This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of the
License, or (at your option) any later version. This library is
distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
details. You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA.


		
For information about the TEI, including contact
		details, consult the TEI web
	      site at http://www.tei-c.org/. 
		

	 Linking, segmentation and alignment--><!--Definitions from module linking--><!--Set global predeclared macros--><!--Set predeclared macros--><!--0. predeclared macros--><!--1. classes--><define name="att.global.linking.attributes">
      <ref name="att.global.linking.attribute.corresp"/>
      <ref name="att.global.linking.attribute.synch"/>
      <ref name="att.global.linking.attribute.sameAs"/>
      <ref name="att.global.linking.attribute.copyOf"/>
      <ref name="att.global.linking.attribute.next"/>
      <ref name="att.global.linking.attribute.prev"/>
      <ref name="att.global.linking.attribute.exclude"/>
      <ref name="att.global.linking.attribute.select"/>
   </define>
   <define name="att.global.linking.attribute.corresp">
      <optional>
         <attribute name="corresp">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(corresponds) points to elements that correspond to the current
      element in some way.</a:documentation>
            <list>
               <ref name="data.pointer"/>
               <zeroOrMore>
                  <ref name="data.pointer"/>
               </zeroOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="att.global.linking.attribute.synch">
      <optional>
         <attribute name="synch">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(synchronous) points to elements that are synchronous with the current
      element.</a:documentation>
            <list>
               <ref name="data.pointer"/>
               <zeroOrMore>
                  <ref name="data.pointer"/>
               </zeroOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="att.global.linking.attribute.sameAs">
      <optional>
         <attribute name="sameAs">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to an element that is the same as the current
      element.</a:documentation>
            <ref name="data.pointer"/>
         </attribute>
      </optional>
   </define>
   <define name="att.global.linking.attribute.copyOf">
      <optional>
         <attribute name="copyOf">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to an element of which the current element is a
	copy.</a:documentation>
            <ref name="data.pointer"/>
         </attribute>
      </optional>
   </define>
   <define name="att.global.linking.attribute.next">
      <optional>
         <attribute name="next">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to the next element of a virtual aggregate of which
      the current element is part.</a:documentation>
            <ref name="data.pointer"/>
         </attribute>
      </optional>
   </define>
   <define name="att.global.linking.attribute.prev">
      <optional>
         <attribute name="prev">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(previous) points to the previous element of a virtual aggregate of
      which the current element is part.</a:documentation>
            <ref name="data.pointer"/>
         </attribute>
      </optional>
   </define>
   <define name="att.global.linking.attribute.exclude">
      <optional>
         <attribute name="exclude">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to elements that are in exclusive alternation
      with the current element.</a:documentation>
            <list>
               <ref name="data.pointer"/>
               <zeroOrMore>
                  <ref name="data.pointer"/>
               </zeroOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="att.global.linking.attribute.select">
      <optional>
         <attribute name="select">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">selects one or more alternants; if one alternant is
      selected, the ambiguity or uncertainty is marked as resolved. If
      more than one alternant is selected, the degree of ambiguity or
      uncertainty is marked as reduced by the number of alternants not
      selected.</a:documentation>
            <list>
               <ref name="data.pointer"/>
               <zeroOrMore>
                  <ref name="data.pointer"/>
               </zeroOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <!--2. elements--><define name="ab">
      <element name="ab">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(anonymous block) contains any arbitrary component-level unit of text, acting as an anonymous container for phrase or inter level elements analogous to, but without the semantic baggage of, a paragraph.</a:documentation>
         <ref name="ab.content"/>
         <ref name="ab.localattributes"/>
      </element>
   </define>
   <define name="ab.content">
      <ref name="macro.paraContent"/>
   </define>
   <define name="ab.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.declaring.attributes"/>
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" name="part"
                    a:defaultValue="N">
            <a:documentation>specifies whether or not the block is complete. </a:documentation>
            <choice>
               <value>Y</value>
               <a:documentation>(yes) the block is incomplete</a:documentation>
               <value>N</value>
               <a:documentation>(no) either the block is complete, or no claim is made as to its completeness</a:documentation>
               <value>I</value>
               <a:documentation>(initial) the initial part of an incomplete block</a:documentation>
               <value>M</value>
               <a:documentation>(medial) a medial part of an incomplete block</a:documentation>
               <value>F</value>
               <a:documentation>(final) the final part of an incomplete block</a:documentation>
            </choice>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="alt">
      <element name="alt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(alternation) identifies an alternation or a set of choices among elements or passages.</a:documentation>
         <ref name="alt.content"/>
         <ref name="alt.localattributes"/>
      </element>
   </define>
   <define name="alt.content">
      <empty/>
    
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="alt-constraint-altTargets1">
         <rule context="tei:alt">
            <report xmlns:rng="http://relaxng.org/ns/structure/1.0" test="@target and @targets">You may not supply both 
	@target and @targets</report>
         </rule>
      </pattern>
    
  
    
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="alt-constraint-altTargets2">
         <rule context="tei:alt">
            <report xmlns:rng="http://relaxng.org/ns/structure/1.0"
                    test="not(@target) and not(@targets)">You must
	supply either @target or @targets</report>
         </rule>
      </pattern>
    
  
    
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="alt-constraint-altTargets3">
         <rule context="tei:alt">
            <assert xmlns:rng="http://relaxng.org/ns/structure/1.0" test="contains(@target,' ')">You must supply at least two
values for @target</assert>
         </rule>
      </pattern>
    
  </define>
   <define name="alt.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.pointing.attributes"/>
      <ref name="att.typed.attributes"/>
      <optional>
         <attribute name="targets">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the identifiers of the alternative elements or passages.</a:documentation>
            <list>
               <ref name="data.pointer"/>
               <ref name="data.pointer"/>
               <zeroOrMore>
                  <ref name="data.pointer"/>
               </zeroOrMore>
            </list>
         </attribute>
      </optional>
      <optional>
         <attribute name="mode">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">states whether the alternations gathered in this collection are exclusive or
                inclusive.</a:documentation>
            <choice>
               <value>excl</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(exclusive) indicates that the alternation is exclusive, i.e. that at most one of the
                        alternatives occurs.</a:documentation>
               <value>incl</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(inclusive) indicates that the alternation is not exclusive, i.e. that one or more of
                        the alternatives occur.</a:documentation>
            </choice>
         </attribute>
      </optional>
      <optional>
         <attribute name="weights">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">If mode is , each weight states the probability that
                the corresponding alternative occurs. If mode is incl each
                weight states the probability that the corresponding alternative occurs given that
                at least one of the other alternatives occurs.</a:documentation>
            <list>
               <ref name="data.probability"/>
               <ref name="data.probability"/>
               <zeroOrMore>
                  <ref name="data.probability"/>
               </zeroOrMore>
            </list>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="altGrp">
      <element name="altGrp">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(alternation group) groups a collection of alt elements and possibly pointers.</a:documentation>
         <ref name="altGrp.content"/>
         <ref name="altGrp.localattributes"/>
      </element>
   </define>
   <define name="altGrp.content">
      <zeroOrMore>
         <choice>
            <ref name="alt"/>
            <ref name="ptr"/>
         </choice>
      </zeroOrMore>
   </define>
   <define name="altGrp.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.pointing.group.attributes"/>
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" name="mode"
                    a:defaultValue="excl">
            <a:documentation>states whether the alternations gathered in this collection are exclusive or
                inclusive.</a:documentation>
            <choice>
               <value>excl</value>
               <a:documentation>(exclusive) indicates that the alternation is exclusive, i.e. that at most one of the
                        alternatives occurs.</a:documentation>
               <value>incl</value>
               <a:documentation>(inclusive) indicates that the alternation is not exclusive, i.e. that one or more of
                        the alternatives occur.</a:documentation>
            </choice>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="anchor">
      <element name="anchor">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(anchor point) attaches an identifier to a point within a text, whether or not it corresponds with a textual element.</a:documentation>
         <ref name="anchor.content"/>
         <ref name="anchor.localattributes"/>
      </element>
   </define>
   <define name="anchor.content">
      <empty/>
   </define>
   <define name="anchor.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
   </define>
   <define name="join">
      <element name="join">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies a possibly fragmented segment of text, by pointing at the possibly discontiguous elements which compose it.</a:documentation>
         <ref name="join.content"/>
         <ref name="join.localattributes"/>
      </element>
   </define>
   <define name="join.content">
      <zeroOrMore>
         <ref name="model.glossLike"/>
      </zeroOrMore>
    
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="join-constraint-joinTargets1">
         <rule context="tei:join">
            <report xmlns:rng="http://relaxng.org/ns/structure/1.0" test="@target and @targets">You may not supply both 
	@target and @targets</report>
         </rule>
      </pattern>
    
  
    
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="join-constraint-joinTargets2">
         <rule context="tei:join">
            <report xmlns:rng="http://relaxng.org/ns/structure/1.0"
                    test="not(@target) and not(@targets)">You must
	supply either @target or @targets</report>
         </rule>
      </pattern>
    
  
    
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="join-constraint-joinTargets3">
         <rule context="tei:join">
            <assert xmlns:rng="http://relaxng.org/ns/structure/1.0" test="contains(@target,' ')">You must supply at least two
values for @target</assert>
         </rule>
      </pattern>
    
  </define>
   <define name="join.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.pointing.attributes"/>
      <ref name="att.typed.attributes"/>
      <optional>
         <attribute name="targets">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the identifiers of the elements or passages to be joined into a virtual element.</a:documentation>
            <list>
               <ref name="data.pointer"/>
               <ref name="data.pointer"/>
               <zeroOrMore>
                  <ref name="data.pointer"/>
               </zeroOrMore>
            </list>
         </attribute>
      </optional>
      <optional>
         <attribute name="result">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the name of an element which this aggregation may be understood to represent.</a:documentation>
            <ref name="data.name"/>
         </attribute>
      </optional>
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" name="scope"
                    a:defaultValue="root">
            <a:documentation>indicates whether the targets to be joined include the entire element indicated (the entire subtree including its root), or just the children of the target (the branches of the subtree).</a:documentation>
            <choice>
               <value>root</value>
               <a:documentation>the rooted subtrees indicated by the targets attribute are joined, each subtree become a child of the virtual element created by the join</a:documentation>
               <value>branches</value>
               <a:documentation>the children of the subtrees indicated by the targets attribute become the children of the virtual element (i.e. the roots of the subtrees are discarded)</a:documentation>
            </choice>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="joinGrp">
      <element name="joinGrp">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(join group) groups a collection of join elements and possibly pointers.</a:documentation>
         <ref name="joinGrp.content"/>
         <ref name="joinGrp.localattributes"/>
      </element>
   </define>
   <define name="joinGrp.content">
      <group>
         <zeroOrMore>
            <ref name="model.glossLike"/>
         </zeroOrMore>
         <oneOrMore>
            <choice>
               <ref name="join"/>
               <ref name="ptr"/>
            </choice>
         </oneOrMore>
      </group>
   </define>
   <define name="joinGrp.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.pointing.group.attributes"/>
      <optional>
         <attribute name="result">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">describes the result of the joins gathered in this collection.</a:documentation>
            <ref name="data.name"/>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="link">
      <element name="link">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">defines an association or hypertextual link among elements or passages, of some type not more precisely specifiable by other elements.</a:documentation>
         <ref name="link.content"/>
         <ref name="link.localattributes"/>
      </element>
   </define>
   <define name="link.content">
      <empty/>
    
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="link-constraint-linkTargets1">
         <rule context="tei:link">
            <sch:report xmlns="http://www.tei-c.org/ns/1.0"
                        xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                        xmlns:rng="http://relaxng.org/ns/structure/1.0"
                        test="@target and @targets">You may not supply both 
	@target and @targets</sch:report>
         </rule>
      </pattern>
    
  
    
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="link-constraint-linkTargets2">
         <rule context="tei:link">
            <sch:report xmlns="http://www.tei-c.org/ns/1.0"
                        xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                        xmlns:rng="http://relaxng.org/ns/structure/1.0"
                        test="not(@target) and not(@targets)">You must
	supply either @target or @targets</sch:report>
         </rule>
      </pattern>
    
  
    
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="link-constraint-linkTargets3">
         <rule context="tei:link">
            <sch:assert xmlns="http://www.tei-c.org/ns/1.0"
                        xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                        xmlns:rng="http://relaxng.org/ns/structure/1.0"
                        test="contains(@target,' ')">You must supply at least two
values for @target</sch:assert>
         </rule>
      </pattern>
    
  </define>
   <define name="link.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.pointing.attributes"/>
      <ref name="att.typed.attributes"/>
      <optional>
         <attribute name="targets">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the identifiers of the elements or passages to be linked or associated. </a:documentation>
            <list>
               <ref name="data.pointer"/>
               <ref name="data.pointer"/>
               <zeroOrMore>
                  <ref name="data.pointer"/>
               </zeroOrMore>
            </list>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="linkGrp">
      <element name="linkGrp">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(link group) defines a collection of associations or hypertextual links.</a:documentation>
         <ref name="linkGrp.content"/>
         <ref name="linkGrp.localattributes"/>
      </element>
   </define>
   <define name="linkGrp.content">
      <oneOrMore>
         <choice>
            <ref name="link"/>
            <ref name="ptr"/>
         </choice>
      </oneOrMore>
   </define>
   <define name="linkGrp.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.pointing.group.attributes"/>
      <empty/>
   </define>
   <define name="seg">
      <element name="seg">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(arbitrary segment) represents any segmentation of text below the chunk level.</a:documentation>
         <ref name="seg.content"/>
         <ref name="seg.localattributes"/>
      </element>
   </define>
   <define name="seg.content">
      <ref name="macro.paraContent"/>
   </define>
   <define name="seg.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.segLike.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.responsibility.attributes"/>
      <empty/>
   </define>
   <define name="timeline">
      <element name="timeline">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(timeline) provides a set of ordered points in time which can be linked to elements of a spoken text to create a temporal alignment of that text.</a:documentation>
         <ref name="timeline.content"/>
         <ref name="timeline.localattributes"/>
      </element>
   </define>
   <define name="timeline.content">
      <oneOrMore>
         <ref name="when"/>
      </oneOrMore>
   </define>
   <define name="timeline.localattributes">
      <ref name="att.global.attributes"/>
      <optional>
         <attribute name="origin">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">designates the origin of the timeline, i.e. the time at which it begins.</a:documentation>
            <ref name="data.pointer"/>
         </attribute>
      </optional>
      <optional>
         <attribute name="unit">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the unit of time corresponding to the interval value of the timeline or of its constituent points in time.
Suggested values include: 1] d(days) ; 2] h(hours) ; 3] min(minutes) ; 4] s(seconds) ; 5] ms(milliseconds) </a:documentation>
            <choice>
               <value>d</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(days) </a:documentation>
               <value>h</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(hours) </a:documentation>
               <value>min</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(minutes) </a:documentation>
               <value>s</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(seconds) </a:documentation>
               <value>ms</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(milliseconds) </a:documentation>
               <data type="Name"/>
            </choice>
         </attribute>
      </optional>
      <optional>
         <attribute name="interval">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the numeric portion of a time interval</a:documentation>
            <choice>
               <data type="float">
                  <param name="minExclusive">0</param>
               </data>
               <value>regular</value>
               <value>irregular</value>
            </choice>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="when">
      <element name="when">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates a point in time either relative to other elements in the same timeline tag, or absolutely.</a:documentation>
         <ref name="when.content"/>
         <ref name="when.localattributes"/>
      </element>
   </define>
   <define name="when.content">
      <empty/>
   </define>
   <define name="when.localattributes">
      <ref name="att.global.attributes"/>
      <optional>
         <attribute name="absolute">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies an absolute value for the time.</a:documentation>
            <ref name="data.temporal.w3c"/>
         </attribute>
      </optional>
      <optional>
         <attribute name="unit">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the unit of time in which the interval value is expressed, if this is not inherited from the parent timeline.
Suggested values include: 1] d(days) ; 2] h(hours) ; 3] min(minutes) ; 4] s(seconds) ; 5] ms(milliseconds) </a:documentation>
            <choice>
               <value>d</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(days) </a:documentation>
               <value>h</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(hours) </a:documentation>
               <value>min</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(minutes) </a:documentation>
               <value>s</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(seconds) </a:documentation>
               <value>ms</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(milliseconds) </a:documentation>
               <data type="Name"/>
            </choice>
         </attribute>
      </optional>
      <optional>
         <attribute name="interval">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the numeric portion of a time interval</a:documentation>
            <choice>
               <data type="float">
                  <param name="minExclusive">0</param>
               </data>
               <value>unknown</value>
            </choice>
         </attribute>
      </optional>
      <optional>
         <attribute name="since">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the reference point for determining the time of the current when element, which is obtained by adding the interval to the time of the reference point.</a:documentation>
            <ref name="data.pointer"/>
         </attribute>
      </optional>
      <empty/>
   </define>
   <!--3. macros--></grammar>