oxygen-tei/frameworks/tei/xml/tei/schema/relaxng/namesdates.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"><!--Schema generated 2011-03-05T14:52:51Z
Edition: 1.9.1. Last updated on March 5th 2011.

	  
Copyright 2011 TEI Consortium.
	  
This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of the
License, or (at your option) any later version. This library is
distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
details. You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA.


		
For information about the TEI, including contact
		details, consult the TEI web
	      site at http://www.tei-c.org/. 
		

	 Names and dates--><!--Definitions from module namesdates--><!--Set global predeclared macros--><!--Set predeclared macros--><!--0. predeclared macros--><!--1. classes--><define name="model.persNamePart">
      <choice>
         <ref name="surname"/>
         <ref name="forename"/>
         <ref name="genName"/>
         <ref name="nameLink"/>
         <ref name="addName"/>
         <ref name="roleName"/>
      </choice>
   </define>
   <define name="model.persNamePart_alternation">
      <choice>
         <ref name="surname"/>
         <ref name="forename"/>
         <ref name="genName"/>
         <ref name="nameLink"/>
         <ref name="addName"/>
         <ref name="roleName"/>
      </choice>
   </define>
   <define name="model.persNamePart_sequence">
      <ref name="surname"/>
      <ref name="forename"/>
      <ref name="genName"/>
      <ref name="nameLink"/>
      <ref name="addName"/>
      <ref name="roleName"/>
   </define>
   <define name="model.persNamePart_sequenceOptional">
      <optional>
         <ref name="surname"/>
      </optional>
      <optional>
         <ref name="forename"/>
      </optional>
      <optional>
         <ref name="genName"/>
      </optional>
      <optional>
         <ref name="nameLink"/>
      </optional>
      <optional>
         <ref name="addName"/>
      </optional>
      <optional>
         <ref name="roleName"/>
      </optional>
   </define>
   <define name="model.persNamePart_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="surname"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="forename"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="genName"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="nameLink"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="addName"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="roleName"/>
      </zeroOrMore>
   </define>
   <define name="model.persNamePart_sequenceRepeatable">
      <oneOrMore>
         <ref name="surname"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="forename"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="genName"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="nameLink"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="addName"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="roleName"/>
      </oneOrMore>
   </define>
   <define name="att.datable.iso.attributes">
      <ref name="att.datable.iso.attribute.when-iso"/>
      <ref name="att.datable.iso.attribute.notBefore-iso"/>
      <ref name="att.datable.iso.attribute.notAfter-iso"/>
      <ref name="att.datable.iso.attribute.from-iso"/>
      <ref name="att.datable.iso.attribute.to-iso"/>
   </define>
   <define name="att.datable.iso.attribute.when-iso">
      <optional>
         <attribute name="when-iso">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies the value of a date or time in a standard form.</a:documentation>
            <ref name="data.temporal.iso"/>
         </attribute>
      </optional>
   </define>
   <define name="att.datable.iso.attribute.notBefore-iso">
      <optional>
         <attribute name="notBefore-iso">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the earliest possible date for the event in standard form, e.g. yyyy-mm-dd.</a:documentation>
            <ref name="data.temporal.iso"/>
         </attribute>
      </optional>
   </define>
   <define name="att.datable.iso.attribute.notAfter-iso">
      <optional>
         <attribute name="notAfter-iso">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the latest possible date for the event in standard form, e.g. yyyy-mm-dd.</a:documentation>
            <ref name="data.temporal.iso"/>
         </attribute>
      </optional>
   </define>
   <define name="att.datable.iso.attribute.from-iso">
      <optional>
         <attribute name="from-iso">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the starting point of the period in standard form.</a:documentation>
            <ref name="data.temporal.iso"/>
         </attribute>
      </optional>
   </define>
   <define name="att.datable.iso.attribute.to-iso">
      <optional>
         <attribute name="to-iso">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the ending point of the period in standard form.</a:documentation>
            <ref name="data.temporal.iso"/>
         </attribute>
      </optional>
   </define>
   <define name="att.duration.iso.attributes">
      <ref name="att.duration.iso.attribute.dur-iso"/>
   </define>
   <define name="att.duration.iso.attribute.dur-iso">
      <optional>
         <attribute name="dur-iso">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(duration) indicates the length of this element in time.</a:documentation>
            <ref name="data.duration.iso"/>
         </attribute>
      </optional>
   </define>
   <!--2. elements--><define name="addName">
      <element name="addName">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(additional name) contains an additional name component, such as a nickname, epithet, or alias, or any other descriptive phrase used within a personal
    name.</a:documentation>
         <ref name="addName.content"/>
         <ref name="addName.localattributes"/>
      </element>
   </define>
   <define name="addName.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="addName.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.personal.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
   </define>
   <define name="affiliation">
      <element name="affiliation">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(affiliation) contains an informal description of a person's present or past affiliation with some
        organization, for example an employer or sponsor.</a:documentation>
         <ref name="affiliation.content"/>
         <ref name="affiliation.localattributes"/>
      </element>
   </define>
   <define name="affiliation.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="affiliation.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.editLike.attributes"/>
      <ref name="att.datable.attributes"/>
      <ref name="att.naming.attributes"/>
      <empty/>
   </define>
   <define name="age">
      <element name="age">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(age) specifies the age of a person.</a:documentation>
         <ref name="age.content"/>
         <ref name="age.localattributes"/>
      </element>
   </define>
   <define name="age.content">
      <ref name="macro.phraseSeq.limited"/>
   </define>
   <define name="age.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.editLike.attributes"/>
      <ref name="att.datable.attributes"/>
      <optional>
         <attribute name="value">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a numeric code representing the age or age group</a:documentation>
            <ref name="data.count"/>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="birth">
      <element name="birth">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(birth) contains information about a person's birth, such as its date and place.</a:documentation>
         <ref name="birth.content"/>
         <ref name="birth.localattributes"/>
      </element>
   </define>
   <define name="birth.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="birth.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.editLike.attributes"/>
      <ref name="att.datable.attributes"/>
      <ref name="att.naming.attributes"/>
      <empty/>
   </define>
   <define name="bloc">
      <element name="bloc">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(bloc) contains the name of a geo-political unit consisting of two or more nation states or
    countries.</a:documentation>
         <ref name="bloc.content"/>
         <ref name="bloc.localattributes"/>
      </element>
   </define>
   <define name="bloc.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="bloc.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.naming.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.datable.attributes"/>
      <empty/>
   </define>
   <define name="climate">
      <element name="climate">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(climate) contains information about the physical climate of a place.</a:documentation>
         <ref name="climate.content"/>
         <ref name="climate.localattributes"/>
      </element>
   </define>
   <define name="climate.content">
      <group>
         <zeroOrMore>
            <ref name="model.headLike"/>
         </zeroOrMore>
         <choice>
            <group>
               <oneOrMore>
                  <ref name="model.pLike"/>
               </oneOrMore>
            </group>
            <group>
               <oneOrMore>
                  <ref name="model.labelLike"/>
               </oneOrMore>
            </group>
         </choice>
         <zeroOrMore>
            <choice>
               <ref name="model.noteLike"/>
               <ref name="model.biblLike"/>
            </choice>
         </zeroOrMore>
         <zeroOrMore>
            <ref name="climate"/>
         </zeroOrMore>
      </group>
   </define>
   <define name="climate.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.datable.attributes"/>
      <ref name="att.editLike.attributes"/>
      <ref name="att.naming.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
   </define>
   <define name="country">
      <element name="country">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(country) contains the name of a geo-political unit, such as a nation, country, colony, or
    commonwealth, larger than or administratively superior to a region and smaller than a bloc.</a:documentation>
         <ref name="country.content"/>
         <ref name="country.localattributes"/>
      </element>
   </define>
   <define name="country.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="country.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.naming.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.datable.attributes"/>
      <empty/>
   </define>
   <define name="death">
      <element name="death">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(death) contains information about a person's death, such as its date and place.</a:documentation>
         <ref name="death.content"/>
         <ref name="death.localattributes"/>
      </element>
   </define>
   <define name="death.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="death.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.editLike.attributes"/>
      <ref name="att.datable.attributes"/>
      <ref name="att.naming.attributes"/>
      <empty/>
   </define>
   <define name="district">
      <element name="district">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains the name of any kind of subdivision of a settlement, such as a parish, ward, or other administrative or geographic unit.</a:documentation>
         <ref name="district.content"/>
         <ref name="district.localattributes"/>
      </element>
   </define>
   <define name="district.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="district.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.naming.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.datable.attributes"/>
      <empty/>
   </define>
   <define name="education">
      <element name="education">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a description of the educational experience of a person.</a:documentation>
         <ref name="education.content"/>
         <ref name="education.localattributes"/>
      </element>
   </define>
   <define name="education.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="education.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.editLike.attributes"/>
      <ref name="att.datable.attributes"/>
      <ref name="att.naming.attributes"/>
      <empty/>
   </define>
   <define name="event">
      <element name="event">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(event) contains data relating to any kind of significant event associated with a person, place, or organization.</a:documentation>
         <ref name="event.content"/>
         <ref name="event.localattributes"/>
      </element>
   </define>
   <define name="event.content">
      <group>
         <zeroOrMore>
            <ref name="model.headLike"/>
         </zeroOrMore>
         <choice>
            <group>
               <oneOrMore>
                  <ref name="model.pLike"/>
               </oneOrMore>
            </group>
            <group>
               <oneOrMore>
                  <ref name="model.labelLike"/>
               </oneOrMore>
            </group>
         </choice>
         <zeroOrMore>
            <choice>
               <ref name="model.noteLike"/>
               <ref name="model.biblLike"/>
            </choice>
         </zeroOrMore>
         <zeroOrMore>
            <ref name="event"/>
         </zeroOrMore>
      </group>
   </define>
   <define name="event.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.datable.attributes"/>
      <ref name="att.editLike.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.naming.attributes"/>
      <optional>
         <attribute name="where">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the location of an event by pointing to a place element</a:documentation>
            <ref name="data.pointer"/>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="faith">
      <element name="faith">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the faith, religion, or belief set of a person.</a:documentation>
         <ref name="faith.content"/>
         <ref name="faith.localattributes"/>
      </element>
   </define>
   <define name="faith.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="faith.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.editLike.attributes"/>
      <ref name="att.datable.attributes"/>
      <empty/>
   </define>
   <define name="floruit">
      <element name="floruit">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains information about a person's period of activity.</a:documentation>
         <ref name="floruit.content"/>
         <ref name="floruit.localattributes"/>
      </element>
   </define>
   <define name="floruit.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="floruit.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.datable.attributes"/>
      <ref name="att.editLike.attributes"/>
      <empty/>
   </define>
   <define name="forename">
      <element name="forename">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a forename, given or baptismal name.</a:documentation>
         <ref name="forename.content"/>
         <ref name="forename.localattributes"/>
      </element>
   </define>
   <define name="forename.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="forename.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.personal.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
   </define>
   <define name="genName">
      <element name="genName">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(generational name component) contains a name component used to distinguish otherwise similar names on the basis of the relative ages or generations of the persons
        named.</a:documentation>
         <ref name="genName.content"/>
         <ref name="genName.localattributes"/>
      </element>
   </define>
   <define name="genName.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="genName.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.personal.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
   </define>
   <define name="geo">
      <element name="geo">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(geographical coordinates) contains any expression of a set of geographic coordinates, representing a point, line, or area on the surface of the earth in some
        notation.</a:documentation>
         <ref name="geo.content"/>
         <ref name="geo.localattributes"/>
      </element>
   </define>
   <define name="geo.content">
      <text/>
   </define>
   <define name="geo.localattributes">
      <ref name="att.global.attributes"/>
      <empty/>
   </define>
   <define name="geogFeat">
      <element name="geogFeat">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(geographical feature name) contains a common noun identifying some geographical feature contained within a geographic
        name, such as valley, mount, etc.</a:documentation>
         <ref name="geogFeat.content"/>
         <ref name="geogFeat.localattributes"/>
      </element>
   </define>
   <define name="geogFeat.content">
      <ref name="macro.xtext"/>
   </define>
   <define name="geogFeat.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.naming.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.datable.attributes"/>
      <empty/>
   </define>
   <define name="geogName">
      <element name="geogName">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(geographical name) a name associated with some geographical feature such as Windrush Valley or Mount Sinai.</a:documentation>
         <ref name="geogName.content"/>
         <ref name="geogName.localattributes"/>
      </element>
   </define>
   <define name="geogName.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="geogName.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.naming.attributes"/>
      <optional>
         <attribute name="type">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides more culture- linguistic- or application- specific information used to categorize this name component.</a:documentation>
            <ref name="data.enumerated"/>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="langKnowledge">
      <element name="langKnowledge">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(language knowledge) summarizes the state of a person's linguistic knowledge, either as prose or by a list of langKnown elements.</a:documentation>
         <ref name="langKnowledge.content"/>
         <ref name="langKnowledge.localattributes"/>
      </element>
   </define>
   <define name="langKnowledge.content">
      <choice>
         <ref name="model.pLike"/>
         <oneOrMore>
            <ref name="langKnown"/>
         </oneOrMore>
      </choice>
   </define>
   <define name="langKnowledge.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.datable.attributes"/>
      <ref name="att.editLike.attributes"/>
      <optional>
         <attribute name="tags">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies one or more valid language tags for the languages specified</a:documentation>
            <list>
               <ref name="data.language"/>
               <zeroOrMore>
                  <ref name="data.language"/>
               </zeroOrMore>
            </list>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="langKnown">
      <element name="langKnown">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(language known) summarizes the state of a person's linguistic competence, i.e., knowledge of a single language.</a:documentation>
         <ref name="langKnown.content"/>
         <ref name="langKnown.localattributes"/>
      </element>
   </define>
   <define name="langKnown.content">
      <ref name="macro.phraseSeq.limited"/>
   </define>
   <define name="langKnown.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.datable.attributes"/>
      <ref name="att.editLike.attributes"/>
      <attribute name="tag">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a valid language tag for the language concerned.</a:documentation>
         <ref name="data.language"/>
      </attribute>
      <optional>
         <attribute name="level">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">a code indicating the person's level of knowledge for this language </a:documentation>
            <ref name="data.word"/>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="listEvent">
      <element name="listEvent">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(list of events) contains a list of descriptions, each of which provides information
    about an identifiable event. </a:documentation>
         <ref name="listEvent.content"/>
         <ref name="listEvent.localattributes"/>
      </element>
   </define>
   <define name="listEvent.content">
      <group>
         <zeroOrMore>
            <ref name="model.headLike"/>
         </zeroOrMore>
         <oneOrMore>
            <choice>
               <ref name="event"/>
               <ref name="listEvent"/>
            </choice>
         </oneOrMore>
         <zeroOrMore>
            <choice>
               <ref name="relation"/>
               <ref name="relationGrp"/>
            </choice>
         </zeroOrMore>
      </group>
   </define>
   <define name="listEvent.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.declarable.attributes"/>
      <empty/>
   </define>
   <define name="listNym">
      <element name="listNym">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(list of canonical names) contains a list of nyms, that is, standardized names for any thing. </a:documentation>
         <ref name="listNym.content"/>
         <ref name="listNym.localattributes"/>
      </element>
   </define>
   <define name="listNym.content">
      <group>
         <zeroOrMore>
            <ref name="model.headLike"/>
         </zeroOrMore>
         <oneOrMore>
            <choice>
               <ref name="nym"/>
               <ref name="listNym"/>
            </choice>
         </oneOrMore>
         <zeroOrMore>
            <choice>
               <ref name="relationGrp"/>
               <ref name="relation"/>
            </choice>
         </zeroOrMore>
      </group>
   </define>
   <define name="listNym.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.declarable.attributes"/>
      <empty/>
   </define>
   <define name="listOrg">
      <element name="listOrg">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(list of organizations) contains a list of elements, each of which provides information about an identifiable
        organization. </a:documentation>
         <ref name="listOrg.content"/>
         <ref name="listOrg.localattributes"/>
      </element>
   </define>
   <define name="listOrg.content">
      <group>
         <zeroOrMore>
            <ref name="model.headLike"/>
         </zeroOrMore>
         <oneOrMore>
            <choice>
               <ref name="org"/>
               <ref name="listOrg"/>
            </choice>
         </oneOrMore>
         <zeroOrMore>
            <choice>
               <ref name="relationGrp"/>
               <ref name="relation"/>
            </choice>
         </zeroOrMore>
      </group>
   </define>
   <define name="listOrg.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.declarable.attributes"/>
      <empty/>
   </define>
   <define name="listPerson">
      <element name="listPerson">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(list of persons) contains a list of descriptions, each of which provides information about an identifiable
    person or a group of people, for example the participants in a language interaction, or the
    people referred to in a historical source. </a:documentation>
         <ref name="listPerson.content"/>
         <ref name="listPerson.localattributes"/>
      </element>
   </define>
   <define name="listPerson.content">
      <group>
         <zeroOrMore>
            <ref name="model.headLike"/>
         </zeroOrMore>
         <oneOrMore>
            <choice>
               <ref name="model.personLike"/>
               <ref name="listPerson"/>
            </choice>
         </oneOrMore>
         <zeroOrMore>
            <choice>
               <ref name="relation"/>
               <ref name="relationGrp"/>
            </choice>
         </zeroOrMore>
      </group>
   </define>
   <define name="listPerson.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.declarable.attributes"/>
      <empty/>
   </define>
   <define name="listPlace">
      <element name="listPlace">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(list of places) contains a list of places, optionally followed by a list of relationships (other than
        containment) defined amongst them. </a:documentation>
         <ref name="listPlace.content"/>
         <ref name="listPlace.localattributes"/>
      </element>
   </define>
   <define name="listPlace.content">
      <group>
         <zeroOrMore>
            <ref name="model.headLike"/>
         </zeroOrMore>
         <oneOrMore>
            <choice>
               <ref name="model.placeLike"/>
               <ref name="listPlace"/>
            </choice>
         </oneOrMore>
         <zeroOrMore>
            <choice>
               <ref name="relationGrp"/>
               <ref name="relation"/>
            </choice>
         </zeroOrMore>
      </group>
   </define>
   <define name="listPlace.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.declarable.attributes"/>
      <empty/>
   </define>
   <define name="location">
      <element name="location">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">defines the location of a place as a set of geographical coordinates, in terms of a other named geo-political entities, or as an
        address.</a:documentation>
         <ref name="location.content"/>
         <ref name="location.localattributes"/>
      </element>
   </define>
   <define name="location.content">
      <zeroOrMore>
         <choice>
            <ref name="model.labelLike"/>
            <ref name="model.placeNamePart"/>
            <ref name="model.offsetLike"/>
            <ref name="model.measureLike"/>
            <ref name="model.addressLike"/>
            <ref name="model.noteLike"/>
            <ref name="model.biblLike"/>
         </choice>
      </zeroOrMore>
   </define>
   <define name="location.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.datable.attributes"/>
      <ref name="att.editLike.attributes"/>
      <empty/>
   </define>
   <define name="nameLink">
      <element name="nameLink">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(name link) contains a connecting phrase or link used within a name but not regarded as part of it, such as van der or
            of.</a:documentation>
         <ref name="nameLink.content"/>
         <ref name="nameLink.localattributes"/>
      </element>
   </define>
   <define name="nameLink.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="nameLink.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
   </define>
   <define name="nationality">
      <element name="nationality">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains an informal description of a person's present or past nationality or citizenship.</a:documentation>
         <ref name="nationality.content"/>
         <ref name="nationality.localattributes"/>
      </element>
   </define>
   <define name="nationality.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="nationality.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.datable.attributes"/>
      <ref name="att.editLike.attributes"/>
      <ref name="att.naming.attributes"/>
      <empty/>
   </define>
   <define name="nym">
      <element name="nym">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(canonical name) contains the definition for a canonical name or namepart of any kind.</a:documentation>
         <ref name="nym.content"/>
         <ref name="nym.localattributes"/>
      </element>
   </define>
   <define name="nym.content">
      <group>
         <group>
            <zeroOrMore>
               <ref name="model.entryPart"/>
            </zeroOrMore>
         </group>
         <group>
            <zeroOrMore>
               <ref name="model.pLike"/>
            </zeroOrMore>
         </group>
         <group>
            <zeroOrMore>
               <ref name="nym"/>
            </zeroOrMore>
         </group>
      </group>
   </define>
   <define name="nym.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.typed.attributes"/>
      <optional>
         <attribute name="parts">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to constituent nyms </a:documentation>
            <list>
               <ref name="data.pointer"/>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
               <optional>
                  <ref name="data.pointer"/>
               </optional>
            </list>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="occupation">
      <element name="occupation">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains an informal description of a person's trade, profession or occupation.</a:documentation>
         <ref name="occupation.content"/>
         <ref name="occupation.localattributes"/>
      </element>
   </define>
   <define name="occupation.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="occupation.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.datable.attributes"/>
      <ref name="att.editLike.attributes"/>
      <ref name="att.naming.attributes"/>
      <optional>
         <attribute name="scheme">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the classification system or taxonomy in use by supplying the identifier of a taxonomy element elsewhere in the
                header.</a:documentation>
            <ref name="data.pointer"/>
         </attribute>
      </optional>
      <optional>
         <attribute name="code">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies an occupation code defined within the classification system or taxonomy defined by the scheme
                attribute.</a:documentation>
            <ref name="data.pointer"/>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="offset">
      <element name="offset">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">that part of a relative temporal or spatial expression which indicates the direction of the offset between the two place names, dates, or
        times involved in the expression. </a:documentation>
         <ref name="offset.content"/>
         <ref name="offset.localattributes"/>
      </element>
   </define>
   <define name="offset.content">
      <ref name="macro.xtext"/>
   </define>
   <define name="offset.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
   </define>
   <define name="org">
      <element name="org">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(organization) provides information about an identifiable organization such as a business, a tribe, or
        any other grouping of people.</a:documentation>
         <ref name="org.content"/>
         <ref name="org.localattributes"/>
      </element>
   </define>
   <define name="org.content">
      <group>
         <zeroOrMore>
            <ref name="model.headLike"/>
         </zeroOrMore>
         <choice>
            <group>
               <zeroOrMore>
                  <ref name="model.pLike"/>
               </zeroOrMore>
            </group>
            <zeroOrMore>
               <choice>
                  <ref name="model.labelLike"/>
                  <ref name="model.nameLike"/>
                  <ref name="model.placeLike"/>
               </choice>
            </zeroOrMore>
         </choice>
         <zeroOrMore>
            <choice>
               <ref name="model.noteLike"/>
               <ref name="model.biblLike"/>
            </choice>
         </zeroOrMore>
         <zeroOrMore>
            <ref name="model.personLike"/>
         </zeroOrMore>
      </group>
   </define>
   <define name="org.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.editLike.attributes"/>
      <optional>
         <attribute name="role">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies a primary role or classification for the organization.</a:documentation>
            <list>
               <ref name="data.word"/>
               <zeroOrMore>
                  <ref name="data.word"/>
               </zeroOrMore>
            </list>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="orgName">
      <element name="orgName">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(organization name) contains an organizational name. </a:documentation>
         <ref name="orgName.content"/>
         <ref name="orgName.localattributes"/>
      </element>
   </define>
   <define name="orgName.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="orgName.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.datable.attributes"/>
      <ref name="att.editLike.attributes"/>
      <ref name="att.personal.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
   </define>
   <define name="persName">
      <element name="persName">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(personal name) contains a proper noun or proper-noun phrase referring to a person, possibly including any
    or all of the person's forenames, surnames, honorifics, added names, etc.</a:documentation>
         <ref name="persName.content"/>
         <ref name="persName.localattributes"/>
      </element>
   </define>
   <define name="persName.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="persName.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.datable.attributes"/>
      <ref name="att.editLike.attributes"/>
      <ref name="att.personal.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
   </define>
   <define name="person">
      <element name="person">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides information about an identifiable individual, for example a participant in a language interaction, or a person referred to in a
        historical source.</a:documentation>
         <ref name="person.content"/>
         <ref name="person.localattributes"/>
      </element>
   </define>
   <define name="person.content">
      <choice>
         <oneOrMore>
            <ref name="model.pLike"/>
         </oneOrMore>
         <zeroOrMore>
            <choice>
               <ref name="model.personPart"/>
               <ref name="model.global"/>
            </choice>
         </zeroOrMore>
      </choice>
   </define>
   <define name="person.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.editLike.attributes"/>
      <optional>
         <attribute name="role">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies a primary role or classification for the person.</a:documentation>
            <list>
               <ref name="data.enumerated"/>
               <zeroOrMore>
                  <ref name="data.enumerated"/>
               </zeroOrMore>
            </list>
         </attribute>
      </optional>
      <optional>
         <attribute name="sex">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the sex of the person.</a:documentation>
            <ref name="data.sex"/>
         </attribute>
      </optional>
      <optional>
         <attribute name="age">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies an age group for the person.</a:documentation>
            <ref name="data.enumerated"/>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="personGrp">
      <element name="personGrp">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(personal group) describes a group of individuals treated as a single person for analytic purposes.</a:documentation>
         <ref name="personGrp.content"/>
         <ref name="personGrp.localattributes"/>
      </element>
   </define>
   <define name="personGrp.content">
      <choice>
         <oneOrMore>
            <ref name="model.pLike"/>
         </oneOrMore>
         <zeroOrMore>
            <ref name="model.personPart"/>
         </zeroOrMore>
      </choice>
   </define>
   <define name="personGrp.localattributes">
      <ref name="att.global.attributes"/>
      <optional>
         <attribute name="role">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the role of this group of participants in the interaction.</a:documentation>
            <ref name="data.enumerated"/>
         </attribute>
      </optional>
      <optional>
         <attribute name="sex">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the sex of the participant group.</a:documentation>
            <choice>
               <ref name="data.sex"/>
               <value>mixed</value>
            </choice>
         </attribute>
      </optional>
      <optional>
         <attribute name="age">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the age group of the participants.</a:documentation>
            <ref name="data.enumerated"/>
         </attribute>
      </optional>
      <optional>
         <attribute name="size">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the size or approximate size of the group.</a:documentation>
            <list>
               <ref name="data.word"/>
               <zeroOrMore>
                  <ref name="data.word"/>
               </zeroOrMore>
            </list>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="place">
      <element name="place">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains data about a geographic location</a:documentation>
         <ref name="place.content"/>
         <ref name="place.localattributes"/>
      </element>
   </define>
   <define name="place.content">
      <group>
         <zeroOrMore>
            <ref name="model.headLike"/>
         </zeroOrMore>
         <choice>
            <group>
               <zeroOrMore>
                  <ref name="model.pLike"/>
               </zeroOrMore>
            </group>
            <zeroOrMore>
               <choice>
                  <ref name="model.labelLike"/>
                  <ref name="model.placeStateLike"/>
                  <ref name="model.placeTraitLike"/>
                  <ref name="model.placeEventLike"/>
               </choice>
            </zeroOrMore>
         </choice>
         <zeroOrMore>
            <choice>
               <ref name="model.noteLike"/>
               <ref name="model.biblLike"/>
            </choice>
         </zeroOrMore>
         <zeroOrMore>
            <choice>
               <ref name="model.placeLike"/>
               <ref name="listPlace"/>
            </choice>
         </zeroOrMore>
      </group>
   </define>
   <define name="place.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.editLike.attributes"/>
      <empty/>
   </define>
   <define name="placeName">
      <element name="placeName">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains an absolute or relative place name. </a:documentation>
         <ref name="placeName.content"/>
         <ref name="placeName.localattributes"/>
      </element>
   </define>
   <define name="placeName.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="placeName.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.naming.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.datable.attributes"/>
      <ref name="att.editLike.attributes"/>
      <empty/>
   </define>
   <define name="population">
      <element name="population">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains information about the population of a place.</a:documentation>
         <ref name="population.content"/>
         <ref name="population.localattributes"/>
      </element>
   </define>
   <define name="population.content">
      <group>
         <zeroOrMore>
            <ref name="model.headLike"/>
         </zeroOrMore>
         <optional>
            <choice>
               <group>
                  <oneOrMore>
                     <ref name="model.pLike"/>
                  </oneOrMore>
               </group>
               <group>
                  <oneOrMore>
                     <ref name="model.labelLike"/>
                  </oneOrMore>
               </group>
            </choice>
            <zeroOrMore>
               <choice>
                  <ref name="model.noteLike"/>
                  <ref name="model.biblLike"/>
               </choice>
            </zeroOrMore>
         </optional>
         <zeroOrMore>
            <ref name="population"/>
         </zeroOrMore>
      </group>
   </define>
   <define name="population.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.datable.attributes"/>
      <ref name="att.editLike.attributes"/>
      <ref name="att.naming.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
   </define>
   <define name="region">
      <element name="region">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains the name of an administrative unit such as a state, province, or county, larger
    than a settlement, but smaller than a country.</a:documentation>
         <ref name="region.content"/>
         <ref name="region.localattributes"/>
      </element>
   </define>
   <define name="region.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="region.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.naming.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.datable.attributes"/>
      <empty/>
   </define>
   <define name="relation">
      <element name="relation">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(relationship) describes any kind of relationship or linkage amongst a specified group of participants.</a:documentation>
         <ref name="relation.content"/>
         <ref name="relation.localattributes"/>
      </element>
   </define>
   <define name="relation.content">
      <optional>
         <ref name="desc"/>
      </optional>
    
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
               id="relation-constraint-activemutual">
         <rule context="tei:relation">
            <report xmlns:rng="http://relaxng.org/ns/structure/1.0" test="@active and @mutual">Only one of the attributes
	'active' and 'mutual' may be supplied</report>
         </rule>
      </pattern>
    
  
    
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
               id="relation-constraint-activepassive">
         <rule context="tei:relation">
            <report xmlns:rng="http://relaxng.org/ns/structure/1.0" test="@passive and not(@active)">the attribute 'passive'
	may be supplied only if the attribute 'active' is
	supplied</report>
         </rule>
      </pattern>
    
  </define>
   <define name="relation.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.datable.attributes"/>
      <ref name="att.editLike.attributes"/>
      <ref name="att.naming.attributes"/>
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" name="type"
                    a:defaultValue="personal">
            <a:documentation>categorizes the relationship in some respect, e.g. as social, personal or other.
Suggested values include: 1] social; 2] personal; 3] other</a:documentation>
            <choice>
               <value>social</value>
               <a:documentation>relationship concerned with social roles</a:documentation>
               <value>personal</value>
               <a:documentation>relationship concerned with personal roles, e.g. kinship, marriage, etc.</a:documentation>
               <value>other</value>
               <a:documentation>other kinds of relationship</a:documentation>
               <data type="Name"/>
            </choice>
         </attribute>
      </optional>
      <attribute name="name">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a name for the kind of relationship of which this is an instance.</a:documentation>
         <ref name="data.enumerated"/>
      </attribute>
      <choice>
         <optional>
            <attribute name="active">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the active participants in a non-mutual relationship, or all the participants in a mutual
                    one.</a:documentation>
               <list>
                  <ref name="data.pointer"/>
                  <zeroOrMore>
                     <ref name="data.pointer"/>
                  </zeroOrMore>
               </list>
            </attribute>
         </optional>
         <optional>
            <attribute name="mutual">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a list of participants amongst all of whom the relationship holds equally.</a:documentation>
               <list>
                  <ref name="data.pointer"/>
                  <zeroOrMore>
                     <ref name="data.pointer"/>
                  </zeroOrMore>
               </list>
            </attribute>
         </optional>
      </choice>
      <optional>
         <attribute name="passive">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the passive participants in a non-mutual relationship.</a:documentation>
            <list>
               <ref name="data.pointer"/>
               <zeroOrMore>
                  <ref name="data.pointer"/>
               </zeroOrMore>
            </list>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="relationGrp">
      <element name="relationGrp">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(relation group) provides information about relationships identified amongst people, places, and
    organizations, either informally as prose or as formally expressed relation links. </a:documentation>
         <ref name="relationGrp.content"/>
         <ref name="relationGrp.localattributes"/>
      </element>
   </define>
   <define name="relationGrp.content">
      <choice>
         <oneOrMore>
            <ref name="model.pLike"/>
         </oneOrMore>
         <oneOrMore>
            <ref name="relation"/>
         </oneOrMore>
      </choice>
   </define>
   <define name="relationGrp.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
   </define>
   <define name="residence">
      <element name="residence">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(residence) describes a person's present or past places of residence.</a:documentation>
         <ref name="residence.content"/>
         <ref name="residence.localattributes"/>
      </element>
   </define>
   <define name="residence.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="residence.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.datable.attributes"/>
      <ref name="att.editLike.attributes"/>
      <ref name="att.naming.attributes"/>
      <empty/>
   </define>
   <define name="roleName">
      <element name="roleName">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a name component which indicates that the referent has a particular role or position in society, such as an official title or
        rank.</a:documentation>
         <ref name="roleName.content"/>
         <ref name="roleName.localattributes"/>
      </element>
   </define>
   <define name="roleName.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="roleName.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.personal.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
   </define>
   <define name="settlement">
      <element name="settlement">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains the name of a settlement such as a city, town, or village identified as a single geo-political or administrative unit.</a:documentation>
         <ref name="settlement.content"/>
         <ref name="settlement.localattributes"/>
      </element>
   </define>
   <define name="settlement.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="settlement.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.naming.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.datable.attributes"/>
      <empty/>
   </define>
   <define name="sex">
      <element name="sex">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the sex of a person.</a:documentation>
         <ref name="sex.content"/>
         <ref name="sex.localattributes"/>
      </element>
   </define>
   <define name="sex.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="sex.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.editLike.attributes"/>
      <ref name="att.datable.attributes"/>
      <optional>
         <attribute name="value">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <ref name="data.sex"/>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="socecStatus">
      <element name="socecStatus">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(socio-economic status) contains an informal description of a person's perceived social or economic status.</a:documentation>
         <ref name="socecStatus.content"/>
         <ref name="socecStatus.localattributes"/>
      </element>
   </define>
   <define name="socecStatus.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="socecStatus.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.datable.attributes"/>
      <ref name="att.editLike.attributes"/>
      <ref name="att.naming.attributes"/>
      <optional>
         <attribute name="scheme">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the classification system or taxonomy in use.</a:documentation>
            <ref name="data.pointer"/>
         </attribute>
      </optional>
      <optional>
         <attribute name="code">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies a status code defined within the classification system or taxonomy defined by the source attribute.</a:documentation>
            <ref name="data.pointer"/>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="state">
      <element name="state">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a description of some status or quality attributed to a person, place, or organization at some specific time.</a:documentation>
         <ref name="state.content"/>
         <ref name="state.localattributes"/>
      </element>
   </define>
   <define name="state.content">
      <choice>
         <oneOrMore>
            <ref name="state"/>
         </oneOrMore>
         <group>
            <zeroOrMore>
               <ref name="model.headLike"/>
            </zeroOrMore>
            <oneOrMore>
               <ref name="model.pLike"/>
            </oneOrMore>
            <zeroOrMore>
               <choice>
                  <ref name="model.noteLike"/>
                  <ref name="model.biblLike"/>
               </choice>
            </zeroOrMore>
         </group>
         <group>
            <zeroOrMore>
               <choice>
                  <ref name="model.labelLike"/>
                  <ref name="model.noteLike"/>
                  <ref name="model.biblLike"/>
               </choice>
            </zeroOrMore>
         </group>
      </choice>
   </define>
   <define name="state.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.datable.attributes"/>
      <ref name="att.editLike.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.naming.attributes"/>
      <empty/>
   </define>
   <define name="surname">
      <element name="surname">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a family (inherited) name, as opposed to a given, baptismal, or nick name.</a:documentation>
         <ref name="surname.content"/>
         <ref name="surname.localattributes"/>
      </element>
   </define>
   <define name="surname.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="surname.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.personal.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
   </define>
   <define name="terrain">
      <element name="terrain">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains information about the physical terrain of a place.</a:documentation>
         <ref name="terrain.content"/>
         <ref name="terrain.localattributes"/>
      </element>
   </define>
   <define name="terrain.content">
      <group>
         <zeroOrMore>
            <ref name="model.headLike"/>
         </zeroOrMore>
         <choice>
            <group>
               <oneOrMore>
                  <ref name="model.pLike"/>
               </oneOrMore>
            </group>
            <group>
               <oneOrMore>
                  <ref name="model.labelLike"/>
               </oneOrMore>
            </group>
         </choice>
         <zeroOrMore>
            <choice>
               <ref name="model.noteLike"/>
               <ref name="model.biblLike"/>
            </choice>
         </zeroOrMore>
         <zeroOrMore>
            <ref name="terrain"/>
         </zeroOrMore>
      </group>
   </define>
   <define name="terrain.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.datable.attributes"/>
      <ref name="att.editLike.attributes"/>
      <ref name="att.naming.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
   </define>
   <define name="trait">
      <element name="trait">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a description of some culturally-determined and in principle unchanging characteristic attributed to a person or place.</a:documentation>
         <ref name="trait.content"/>
         <ref name="trait.localattributes"/>
      </element>
   </define>
   <define name="trait.content">
      <choice>
         <oneOrMore>
            <ref name="trait"/>
         </oneOrMore>
         <group>
            <zeroOrMore>
               <ref name="model.headLike"/>
            </zeroOrMore>
            <oneOrMore>
               <ref name="model.pLike"/>
            </oneOrMore>
            <zeroOrMore>
               <choice>
                  <ref name="model.noteLike"/>
                  <ref name="model.biblLike"/>
               </choice>
            </zeroOrMore>
         </group>
         <group>
            <zeroOrMore>
               <choice>
                  <ref name="model.labelLike"/>
                  <ref name="model.noteLike"/>
                  <ref name="model.biblLike"/>
               </choice>
            </zeroOrMore>
         </group>
      </choice>
   </define>
   <define name="trait.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.datable.attributes"/>
      <ref name="att.editLike.attributes"/>
      <ref name="att.naming.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
   </define>
   <!--3. macros--></grammar>