oxygen-tei/frameworks/tei/xml/tei/schema/relaxng/transcr.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"><!--Schema generated 2011-03-05T14:52:51Z
Edition: 1.9.1. Last updated on March 5th 2011.

	  
Copyright 2011 TEI Consortium.
	  
This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of the
License, or (at your option) any later version. This library is
distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
details. You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA.


		
For information about the TEI, including contact
		details, consult the TEI web
	      site at http://www.tei-c.org/. 
		

	 Transcription of primary
sources--><!--Definitions from module transcr--><!--Set global predeclared macros--><!--Set predeclared macros--><!--0. predeclared macros--><!--1. classes--><define name="att.global.facs.attributes">
      <ref name="att.global.facs.attribute.facs"/>
   </define>
   <define name="att.global.facs.attribute.facs">
      <optional>
         <attribute name="facs">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(facsimile) points to all or part of an image which corresponds with the content of the element.</a:documentation>
            <list>
               <ref name="data.pointer"/>
               <zeroOrMore>
                  <ref name="data.pointer"/>
               </zeroOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="att.coordinated.attributes">
      <ref name="att.coordinated.attribute.start"/>
      <ref name="att.coordinated.attribute.ulx"/>
      <ref name="att.coordinated.attribute.uly"/>
      <ref name="att.coordinated.attribute.lrx"/>
      <ref name="att.coordinated.attribute.lry"/>
      <ref name="att.coordinated.attribute.points"/>
   </define>
   <define name="att.coordinated.attribute.start">
      <optional>
         <attribute name="start">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the element within a transcription of the text
containing at least the start of the writing represented by this zone
or surface.</a:documentation>
            <ref name="data.pointer"/>
         </attribute>
      </optional>
   </define>
   <define name="att.coordinated.attribute.ulx">
      <optional>
         <attribute name="ulx">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">gives the x coordinate value for the upper left corner of a
rectangular space.</a:documentation>
            <ref name="data.numeric"/>
         </attribute>
      </optional>
   </define>
   <define name="att.coordinated.attribute.uly">
      <optional>
         <attribute name="uly">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">gives the y coordinate value for the upper left corner of a
rectangular space.</a:documentation>
            <ref name="data.numeric"/>
         </attribute>
      </optional>
   </define>
   <define name="att.coordinated.attribute.lrx">
      <optional>
         <attribute name="lrx">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">gives the x coordinate value for the lower right corner of a
rectangular space.</a:documentation>
            <ref name="data.numeric"/>
         </attribute>
      </optional>
   </define>
   <define name="att.coordinated.attribute.lry">
      <optional>
         <attribute name="lry">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">gives the y coordinate value for the lower right corner of a
rectangular space.</a:documentation>
            <ref name="data.numeric"/>
         </attribute>
      </optional>
   </define>
   <define name="att.coordinated.attribute.points">
      <optional>
         <attribute name="points">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies a non-rectangular area within the bounding box
specified by the other attributes  by specifying
a series of pairs of numbers, each of which gives the x,y coordinates
of a point on a line defining the non-rectangular area.</a:documentation>
            <list>
               <ref name="data.point"/>
               <ref name="data.point"/>
               <ref name="data.point"/>
               <zeroOrMore>
                  <ref name="data.point"/>
               </zeroOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <!--2. elements--><define name="addSpan">
      <element name="addSpan">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(added span of text) marks the beginning of a longer sequence of text added by an
  author, scribe, annotator or corrector (see also add).</a:documentation>
         <ref name="addSpan.content"/>
         <ref name="addSpan.localattributes"/>
      </element>
   </define>
   <define name="addSpan.content">
      <empty/>
    
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="addSpan-constraint-spanTo">
         <rule context="tei:addSpan">
            <sch:assert xmlns="http://www.tei-c.org/ns/1.0" xmlns:s="http://www.ascc.net/xml/schematron"
                        xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                        xmlns:rng="http://relaxng.org/ns/structure/1.0"
                        test="@spanTo">The spanTo= attribute of <sch:name/> is required.</sch:assert>
         </rule>
      </pattern>
    
  
    
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="addSpan-constraint-spanTo_fr">
         <rule context="tei:addSpan">
            <sch:assert xmlns="http://www.tei-c.org/ns/1.0" xmlns:s="http://www.ascc.net/xml/schematron"
                        xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                        xmlns:rng="http://relaxng.org/ns/structure/1.0"
                        test="@spanTo">L'attribut spanTo est requis.</sch:assert>
         </rule>
      </pattern>
    
  </define>
   <define name="addSpan.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.transcriptional.attributes"/>
      <ref name="att.placement.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.spanning.attributes"/>
      <empty/>
   </define>
   <define name="am">
      <element name="am">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(abbreviation marker) contains a sequence of letters or signs present in an
  abbreviation which are omitted or replaced in the expanded form of
  the abbreviation.</a:documentation>
         <ref name="am.content"/>
         <ref name="am.localattributes"/>
      </element>
   </define>
   <define name="am.content">
      <zeroOrMore>
         <choice>
            <text/>
            <ref name="model.gLike"/>
            <ref name="model.pPart.transcriptional"/>
         </choice>
      </zeroOrMore>
   </define>
   <define name="am.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.editLike.attributes"/>
      <empty/>
   </define>
   <define name="damage">
      <element name="damage">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains an area of damage to the text witness.</a:documentation>
         <ref name="damage.content"/>
         <ref name="damage.localattributes"/>
      </element>
   </define>
   <define name="damage.content">
      <ref name="macro.paraContent"/>
   </define>
   <define name="damage.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.damaged.attributes"/>
      <empty/>
   </define>
   <define name="damageSpan">
      <element name="damageSpan">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(damaged span of text) marks the beginning of a longer sequence of text which is
  damaged in some way but still legible.</a:documentation>
         <ref name="damageSpan.content"/>
         <ref name="damageSpan.localattributes"/>
      </element>
   </define>
   <define name="damageSpan.content">
      <empty/>
    
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="damageSpan-constraint-spanTo">
         <rule context="tei:damageSpan">
            <assert xmlns:rng="http://relaxng.org/ns/structure/1.0" test="@spanTo">The spanTo= attribute of
	<name/> is required.</assert>
         </rule>
      </pattern>
    
  
    
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
               id="damageSpan-constraint-spanTo_fr">
         <rule context="tei:damageSpan">
            <assert xmlns:rng="http://relaxng.org/ns/structure/1.0" test="@spanTo">L'attribut spanTo est requis.</assert>
         </rule>
      </pattern>
    
  </define>
   <define name="damageSpan.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.damaged.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.spanning.attributes"/>
      <empty/>
   </define>
   <define name="delSpan">
      <element name="delSpan">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(deleted span of text) marks the beginning of a longer sequence of text deleted,
marked as deleted, or otherwise signaled as superfluous or spurious by an
author, scribe, annotator, or corrector.</a:documentation>
         <ref name="delSpan.content"/>
         <ref name="delSpan.localattributes"/>
      </element>
   </define>
   <define name="delSpan.content">
      <empty/>
    
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="delSpan-constraint-spanTo">
         <rule context="tei:delSpan">
            <assert xmlns:rng="http://relaxng.org/ns/structure/1.0" test="@spanTo">The spanTo= attribute of <name/>
      is required.</assert>
         </rule>
      </pattern>
    
  
    
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="delSpan-constraint-spanTo_fr">
         <rule context="tei:delSpan">
            <assert xmlns:rng="http://relaxng.org/ns/structure/1.0" test="@spanTo">L'attribut spanTo est requis.</assert>
         </rule>
      </pattern>
    
  </define>
   <define name="delSpan.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.transcriptional.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.spanning.attributes"/>
      <empty/>
   </define>
   <define name="ex">
      <element name="ex">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(editorial expansion) contains a sequence of letters added by an editor or
  transcriber when expanding an abbreviation.</a:documentation>
         <ref name="ex.content"/>
         <ref name="ex.localattributes"/>
      </element>
   </define>
   <define name="ex.content">
      <ref name="macro.xtext"/>
   </define>
   <define name="ex.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.editLike.attributes"/>
      <empty/>
   </define>
   <define name="facsimile">
      <element name="facsimile">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a representation of some written source in the form of
a set of images rather than as transcribed or encoded text.</a:documentation>
         <ref name="facsimile.content"/>
         <ref name="facsimile.localattributes"/>
      </element>
   </define>
   <define name="facsimile.content">
      <group>
         <optional>
            <ref name="front"/>
         </optional>
         <oneOrMore>
            <choice>
               <ref name="model.graphicLike"/>
               <ref name="surface"/>
            </choice>
         </oneOrMore>
         <optional>
            <ref name="back"/>
         </optional>
      </group>
   </define>
   <define name="facsimile.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.declaring.attributes"/>
      <empty/>
   </define>
   <define name="fw">
      <element name="fw">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(forme work) contains a running head (e.g. a header, footer), catchword, or
  similar material appearing on the current page.</a:documentation>
         <ref name="fw.content"/>
         <ref name="fw.localattributes"/>
      </element>
   </define>
   <define name="fw.content">
      <ref name="macro.phraseSeq"/>
   </define>
   <define name="fw.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.placement.attributes"/>
      <optional>
         <attribute name="type">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">classifies the material encoded according to some useful typology.
Sample values include: 1] header; 2] footer; 3] pageNum(page number) ; 4] lineNum(line number) ; 5] sig(signature) ; 6] catch(catchword) </a:documentation>
            <ref name="data.enumerated"/>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="gb">
      <element name="gb">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"> (gathering begins) marks the point in a transcribed codex at which a new
  gathering or quire begins.</a:documentation>
         <ref name="gb.content"/>
         <ref name="gb.localattributes"/>
      </element>
   </define>
   <define name="gb.content">
      <empty/>
   </define>
   <define name="gb.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.spanning.attributes"/>
      <ref name="att.breaking.attributes"/>
      <empty/>
   </define>
   <define name="handNotes">
      <element name="handNotes">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains one or more handNote elements documenting the
different hands identified within the source texts.</a:documentation>
         <ref name="handNotes.content"/>
         <ref name="handNotes.localattributes"/>
      </element>
   </define>
   <define name="handNotes.content">
      <oneOrMore>
         <ref name="handNote"/>
      </oneOrMore>
   </define>
   <define name="handNotes.localattributes">
      <ref name="att.global.attributes"/>
      <empty/>
   </define>
   <define name="handShift">
      <element name="handShift">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">marks the beginning of a sequence of text written in a new
hand, or the beginning of a scribal stint.</a:documentation>
         <ref name="handShift.content"/>
         <ref name="handShift.localattributes"/>
      </element>
   </define>
   <define name="handShift.content">
      <empty/>
   </define>
   <define name="handShift.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.handFeatures.attributes"/>
      <ref name="att.responsibility.attributes"/>
      <optional>
         <attribute name="new">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the new hand.</a:documentation>
            <ref name="data.pointer"/>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="restore">
      <element name="restore">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates restoration of text to an earlier state by
cancellation of an editorial or authorial marking or instruction.</a:documentation>
         <ref name="restore.content"/>
         <ref name="restore.localattributes"/>
      </element>
   </define>
   <define name="restore.content">
      <ref name="macro.paraContent"/>
   </define>
   <define name="restore.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.transcriptional.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
   </define>
   <define name="space">
      <element name="space">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the location of a significant space in the copy text.</a:documentation>
         <ref name="space.content"/>
         <ref name="space.localattributes"/>
      </element>
   </define>
   <define name="space.content">
      <zeroOrMore>
         <ref name="model.glossLike"/>
      </zeroOrMore>
   </define>
   <define name="space.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.dimensions.attributes"/>
      <optional>
         <attribute name="dim">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(dimension) indicates whether the space is horizontal or vertical.</a:documentation>
            <choice>
               <value>horizontal</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the space is horizontal.</a:documentation>
               <value>vertical</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the space is vertical.</a:documentation>
            </choice>
         </attribute>
      </optional>
      <optional>
         <attribute name="resp">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(responsible party) indicates the individual responsible for identifying and measuring
the space.</a:documentation>
            <ref name="data.pointer"/>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="subst">
      <element name="subst">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(substitution) groups one or more deletions with one or more additions when
  the combination is to be regarded as a single intervention in the text.</a:documentation>
         <ref name="subst.content"/>
         <ref name="subst.localattributes"/>
      </element>
   </define>
   <define name="subst.content">
      <group>
         <group>
            <ref name="model.pPart.transcriptional"/>
         </group>
         <oneOrMore>
            <ref name="model.pPart.transcriptional"/>
         </oneOrMore>
      </group>
   </define>
   <define name="subst.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.transcriptional.attributes"/>
      <empty/>
   </define>
   <define name="supplied">
      <element name="supplied">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">signifies text supplied by the transcriber or editor for any
  reason, typically because the original cannot be read because of
  physical damage or loss to the original.</a:documentation>
         <ref name="supplied.content"/>
         <ref name="supplied.localattributes"/>
      </element>
   </define>
   <define name="supplied.content">
      <ref name="macro.paraContent"/>
   </define>
   <define name="supplied.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.editLike.attributes"/>
      <optional>
         <attribute name="reason">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates why the text has had to be supplied.</a:documentation>
            <list>
               <ref name="data.word"/>
               <zeroOrMore>
                  <ref name="data.word"/>
               </zeroOrMore>
            </list>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="surface">
      <element name="surface">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">defines a written surface in terms of a rectangular
coordinate space, optionally  grouping one or more graphic representations of
that space, and rectangular zones of interest
within it.</a:documentation>
         <ref name="surface.content"/>
         <ref name="surface.localattributes"/>
      </element>
   </define>
   <define name="surface.content">
      <group>
         <zeroOrMore>
            <ref name="model.glossLike"/>
         </zeroOrMore>
         <zeroOrMore>
            <ref name="model.graphicLike"/>
         </zeroOrMore>
         <zeroOrMore>
            <ref name="zone"/>
         </zeroOrMore>
      </group>
   </define>
   <define name="surface.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.coordinated.attributes"/>
      <ref name="att.declaring.attributes"/>
      <empty/>
   </define>
   <define name="surplus">
      <element name="surplus">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"> (Texte superflu) marks text present in the source which the editor believes to
  be superfluous or redundant.</a:documentation>
         <ref name="surplus.content"/>
         <ref name="surplus.localattributes"/>
      </element>
   </define>
   <define name="surplus.content">
      <ref name="macro.paraContent"/>
   </define>
   <define name="surplus.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.editLike.attributes"/>
      <optional>
         <attribute name="reason">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the grounds for believing this text to be superfluous.</a:documentation>
            <list>
               <ref name="data.word"/>
               <zeroOrMore>
                  <ref name="data.word"/>
               </zeroOrMore>
            </list>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="zone">
      <element name="zone">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">defines a rectangular area contained within a surface
element. </a:documentation>
         <ref name="zone.content"/>
         <ref name="zone.localattributes"/>
      </element>
   </define>
   <define name="zone.content">
      <group>
         <zeroOrMore>
            <ref name="model.glossLike"/>
         </zeroOrMore>
         <zeroOrMore>
            <ref name="model.graphicLike"/>
         </zeroOrMore>
      </group>
   </define>
   <define name="zone.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.coordinated.attributes"/>
      <empty/>
   </define>
   <!--3. macros--></grammar>